################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clients/sellingpartner-api-aa-csharp/packages
