{
  "swagger": "2.0",
  "info": {
    "description": "Use the A+ Content API to build applications that help selling partners add rich marketing content to their Amazon product detail pages. Selling partners can use A+ content to share their brand and product story, which helps buyers make informed purchasing decisions. Selling partners use content modules to add images and text.",
    "version": "2020-11-01",
    "title": "Selling Partner API for A+ Content Management",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/aplus/2020-11-01/contentDocuments": {
      "get": {
        "tags": [
          "aplusContent"
        ],
        "description": "Returns a list of all A+ Content documents, including metadata, that are assigned to a selling partner. To get the actual contents of the A+ Content documents, call the `getContentDocument` operation.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "searchContentDocuments",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A token that you use to fetch a specific page when there are multiple pages of results.",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SearchContentDocumentsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "aplusContent"
        ],
        "description": "Creates a new A+ Content document.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "createContentDocument",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "body",
            "description": "The content document request details.",
            "name": "postContentDocumentRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostContentDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PostContentDocumentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/aplus/2020-11-01/contentDocuments/{contentReferenceKey}": {
      "get": {
        "tags": [
          "aplusContent"
        ],
        "description": "Returns an A+ Content document, if available.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getContentDocument",
        "parameters": [
          {
            "name": "contentReferenceKey",
            "in": "path",
            "description": "The unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ Content identifier.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "includedDataSet",
            "in": "query",
            "description": "The set of A+ Content data types to include in the response.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CONTENTS",
                "METADATA"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "CONTENTS",
                  "description": "The contents of the content document."
                },
                {
                  "value": "METADATA",
                  "description": "The content document's metadata."
                }
              ]
            },
            "collectionFormat": "csv",
            "minItems": 1,
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetContentDocumentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "aplusContent"
        ],
        "description": "Updates an existing A+ Content document.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "updateContentDocument",
        "parameters": [
          {
            "name": "contentReferenceKey",
            "in": "path",
            "description": "The unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ Content identifier.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "body",
            "name": "postContentDocumentRequest",
            "description": "The content document request details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostContentDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PostContentDocumentResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/asins": {
      "get": {
        "tags": [
          "aplusContent"
        ],
        "description": "Returns a list of ASINs that are related to the specified A+ Content document, if available. If you don't include the `asinSet` parameter, this operation returns all ASINs related to the content document.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listContentDocumentAsinRelations",
        "parameters": [
          {
            "name": "contentReferenceKey",
            "in": "path",
            "description": "The unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ Content identifier.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "includedDataSet",
            "in": "query",
            "description": "The set of A+ Content data types to include in the response. If you don't include this parameter, the operation returns the related ASINs without metadata.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "METADATA"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "METADATA",
                  "description": "The content document's metadata."
                }
              ]
            },
            "collectionFormat": "csv",
            "minItems": 0,
            "uniqueItems": true
          },
          {
            "name": "asinSet",
            "in": "query",
            "description": "The set of ASINs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 10
            },
            "collectionFormat": "csv",
            "uniqueItems": true
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A token that you use to fetch a specific page when there are multiple pages of results.",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ListContentDocumentAsinRelationsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "aplusContent"
        ],
        "description": "Replaces all ASINs related to the specified A+ Content document, if available. This operation can add or remove ASINs, depending on the current set of related ASINs. Removing an ASIN will suspend the content document from that ASIN.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "postContentDocumentAsinRelations",
        "parameters": [
          {
            "name": "contentReferenceKey",
            "in": "path",
            "description": "The unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ content identifier.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "in": "body",
            "name": "postContentDocumentAsinRelationsRequest",
            "description": "The request details for the content document ASIN relations.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostContentDocumentAsinRelationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PostContentDocumentAsinRelationsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/aplus/2020-11-01/contentAsinValidations": {
      "post": {
        "tags": [
          "aplusContent"
        ],
        "description": "Checks if the A+ Content document is valid for use on a set of ASINs.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "validateContentDocumentAsinRelations",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "asinSet",
            "in": "query",
            "description": "The set of ASINs.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 10
            },
            "collectionFormat": "csv",
            "uniqueItems": true
          },
          {
            "in": "body",
            "name": "postContentDocumentRequest",
            "description": "The content document request details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostContentDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ValidateContentDocumentAsinRelationsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/aplus/2020-11-01/contentPublishRecords": {
      "get": {
        "tags": [
          "aplusContent"
        ],
        "description": "Searches for A+ Content publishing records, if available.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "searchContentPublishRecords",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "asin",
            "in": "query",
            "description": "The Amazon Standard Identification Number (ASIN) is the unique identifier of a product within a marketplace.",
            "required": true,
            "type": "string",
            "minLength": 10
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A token that you use to fetch a specific page when there are multiple pages of results.",
            "required": false,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/SearchContentPublishRecordsResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/approvalSubmissions": {
      "post": {
        "tags": [
          "aplusContent"
        ],
        "description": "Submits an A+ Content document for review, approval, and publishing.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "postContentDocumentApprovalSubmission",
        "parameters": [
          {
            "name": "contentReferenceKey",
            "in": "path",
            "description": "The unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ content identifier.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PostContentDocumentApprovalSubmissionResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/suspendSubmissions": {
      "post": {
        "tags": [
          "aplusContent"
        ],
        "description": "Submits a request to suspend visible A+ Content. This doesn't delete the content document or the ASIN relations.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 10 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header contains the usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput might have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "postContentDocumentSuspendSubmission",
        "parameters": [
          {
            "name": "contentReferenceKey",
            "in": "path",
            "description": "The unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ content identifier.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/PostContentDocumentSuspendSubmissionResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "410": {
            "description": "The specified resource no longer exists.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation.\n**Note:** For this status code, the rate limit header is deprecated and no longer returned."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    }
  },
  "definitions": {
    "AplusResponse": {
      "type": "object",
      "properties": {
        "warnings": {
          "$ref": "#/definitions/MessageSet"
        }
      },
      "description": "The base response data for all A+ Content operations when a request is successful or partially successful. Individual operations can extend this with additional data."
    },
    "AplusPaginatedResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/AplusResponse"
        },
        {
          "type": "object",
          "properties": {
            "nextPageToken": {
              "$ref": "#/definitions/PageToken"
            }
          }
        }
      ],
      "description": "A token that you use to retrieve the next page of results. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextPageToken` is null. Note that this operation can return empty pages."
    },
    "ErrorList": {
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          },
          "description": "A list of error responses that are returned when a request is unsuccessful."
        }
      },
      "description": "The error response that is returned when a request is unsuccessful."
    },
    "MessageSet": {
      "type": "array",
      "description": "A set of messages to the user, such as warnings or comments.",
      "items": {
        "$ref": "#/definitions/Error"
      },
      "uniqueItems": true
    },
    "Error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that identifies the type of error that occurred.",
          "minLength": 1
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error condition.",
          "minLength": 1
        },
        "details": {
          "type": "string",
          "description": "Additional details that can help the caller understand or fix the issue.",
          "minLength": 1
        }
      },
      "description": "The error response that is returned when the request is unsuccessful."
    },
    "ContentMetadataRecordList": {
      "type": "array",
      "description": "A list of A+ Content metadata records.",
      "items": {
        "$ref": "#/definitions/ContentMetadataRecord"
      },
      "uniqueItems": false
    },
    "ContentMetadataRecord": {
      "type": "object",
      "required": [
        "contentMetadata",
        "contentReferenceKey"
      ],
      "properties": {
        "contentReferenceKey": {
          "$ref": "#/definitions/ContentReferenceKey"
        },
        "contentMetadata": {
          "$ref": "#/definitions/ContentMetadata"
        }
      },
      "description": "The metadata for an A+ Content document, with additional information for content management."
    },
    "ContentMetadata": {
      "type": "object",
      "required": [
        "badgeSet",
        "marketplaceId",
        "name",
        "status",
        "updateTime"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The A+ Content document's name.",
          "minLength": 1,
          "maxLength": 100
        },
        "marketplaceId": {
          "$ref": "#/definitions/MarketplaceId"
        },
        "status": {
          "$ref": "#/definitions/ContentStatus"
        },
        "badgeSet": {
          "$ref": "#/definitions/ContentBadgeSet"
        },
        "updateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The approximate age of the A+ Content document and metadata."
        }
      },
      "description": "The A+ Content document's metadata."
    },
    "ContentType": {
      "type": "string",
      "description": "The A+ Content document type.",
      "enum": [
        "EBC",
        "EMC"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "EBC",
          "description": "A+ Content published through the A+ Content Manager in Seller Central."
        },
        {
          "value": "EMC",
          "description": "A+ Content published through the A+ Content Manager in Vendor Central."
        }
      ]
    },
    "ContentSubType": {
      "type": "string",
      "minLength": 1,
      "description": "The A+ Content document subtype. This represents a special-purpose type of an A+ Content document. Not every A+ Content document type has a subtype, and subtypes can change at any time."
    },
    "ContentStatus": {
      "type": "string",
      "description": "The submission status of the content document.",
      "enum": [
        "APPROVED",
        "DRAFT",
        "REJECTED",
        "SUBMITTED"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "APPROVED",
          "description": "The content is approved and will be published to the applied ASINs."
        },
        {
          "value": "DRAFT",
          "description": "The content has not been submitted for approval."
        },
        {
          "value": "REJECTED",
          "description": "The content is rejected in review and must be revised and resubmitted based on the rejection reasons provided."
        },
        {
          "value": "SUBMITTED",
          "description": "The content is submitted for approval and is waiting for review."
        }
      ]
    },
    "ContentBadgeSet": {
      "type": "array",
      "description": "The set of content badges.",
      "items": {
        "$ref": "#/definitions/ContentBadge"
      },
      "uniqueItems": true
    },
    "ContentBadge": {
      "type": "string",
      "description": "A flag that provides additional information about an A+ Content document.",
      "enum": [
        "BULK",
        "GENERATED",
        "LAUNCHPAD",
        "PREMIUM",
        "STANDARD"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "BULK",
          "description": "This content is applied to ASINs in bulk."
        },
        {
          "value": "GENERATED",
          "description": "This content is generated by an automated process. If any user modifies this content, it will lose the `GENERATED` badge."
        },
        {
          "value": "LAUNCHPAD",
          "description": "Launchpad content."
        },
        {
          "value": "PREMIUM",
          "description": "Premium content"
        },
        {
          "value": "STANDARD",
          "description": "Standard content."
        }
      ]
    },
    "AsinBadgeSet": {
      "type": "array",
      "description": "The set of ASIN badges.",
      "items": {
        "$ref": "#/definitions/AsinBadge"
      },
      "uniqueItems": true
    },
    "AsinBadge": {
      "type": "string",
      "description": "A flag that provides additional information about an ASIN. This is contextual and can change depending on the request that generated it.",
      "enum": [
        "BRAND_NOT_ELIGIBLE",
        "CATALOG_NOT_FOUND",
        "CONTENT_NOT_PUBLISHED",
        "CONTENT_PUBLISHED"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "BRAND_NOT_ELIGIBLE",
          "description": "This ASIN is not part of the current user's brand. If the current user corrects their brand registration to include this ASIN, it loses the `BrandNotEligible` badge."
        },
        {
          "value": "CATALOG_NOT_FOUND",
          "description": "This ASIN is not found in the Amazon catalog. If any user creates or restores this ASIN, it loses the `CatalogNotFound` badge."
        },
        {
          "value": "CONTENT_NOT_PUBLISHED",
          "description": "This ASIN doesn't have the specified A+ Content published to it. If the current user publishes the specified content for this ASIN, it loses the `ContentNotPublished` badge."
        },
        {
          "value": "CONTENT_PUBLISHED",
          "description": "This ASIN has the specified A+ Content published to it. If the current user suspends the specified content for this ASIN, it loses the `ContentPublished` badge."
        }
      ]
    },
    "MarketplaceId": {
      "type": "string",
      "minLength": 1,
      "description": "The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids)."
    },
    "LanguageTag": {
      "type": "string",
      "minLength": 5,
      "description": "The IETF language tag, which supports the primary language subtag and one secondary language subtag. The secondary language subtag is usually a regional designation. This doesn't support subtags other than the primary and secondary subtags.\n**Pattern:** ^[a-z]{2,}-[A-Z0-9]{2,}$"
    },
    "AsinSet": {
      "type": "array",
      "description": "The set of ASINs.",
      "items": {
        "$ref": "#/definitions/Asin"
      },
      "uniqueItems": true
    },
    "Asin": {
      "type": "string",
      "minLength": 10,
      "description": "The Amazon Standard Identification Number (ASIN)."
    },
    "AsinMetadataSet": {
      "type": "array",
      "description": "The set of ASIN metadata.",
      "items": {
        "$ref": "#/definitions/AsinMetadata"
      },
      "uniqueItems": true
    },
    "AsinMetadata": {
      "type": "object",
      "required": [
        "asin"
      ],
      "properties": {
        "asin": {
          "$ref": "#/definitions/Asin"
        },
        "badgeSet": {
          "$ref": "#/definitions/AsinBadgeSet"
        },
        "parent": {
          "$ref": "#/definitions/Asin"
        },
        "title": {
          "type": "string",
          "description": "The title for the ASIN in the Amazon catalog.",
          "minLength": 1
        },
        "imageUrl": {
          "type": "string",
          "description": "The default image for the ASIN in the Amazon catalog.",
          "minLength": 1
        },
        "contentReferenceKeySet": {
          "$ref": "#/definitions/ContentReferenceKeySet"
        }
      },
      "description": "The A+ Content ASIN with additional metadata for content management. If you don't include the `includedDataSet` parameter in a call to the `listContentDocumentAsinRelations` operation, the related ASINs are returned without metadata."
    },
    "PublishRecordList": {
      "type": "array",
      "description": "A list of A+ Content publishing records.",
      "items": {
        "$ref": "#/definitions/PublishRecord"
      },
      "uniqueItems": false
    },
    "PublishRecord": {
      "type": "object",
      "required": [
        "asin",
        "contentReferenceKey",
        "contentType",
        "locale",
        "marketplaceId"
      ],
      "properties": {
        "marketplaceId": {
          "$ref": "#/definitions/MarketplaceId"
        },
        "locale": {
          "$ref": "#/definitions/LanguageTag"
        },
        "asin": {
          "$ref": "#/definitions/Asin"
        },
        "contentType": {
          "$ref": "#/definitions/ContentType"
        },
        "contentSubType": {
          "$ref": "#/definitions/ContentSubType"
        },
        "contentReferenceKey": {
          "$ref": "#/definitions/ContentReferenceKey"
        }
      },
      "description": "The full context for an A+ Content publishing event."
    },
    "ContentReferenceKeySet": {
      "type": "array",
      "description": "A set of content reference keys.",
      "items": {
        "$ref": "#/definitions/ContentReferenceKey"
      },
      "uniqueItems": true
    },
    "ContentReferenceKey": {
      "type": "string",
      "minLength": 1,
      "description": "A unique reference key for the A+ Content document. A content reference key cannot form a permalink and might change in the future. A content reference key is not guaranteed to match any A+ content identifier."
    },
    "PageToken": {
      "type": "string",
      "minLength": 1,
      "description": "A token that you use to fetch a specific page when there are multiple pages of results."
    },
    "ImageCropSpecification": {
      "type": "object",
      "required": [
        "size"
      ],
      "properties": {
        "size": {
          "$ref": "#/definitions/ImageDimensions"
        },
        "offset": {
          "$ref": "#/definitions/ImageOffsets"
        }
      },
      "description": "The instructions for optionally cropping an image. If you don't want to crop the image, set the dimensions to the original image size. If the image is cropped and you don't include offset values, the coordinates of the top left corner of the cropped image are set to (0,0) by default."
    },
    "ImageDimensions": {
      "type": "object",
      "required": [
        "height",
        "width"
      ],
      "properties": {
        "width": {
          "$ref": "#/definitions/IntegerWithUnits"
        },
        "height": {
          "$ref": "#/definitions/IntegerWithUnits"
        }
      },
      "description": "The dimensions that extend from the top left corner of the image (this applies to cropped and uncropped images). `ImageDimensions` units must be in pixels."
    },
    "ImageOffsets": {
      "type": "object",
      "required": [
        "x",
        "y"
      ],
      "properties": {
        "x": {
          "$ref": "#/definitions/IntegerWithUnits"
        },
        "y": {
          "$ref": "#/definitions/IntegerWithUnits"
        }
      },
      "description": "The top left corner of the cropped image, specified in the original image's coordinate space."
    },
    "IntegerWithUnits": {
      "type": "object",
      "required": [
        "units",
        "value"
      ],
      "properties": {
        "value": {
          "type": "integer",
          "description": "The dimension value."
        },
        "units": {
          "type": "string",
          "description": "The unit of measurement."
        }
      },
      "description": "A whole number dimension and its unit of measurement. For example, this can represent 100 pixels."
    },
    "ContentRecord": {
      "type": "object",
      "description": "A content document with additional information for content management.",
      "required": [
        "contentReferenceKey"
      ],
      "properties": {
        "contentReferenceKey": {
          "$ref": "#/definitions/ContentReferenceKey"
        },
        "contentMetadata": {
          "$ref": "#/definitions/ContentMetadata"
        },
        "contentDocument": {
          "$ref": "#/definitions/ContentDocument"
        }
      }
    },
    "ContentDocument": {
      "type": "object",
      "required": [
        "contentModuleList",
        "contentType",
        "locale",
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The A+ Content document name.",
          "minLength": 1,
          "maxLength": 100
        },
        "contentType": {
          "$ref": "#/definitions/ContentType"
        },
        "contentSubType": {
          "$ref": "#/definitions/ContentSubType"
        },
        "locale": {
          "$ref": "#/definitions/LanguageTag"
        },
        "contentModuleList": {
          "$ref": "#/definitions/ContentModuleList"
        }
      },
      "description": "The A+ Content document. This is the enhanced content that is published to product detail pages."
    },
    "ContentModuleList": {
      "type": "array",
      "description": "A list of A+ Content modules.",
      "items": {
        "$ref": "#/definitions/ContentModule"
      },
      "uniqueItems": false,
      "minItems": 1,
      "maxItems": 100
    },
    "ContentModule": {
      "type": "object",
      "required": [
        "contentModuleType"
      ],
      "properties": {
        "contentModuleType": {
          "$ref": "#/definitions/ContentModuleType"
        },
        "standardCompanyLogo": {
          "$ref": "#/definitions/StandardCompanyLogoModule"
        },
        "standardComparisonTable": {
          "$ref": "#/definitions/StandardComparisonTableModule"
        },
        "standardFourImageText": {
          "$ref": "#/definitions/StandardFourImageTextModule"
        },
        "standardFourImageTextQuadrant": {
          "$ref": "#/definitions/StandardFourImageTextQuadrantModule"
        },
        "standardHeaderImageText": {
          "$ref": "#/definitions/StandardHeaderImageTextModule"
        },
        "standardImageSidebar": {
          "$ref": "#/definitions/StandardImageSidebarModule"
        },
        "standardImageTextOverlay": {
          "$ref": "#/definitions/StandardImageTextOverlayModule"
        },
        "standardMultipleImageText": {
          "$ref": "#/definitions/StandardMultipleImageTextModule"
        },
        "standardProductDescription": {
          "$ref": "#/definitions/StandardProductDescriptionModule"
        },
        "standardSingleImageHighlights": {
          "$ref": "#/definitions/StandardSingleImageHighlightsModule"
        },
        "standardSingleImageSpecsDetail": {
          "$ref": "#/definitions/StandardSingleImageSpecsDetailModule"
        },
        "standardSingleSideImage": {
          "$ref": "#/definitions/StandardSingleSideImageModule"
        },
        "standardTechSpecs": {
          "$ref": "#/definitions/StandardTechSpecsModule"
        },
        "standardText": {
          "$ref": "#/definitions/StandardTextModule"
        },
        "standardThreeImageText": {
          "$ref": "#/definitions/StandardThreeImageTextModule"
        }
      },
      "description": "An A+ Content module. An A+ Content document is composed of content modules. The `contentModuleType` property selects which content module types to use."
    },
    "ContentModuleType": {
      "type": "string",
      "description": "The type of A+ Content module.",
      "enum": [
        "STANDARD_COMPANY_LOGO",
        "STANDARD_COMPARISON_TABLE",
        "STANDARD_FOUR_IMAGE_TEXT",
        "STANDARD_FOUR_IMAGE_TEXT_QUADRANT",
        "STANDARD_HEADER_IMAGE_TEXT",
        "STANDARD_IMAGE_SIDEBAR",
        "STANDARD_IMAGE_TEXT_OVERLAY",
        "STANDARD_MULTIPLE_IMAGE_TEXT",
        "STANDARD_PRODUCT_DESCRIPTION",
        "STANDARD_SINGLE_IMAGE_HIGHLIGHTS",
        "STANDARD_SINGLE_IMAGE_SPECS_DETAIL",
        "STANDARD_SINGLE_SIDE_IMAGE",
        "STANDARD_TECH_SPECS",
        "STANDARD_TEXT",
        "STANDARD_THREE_IMAGE_TEXT"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "STANDARD_COMPANY_LOGO",
          "description": "The standard company logo image."
        },
        {
          "value": "STANDARD_COMPARISON_TABLE",
          "description": "The standard product comparison table or chart."
        },
        {
          "value": "STANDARD_FOUR_IMAGE_TEXT",
          "description": "Four standard images with text, presented across a single row."
        },
        {
          "value": "STANDARD_FOUR_IMAGE_TEXT_QUADRANT",
          "description": "Four standard images with text, presented on a grid of four quadrants."
        },
        {
          "value": "STANDARD_HEADER_IMAGE_TEXT",
          "description": "Standard headline text, an image, and body text."
        },
        {
          "value": "STANDARD_IMAGE_SIDEBAR",
          "description": "Two images, two paragraphs, and two bulleted lists. One image is smaller and is displayed in the sidebar."
        },
        {
          "value": "STANDARD_IMAGE_TEXT_OVERLAY",
          "description": "A standard background image with a floating text box."
        },
        {
          "value": "STANDARD_MULTIPLE_IMAGE_TEXT",
          "description": "Standard images with text, presented one at a time. The user clicks on thumbnails to view each block."
        },
        {
          "value": "STANDARD_PRODUCT_DESCRIPTION",
          "description": "Standard product description text."
        },
        {
          "value": "STANDARD_SINGLE_IMAGE_HIGHLIGHTS",
          "description": "A standard image with several paragraphs and a bulleted list."
        },
        {
          "value": "STANDARD_SINGLE_IMAGE_SPECS_DETAIL",
          "description": "A standard image with paragraphs, a bulleted list, and extra space for technical details."
        },
        {
          "value": "STANDARD_SINGLE_SIDE_IMAGE",
          "description": "A standard headline with body text and an image to the side."
        },
        {
          "value": "STANDARD_TECH_SPECS",
          "description": "The standard table of technical feature names and definitions."
        },
        {
          "value": "STANDARD_TEXT",
          "description": "Standard headline and body text."
        },
        {
          "value": "STANDARD_THREE_IMAGE_TEXT",
          "description": "Three standard images with text, presented across one row."
        }
      ]
    },
    "StandardCompanyLogoModule": {
      "type": "object",
      "required": [
        "companyLogo"
      ],
      "properties": {
        "companyLogo": {
          "$ref": "#/definitions/ImageComponent"
        }
      },
      "description": "The standard company logo image."
    },
    "StandardComparisonTableModule": {
      "type": "object",
      "properties": {
        "productColumns": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StandardComparisonProductBlock"
          },
          "maxItems": 6,
          "minItems": 0
        },
        "metricRowLabels": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlainTextItem"
          },
          "maxItems": 10,
          "minItems": 0
        }
      },
      "description": "The standard product comparison table."
    },
    "StandardFourImageTextModule": {
      "type": "object",
      "properties": {
        "headline": {
          "$ref": "#/definitions/TextComponent"
        },
        "block1": {
          "$ref": "#/definitions/StandardImageTextBlock"
        },
        "block2": {
          "$ref": "#/definitions/StandardImageTextBlock"
        },
        "block3": {
          "$ref": "#/definitions/StandardImageTextBlock"
        },
        "block4": {
          "$ref": "#/definitions/StandardImageTextBlock"
        }
      },
      "description": "Four standard images with text, presented across a single row."
    },
    "StandardFourImageTextQuadrantModule": {
      "type": "object",
      "required": [
        "block1",
        "block2",
        "block3",
        "block4"
      ],
      "properties": {
        "block1": {
          "$ref": "#/definitions/StandardImageTextBlock"
        },
        "block2": {
          "$ref": "#/definitions/StandardImageTextBlock"
        },
        "block3": {
          "$ref": "#/definitions/StandardImageTextBlock"
        },
        "block4": {
          "$ref": "#/definitions/StandardImageTextBlock"
        }
      },
      "description": "Four standard images with text, presented on a grid of four quadrants."
    },
    "StandardHeaderImageTextModule": {
      "type": "object",
      "properties": {
        "headline": {
          "$ref": "#/definitions/TextComponent"
[...]
