{
  "swagger": "2.0",
  "info": {
    "title": "The Selling Partner API for Amazon Warehousing and Distribution",
    "version": "2024-05-09",
    "description": "The Selling Partner API for Amazon Warehousing and Distribution (AWD) provides programmatic access to information about AWD shipments and inventory.",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/awd/2024-05-09/inboundOrders": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Payload for creating an inbound order.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundOrderCreationData"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "`createInbound` 201 response.",
            "headers": {
              "Location": {
                "description": "Location header with the order ID for the newly created inbound order.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/InboundOrderReference"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "externalReferenceId": "string",
                          "originAddress": {
                            "addressLine1": "address_1",
                            "addressLine2": "address_2",
                            "addressLine3": "address_3",
                            "city": "City1",
                            "countryCode": "CC",
                            "district": "District1",
                            "name": "address_name",
                            "postalCode": "123456",
                            "stateOrRegion": "State1"
                          },
                          "packagesToInbound": [
                            {
                              "count": 1,
                              "distributionPackage": {
                                "contents": {
                                  "products": [
                                    {
                                      "quantity": 1,
                                      "sku": "testPen",
                                      "expiration": "2025-06-07T12:12:09.061Z",
                                      "prepDetails": {
                                        "prepCategory": "PERFORATED",
                                        "prepOwner": "AMAZON",
                                        "labelOwner": "SELF"
                                      }
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "INCHES",
                                    "width": 1
                                  },
                                  "volume": {
                                    "unitOfMeasurement": "CUIN",
                                    "volume": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "POUNDS",
                                    "weight": 1
                                  }
                                },
                                "type": "CASE"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "orderId": "TestOrderId"
                  },
                  "responseHeaders": {
                    "Location": {
                      "value": "TestOrderId"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "externalReferenceId": "string",
                          "originAddress": {
                            "addressLine1": "address_1",
                            "addressLine2": "address_2",
                            "addressLine3": "address_3",
                            "city": "City1",
                            "countryCode": "CC",
                            "district": "District1",
                            "name": "address_name",
                            "postalCode": "123456",
                            "stateOrRegion": "State1"
                          },
                          "packagesToInbound": [
                            {
                              "count": 1,
                              "distributionPackage": {
                                "contents": {
                                  "products": [
                                    {
                                      "quantity": 1,
                                      "sku": "testPen",
                                      "expiration": "2025-06-07T12:12:09.061Z",
                                      "prepDetails": {
                                        "prepCategory": "PERFORATED",
                                        "prepOwner": "AMAZON",
                                        "labelOwner": "SELF"
                                      }
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "INCHES",
                                    "width": 1
                                  },
                                  "volume": {
                                    "unitOfMeasurement": "CUIN",
                                    "volume": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "POUNDS",
                                    "weight": 1
                                  }
                                },
                                "type": "TEST"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "message": "Invalid value (`TEST`) passed for `DistributionPackageType`. Valid values are: `CASE`, `PALLET`",
                        "details": "This exception is thrown when client inputs are invalid."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation creates one shipment per order. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "createInbound"
      }
    },
    "/awd/2024-05-09/inboundOrders/{orderId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the inbound order that you want to retrieve.",
            "in": "path",
            "name": "orderId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The 200 response for `getInbound`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/InboundOrder"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TestOrderId"
                      }
                    }
                  },
                  "response": {
                    "destinationDetails": {
                      "destinationAddress": {
                        "addressLine1": "address_1",
                        "addressLine2": "address_2",
                        "addressLine3": "address_3",
                        "city": "Seattle",
                        "countryCode": "US",
                        "county": "Washington",
                        "district": "District1",
                        "name": "address_name",
                        "phoneNumber": "+14155552671",
                        "postalCode": "123456",
                        "stateOrRegion": "Washington"
                      },
                      "destinationRegion": "us-east"
                    },
                    "createdAt": "2023-06-07T12:12:09.061Z",
                    "externalReferenceId": "TestReferenceId",
                    "orderId": "TestOrderId",
                    "orderStatus": "DRAFT",
                    "originAddress": {
                      "addressLine1": "address_1",
                      "addressLine2": "address_2",
                      "addressLine3": "address_3",
                      "city": "Seattle",
                      "countryCode": "US",
                      "county": "Washington",
                      "district": "District1",
                      "name": "address_name",
                      "phoneNumber": "+14155552671",
                      "postalCode": "123456",
                      "stateOrRegion": "Washington"
                    },
                    "packagesToInbound": [
                      {
                        "count": 1,
                        "distributionPackage": {
                          "contents": {
                            "packages": [],
                            "products": [
                              {
                                "quantity": 1,
                                "sku": "testPen",
                                "expiration": "2025-06-07T12:12:09.061Z",
                                "prepDetails": {
                                  "prepCategory": "PERFORATED",
                                  "prepOwner": "AMAZON",
                                  "labelOwner": "SELF",
                                  "prepInstructions": [{
                                    "prepType": "ITEM_POLYBAGGING",
                                    "prepOwner": "AMAZON"
                                  }]
                                }
                              }
                            ]
                          },
                          "measurements": {
                            "dimensions": {
                              "height": 2.54,
                              "length": 2.54,
                              "unitOfMeasurement": "CENTIMETERS",
                              "width": 2.54
                            },
                            "weight": {
                              "unitOfMeasurement": "KILOGRAMS",
                              "weight": 0.453592
                            }
                          },
                          "type": "CASE"
                        }
                      }
                    ],
                    "updatedAt": "2023-06-07T12:12:09.061Z"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": " "
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "OrderId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Retrieves an AWD inbound order.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getInbound"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the inbound order that you want to update.",
            "in": "path",
            "name": "orderId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Represents an AWD inbound order.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundOrder"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The 204 response for `updateInbound`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TestOrderId1"
                      },
                      "body": {
                        "value": {
                          "createdAt": "2023-06-07T12:12:09.061Z",
                          "destinationDetails": {
                            "destinationAddress": {
                              "addressLine1": "address_1",
                              "addressLine2": "address_2",
                              "addressLine3": "address_3",
                              "city": "Seattle",
                              "countryCode": "US",
                              "county": "Washington",
                              "district": "District1",
                              "name": "address_name",
                              "phoneNumber": "+14155552671",
                              "postalCode": "123456",
                              "stateOrRegion": "Washington"
                            },
                            "destinationRegion": "us-east"
                          },
                          "orderId": "TestOrderId1",
                          "orderStatus": "DRAFT",
                          "originAddress": {
                            "addressLine1": "address_1",
                            "addressLine2": "address_2",
                            "addressLine3": "address_3",
                            "city": "City1",
                            "countryCode": "CC",
                            "district": "District1",
                            "name": "DestinationName",
                            "postalCode": "123456",
                            "stateOrRegion": "State1"
                          },
                          "packagesToInbound": [
                            {
                              "count": 2,
                              "distributionPackage": {
                                "contents": {
                                  "packages": [],
                                  "products": [
                                    {
                                      "quantity": 10,
                                      "sku": "testPen",
                                      "expiration": "2025-06-07T12:12:09.061Z",
                                      "prepDetails": {
                                        "prepCategory": "PERFORATED",
                                        "prepOwner": "AMAZON",
                                        "labelOwner": "SELF",
                                        "prepInstructions": [{
                                          "prepType": "ITEM_POLYBAGGING",
                                          "prepOwner": "AMAZON"
                                        }]
                                      }
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "CENTIMETERS",
                                    "width": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "KILOGRAMS",
                                    "weight": 1
                                  }
                                },
                                "type": "CASE"
                              }
                            }
                          ],
                          "updatedAt": "2023-06-07T12:12:09.061Z"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TestOrderId1"
                      },
                      "body": {
                        "value": {
                          "destinationDetails": {
                            "destinationAddress": {
                              "addressLine1": "address_1",
                              "addressLine2": "address_2",
                              "addressLine3": "address_3",
                              "city": "Seattle",
                              "countryCode": "US",
                              "county": "Washington",
                              "district": "District1",
                              "name": "address_name",
                              "phoneNumber": "+14155552671",
                              "postalCode": "123456",
                              "stateOrRegion": "Washington"
                            },
                            "destinationRegion": "us-east"
                          },
                          "createdAt": "2023-06-07T12:12:09.061Z",
                          "orderId": "TestOrderId1",
                          "orderStatus": "DRAFT",
                          "originAddress": {
                            "addressLine1": "address_1",
                            "addressLine2": "address_2",
                            "addressLine3": "address_3",
                            "city": "City1",
                            "countryCode": "CC",
                            "district": "District1",
                            "name": "DestinationName",
                            "postalCode": "123456",
                            "stateOrRegion": "State1"
                          },
                          "packagesToInbound": [
                            {
                              "count": 2,
                              "distributionPackage": {
                                "contents": {
                                  "packages": [],
                                  "products": [
                                    {
                                      "quantity": 10,
                                      "sku": "testPen",
                                      "expiration": "2025-06-07T12:12:09.061Z",
                                      "prepDetails": {
                                        "prepCategory": "PERFORATED",
                                        "prepOwner": "AMAZON",
                                        "labelOwner": "SELF",
                                        "prepInstructions": [{
                                          "prepType": "ITEM_POLYBAGGING",
                                          "prepOwner": "AMAZON"
                                        }]
                                      }
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "CENTIMETERS",
                                    "width": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "KILOGRAMS",
                                    "weight": 1
                                  }
                                },
                                "type": "TEST"
                              }
                            }
                          ],
                          "updatedAt": "2023-06-07T12:12:09.061Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "message": "Invalid value (`TEST`) passed for `DistributionPackageType`. Valid values are: `CASE`, `PALLET`",
                        "details": "This exception is thrown when client inputs are invalid."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "409": {
            "description": "`ConflictException` 409 response.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Updates an AWD inbound order that is in `DRAFT` status and not yet confirmed. Use this operation to update the `packagesToInbound`, `originAddress` and `preferences` attributes.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "updateInbound"
      }
    },
    "/awd/2024-05-09/inboundOrders/{orderId}/cancellation": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the inbound order you want to cancel.",
            "in": "path",
            "name": "orderId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The 204 response for `cancelInbound`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TestOrderId1"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": [{}]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": " "
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "OrderId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "409": {
            "description": "`ConflictException` 409 response.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Cancels an AWD Inbound order and its associated shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "cancelInbound"
      }
    },
    "/awd/2024-05-09/inboundOrders/{orderId}/confirmation": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the inbound order that you want to confirm.",
            "in": "path",
            "name": "orderId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "The 204 response for `confirmInbound`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": "TestOrderId1"
                      }
                    }
                  }
                }
              ]
            },
            "examples": {
              "application/json": [{}]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "orderId": {
                        "value": " "
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "OrderId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "409": {
            "description": "`ConflictException` 409 response.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Confirms an AWD inbound order in `DRAFT` status.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "confirmInbound"
      }
    },
    "/awd/2024-05-09/inboundShipments/{shipmentId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID for the shipment. A shipment contains the cases being inbounded.",
            "in": "path",
            "minLength": 1,
            "name": "shipmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "If equal to `SHOW`, the response includes the shipment SKU quantity details.\n\nDefaults to `HIDE`, in which case the response does not contain SKU quantities",
            "enum": [
              "SHOW",
              "HIDE"
            ],
            "in": "query",
            "name": "skuQuantities",
            "type": "string",
            "x-example": "SHOW",
            "x-docgen-enum-table-extension": [
              {
                "description": "Show the additional SKU quantity details.",
                "value": "SHOW"
              },
              {
                "description": "Hide the additional SKU quantity details.",
                "value": "HIDE"
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The 200 response for `getInboundShipment`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/InboundShipment"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TestShipmentId"
                      }
                    }
                  },
                  "response": {
                    "createdAt": "2023-06-07T12:12:09.061Z",
                    "destinationAddress": {
                      "addressLine1": "address_line_1",
                      "addressLine2": "address_line_2",
                      "addressLine3": "address_line_3",
                      "city": "City1",
                      "countryCode": "CC",
                      "district": "District1",
                      "name": "DestinationName",
                      "postalCode": "123456",
                      "stateOrRegion": "State1"
                    },
                    "orderId": "TestOrderId",
                    "originAddress": {
                      "addressLine1": "address_1",
                      "addressLine2": "address_2",
                      "addressLine3": "address_3",
                      "city": "City1",
                      "countryCode": "CC",
                      "district": "District1",
                      "name": "address_name",
                      "postalCode": "123456",
                      "stateOrRegion": "State1"
                    },
                    "receivedQuantity": [
                      {
                        "quantity": 0,
                        "unitOfMeasurement": "CASES"
                      }
                    ],
                    "shipmentContainerQuantities": [
                      {
                        "count": 2,
                        "distributionPackage": {
                          "contents": {
                            "packages": [],
                            "products": [
                              {
                                "quantity": 20,
                                "sku": "testPen"
                              }
                            ]
                          },
                          "measurements": {
                            "dimensions": {
                              "height": 33.02,
                              "length": 45.72,
                              "unitOfMeasurement": "CENTIMETERS",
                              "width": 15.24
                            },
                            "weight": {
                              "unitOfMeasurement": "KILOGRAMS",
                              "weight": 5.443104
                            }
                          },
                          "type": "CASE"
                        }
                      }
                    ],
                    "shipmentId": "TestShipmentId",
                    "shipmentStatus": "CREATED",
                    "shipmentSkuQuantities": [
                      {
                        "sku": "testPen",
                        "expectedQuantity": {
                          "quantity": 2,
                          "unitOfMeasurement": "CASE"
                        },
                        "receivedQuantity": {
                          "quantity": 0,
                          "unitOfMeasurement": "CASE"
                        }
                      }
                    ],
                    "updatedAt": "2023-06-07T12:12:09.061Z"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": " "
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "ShipmentId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Retrieves an AWD inbound shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api)",
        "operationId": "getInboundShipment"
      }
    },
    "/awd/2024-05-09/inboundShipments/{shipmentId}/labels": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID for the shipment.",
            "in": "path",
            "minLength": 1,
            "name": "shipmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Page type for the generated labels. The default is `PLAIN_PAPER`.",
            "enum": [
              "THERMAL_NONPCP",
              "PLAIN_PAPER",
              "LETTER_6"
            ],
            "in": "query",
            "name": "pageType",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "description": "Use `THERMAL_NONPC` for a thermal printer. Supports non-Amazon-partnered shipments.",
                "value": "THERMAL_NONPCP"
              },
              {
                "description": "One label per sheet of US Letter paper. Only for non-Amazon-partnered shipments.",
                "value": "PLAIN_PAPER"
              },
              {
                "description": "Six labels per US Letter label sheet.",
                "value": "LETTER_6"
              }
            ],
            "x-example": "PLAIN_PAPER"
          },
          {
            "description": "The format type of the output file that contains your labels. The default format type is `PDF`.",
            "enum": [
              "PDF"
            ],
            "in": "query",
            "name": "formatType",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "description": "PDF format.",
                "value": "PDF"
              }
            ],
            "x-example": "PDF"
          }
        ],
        "responses": {
          "200": {
            "description": "The 200 response for `getInboundShipmentLabels`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ShipmentLabels"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TestShipmentId"
                      }
                    }
                  },
                  "response": {
                    "labelDownloadURL": "TEST_URL",
                    "labelStatus": "GENERATED"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": " "
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "ShipmentId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Retrieves the box labels for a shipment ID that you specify. This is an asynchronous operation. If the label status is `GENERATED`, then the label URL is available.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getInboundShipmentLabels"
      }
    },
    "/awd/2024-05-09/inboundShipments/{shipmentId}/transport": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The shipment ID.",
            "in": "path",
            "minLength": 1,
            "name": "shipmentId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Transportation details for the shipment.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransportationDetails"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The 204 response for `updateInboundShipmentTransportDetails`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": "TestShipmentId"
                      },
                      "body": {
                        "value": {
                          "trackingDetails": [
                            {
                              "carrierCode": {
                                "carrierCodeType": "SCAC"
                              },
                              "bookingId": "TRACKING_ID"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "shipmentId": {
                        "value": " "
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "ShipmentId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Updates transport details for an AWD shipment.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "updateInboundShipmentTransportDetails"
      }
    },
    "/awd/2024-05-09/inboundEligibility": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Represents the packages you want to inbound.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundPackages"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The 200 response for `checkInboundEligibility`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/InboundEligibility"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "packagesToInbound": [
                            {
                              "count": 1,
                              "distributionPackage": {
                                "contents": {
                                  "products": [
                                    {
                                      "quantity": 1,
                                      "sku": "TestDVDSku"
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "INCHES",
                                    "width": 1
                                  },
                                  "volume": {
                                    "unitOfMeasurement": "CUIN",
                                    "volume": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "POUNDS",
                                    "weight": 1
                                  }
                                },
                                "type": "CASE"
                              }
                            },
                            {
                              "count": 1,
                              "distributionPackage": {
                                "contents": {
                                  "products": [
                                    {
                                      "quantity": 1,
                                      "sku": "testPen"
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "INCHES",
                                    "width": 1
                                  },
                                  "volume": {
                                    "unitOfMeasurement": "CUIN",
                                    "volume": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "POUNDS",
                                    "weight": 1
                                  }
                                },
                                "type": "CASE"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "ineligibilityReasons": [],
                    "status": "INELIGIBLE",
                    "packagesToInbound": [
                      {
                        "ineligibilityReasons": [
                          {
                            "description": "You can't use the gating service to buy this item.",
                            "code": "GATING_BLOCK_ON_GL"
                          }
                        ],
                        "status": "INELIGIBLE",
                        "packageQuantity": {
                          "count": 1,
                          "distributionPackage": {
                            "contents": {
                              "packages": [],
                              "products": [
                                {
                                  "quantity": 1,
                                  "sku": "TestDVDSku"
                                }
                              ]
                            },
                            "measurements": {
                              "dimensions": {
                                "height": 1.0,
                                "length": 1.0,
                                "unitOfMeasurement": "INCHES",
                                "width": 1.0
                              },
                              "volume": {
                                "unitOfMeasurement": "CUIN",
                                "volume": 1.0
                              },
                              "weight": {
                                "unitOfMeasurement": "POUNDS",
                                "weight": 1.0
                              }
                            },
                            "type": "CASE"
                          }
                        }
                      },
                      {
                        "ineligibilityReasons": [],
                        "status": "ELIGIBLE",
                        "packageQuantity": {
                          "count": 1,
                          "distributionPackage": {
                            "contents": {
                              "packages": [],
                              "products": [
                                {
                                  "quantity": 1,
                                  "sku": "testPen"
                                }
                              ]
                            },
                            "measurements": {
                              "dimensions": {
                                "height": 1.0,
                                "length": 1.0,
                                "unitOfMeasurement": "INCHES",
                                "width": 1.0
                              },
                              "volume": {
                                "unitOfMeasurement": "CUIN",
                                "volume": 1.0
                              },
                              "weight": {
                                "unitOfMeasurement": "POUNDS",
                                "weight": 1.0
                              }
                            },
                            "type": "CASE"
                          }
                        }
                      }
                    ],
                    "previewedAt": "1688454771870"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "packagesToInbound": [
                            {
                              "count": 1,
                              "distributionPackage": {
                                "contents": {
                                  "products": [
                                    {
                                      "quantity": 1,
                                      "sku": "TestDVDSku"
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "INCHES",
                                    "width": 1
                                  },
                                  "volume": {
                                    "unitOfMeasurement": "CUIN",
                                    "volume": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "POUNDS",
                                    "weight": 1
                                  }
                                },
                                "type": "CASE"
                              }
                            },
                            {
                              "count": 1,
                              "distributionPackage": {
                                "contents": {
                                  "products": [
                                    {
                                      "quantity": 1,
                                      "sku": "testPen"
                                    }
                                  ]
                                },
                                "measurements": {
                                  "dimensions": {
                                    "height": 1,
                                    "length": 1,
                                    "unitOfMeasurement": "INCHES",
                                    "width": 1
                                  },
                                  "volume": {
                                    "unitOfMeasurement": "CUIN",
                                    "volume": 1
                                  },
                                  "weight": {
                                    "unitOfMeasurement": "POUNDS",
                                    "weight": 1
                                  }
                                },
                                "type": "TEST"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "details": "This exception is thrown when client inputs are invalid",
                        "message": "OrderId should be present for this request"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "tags": [
          "awd"
        ],
        "description": "Determines if the packages you specify are eligible for an AWD inbound order and contains error details for ineligible packages.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 1 | 1 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "checkInboundEligibility"
      }
    },
    "/awd/2024-05-09/inboundShipments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Field to sort results by. By default, the response will be sorted by UPDATED_AT.",
            "enum": [
              "UPDATED_AT",
              "CREATED_AT"
            ],
            "in": "query",
            "name": "sortBy",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "description": "Sort by the time of update.",
                "value": "UPDATED_AT"
              },
              {
                "description": "Sort by the time of creation.",
                "value": "CREATED_AT"
              }
            ]
          },
          {
            "description": "Sort the response in ASCENDING or DESCENDING order. By default, the response will be sorted in DESCENDING order.",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ],
            "in": "query",
            "name": "sortOrder",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "description": "Sorts the collection in ascending order.",
                "value": "ASCENDING"
              },
              {
                "description": "Sorts the collection in descending order.",
                "value": "DESCENDING"
              }
            ],
            "x-example": "ASCENDING"
          },
          {
            "description": "Filter by inbound shipment status.",
            "enum": [
              "CREATED",
              "SHIPPED",
              "IN_TRANSIT",
              "RECEIVING",
              "DELIVERED",
              "CLOSED",
              "CANCELLED"
            ],
            "in": "query",
            "name": "shipmentStatus",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "description": "Shipment is created, but hasn't shipped.",
                "value": "CREATED"
              },
              {
                "description": "Shipment was picked up by the carrier or was dropped off with the carrier.",
                "value": "SHIPPED"
              },
              {
                "description": "The carrier has notified AWD that the shipment is in transit between the origin and destination nodes.",
                "value": "IN_TRANSIT"
              },
              {
                "description": "The shipment has been partially received.",
                "value": "RECEIVING"
              },
              {
                "description": "The shipment has reached the destination node and has been delivered to the facility yard. The shipment `receive` process at the warehouse will start soon.",
                "value": "DELIVERED"
              },
              {
                "description": "No more actions are required for the shipment. This is a final state.",
                "value": "CLOSED"
              },
              {
                "description": "The shipment is cancelled. This is a final state.",
                "value": "CANCELLED"
              }
            ],
            "x-example": "CREATED"
          },
          {
            "description": "List the inbound shipments that were updated after a certain time (inclusive). The date must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
            "format": "date-time",
            "in": "query",
            "name": "updatedAfter",
            "type": "string",
            "x-example": "2023-01-12T10:00:00.000Z"
          },
          {
            "description": "List the inbound shipments that were updated before a certain time (inclusive). The date must be in <a href='https://developer-docs.amazon.com/sp-api/docs/iso-8601'>ISO 8601</a> format.",
            "format": "date-time",
            "in": "query",
            "name": "updatedBefore",
            "type": "string",
            "x-example": "2023-01-12T10:00:00.000Z"
          },
          {
            "default": 25,
            "description": "Maximum number of results to return.",
            "format": "int32",
            "in": "query",
            "maximum": 200,
            "minimum": 1,
            "name": "maxResults",
            "type": "integer",
            "x-example": "10"
          },
          {
            "description": "A token that is used to retrieve the next page of results. The response includes `nextToken` when the number of results exceeds the specified `maxResults` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.",
            "in": "query",
            "name": "nextToken",
            "type": "string",
            "x-example": "SampleToken"
          }
        ],
        "responses": {
          "200": {
            "description": "The 200 response for `listInboundShipments`.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ShipmentListing"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {
                    "shipments": [{
                      "createdAt": "2023-06-07T12:12:09.061Z",
                      "orderId": "TestOrderId",
                      "shipmentId": "TestShipmentId",
                      "shipmentStatus": "CREATED",
                      "updatedAt": "2023-06-07T12:12:09.061Z"
                    }]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sortBy": {
                        "value": "TEST"
                      }
                    }
                  },
                  "response": {
                    "errors": [
[...]
