<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" developmentDependency="true" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.RateLimiting" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>