{
  "swagger": "2.0",
  "info": {
    "title": "The Selling Partner API for Finance Remittance",
    "description": "The Selling Partner API for Finance Remittance provides programmatic access to selling partner payment remittance data, including remittance summaries and detailed line items.",
    "version": "2026-03-17",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/finances/remittances/2026-03-17/remittances": {
      "get": {
        "operationId": "getRemittanceHeaders",
        "description": "Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are paginated.",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The `marketplaceId` is a globally unique identifier used to specify which Amazon store a request is targeting. For more information, refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers).",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The earliest payment date for remittances to include in the response. Dates are in ISO 8601 date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year ago from the current date.",
            "x-example": "2026-03-01T00:00:00Z"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The latest payment date for remittances to include in the response. Dates are in ISO 8601 date-time format. The default is the current date-time. The maximum date range between `startDate` and `endDate` is 90 days.",
            "x-example": "2026-03-17T00:00:00Z"
          },
          {
            "name": "nextToken",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token to fetch the next page of results. Use the value returned in the previous response.",
            "x-example": "xsd9fhsakl"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/GetRemittancesResponse"
            },
            "examples": {
              "application/json": {
                "remittances": [
                  {
                    "paymentDate": "2026-01-14T00:00:00Z",
                    "paymentNumber": "355522363",
                    "uniquePaymentId": "756473657",
                    "exchangeRate": 1.0,
                    "paymentAmount": {
                      "currencyCode": "EUR",
                      "currencyAmount": 3.5
                    },
                    "paymentAmountInInvoiceCurrency": {
                      "currencyCode": "EUR",
                      "currencyAmount": 3.5
                    },
                    "paymentMethod": "EFT",
                    "remittanceStatus": "SUCCESSFUL",
                    "lineItemCount": 1,
                    "relatedIdentifiers": [
                      {
                        "relatedIdentifierName": "VENDOR_CODE",
                        "relatedIdentifierValue": [
                          "VENDOR01"
                        ]
                      },
                      {
                        "relatedIdentifierName": "PAYEE_CODE",
                        "relatedIdentifierValue": [
                          "ABC12"
                        ]
                      }
                    ]
                  },
                  {
                    "paymentDate": "2026-01-05T00:00:00Z",
                    "paymentNumber": "354651630",
                    "uniquePaymentId": "756473658",
                    "exchangeRate": 1.0,
                    "paymentAmount": {
                      "currencyCode": "EUR",
                      "currencyAmount": 3386.79
                    },
                    "paymentAmountInInvoiceCurrency": {
                      "currencyCode": "EUR",
                      "currencyAmount": 3386.79
                    },
                    "paymentMethod": "EFT",
                    "remittanceStatus": "SUCCESSFUL",
                    "lineItemCount": 5,
                    "relatedIdentifiers": [
                      {
                        "relatedIdentifierName": "VENDOR_CODE",
                        "relatedIdentifierValue": [
                          "VENDOR01"
                        ]
                      },
                      {
                        "relatedIdentifierName": "PAYEE_CODE",
                        "relatedIdentifierValue": [
                          "ABC12"
                        ]
                      }
                    ]
                  }
                ],
                "nextToken": "seed-token-abc123",
                "numOfRecords": 2
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "valid-id-123"
                      }
                    }
                  },
                  "response": {
                    "remittances": [
                      {
                        "paymentDate": "2026-01-14T00:00:00Z",
                        "paymentNumber": "355522363",
                        "uniquePaymentId": "756473657",
                        "exchangeRate": 1.0,
                        "paymentAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3.5
                        },
                        "paymentAmountInInvoiceCurrency": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3.5
                        },
                        "paymentMethod": "EFT",
                        "remittanceStatus": "SUCCESSFUL",
                        "lineItemCount": 1,
                        "relatedIdentifiers": [
                          {
                            "relatedIdentifierName": "VENDOR_CODE",
                            "relatedIdentifierValue": [
                              "VENDOR01"
                            ]
                          },
                          {
                            "relatedIdentifierName": "PAYEE_CODE",
                            "relatedIdentifierValue": [
                              "ABC12"
                            ]
                          }
                        ]
                      },
                      {
                        "paymentDate": "2026-01-05T00:00:00Z",
                        "paymentNumber": "354651630",
                        "uniquePaymentId": "756473658",
                        "exchangeRate": 1.0,
                        "paymentAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3386.79
                        },
                        "paymentAmountInInvoiceCurrency": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3386.79
                        },
                        "paymentMethod": "EFT",
                        "remittanceStatus": "SUCCESSFUL",
                        "lineItemCount": 5,
                        "relatedIdentifiers": [
                          {
                            "relatedIdentifierName": "VENDOR_CODE",
                            "relatedIdentifierValue": [
                              "VENDOR01"
                            ]
                          },
                          {
                            "relatedIdentifierName": "PAYEE_CODE",
                            "relatedIdentifierValue": [
                              "ABC12"
                            ]
                          }
                        ]
                      }
                    ],
                    "nextToken": "seed-token-abc123",
                    "numOfRecords": 2
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": ""
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input provided."
                      }
                    ]
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidInput",
                    "message": "Invalid input provided.",
                    "details": "The marketplaceId field is required."
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "Access to the resource is forbidden.",
                    "details": "The selling partner account is not authorized to access this resource."
                  }
                ]
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource does not exist.",
                    "details": "No remittance found for the specified identifier."
                  }
                ]
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "RequestTooLarge",
                    "message": "The request payload exceeds the maximum allowed size."
                  }
                ]
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "UnsupportedMediaType",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "QuotaExceeded",
                    "message": "You have exceeded your rate limit for this operation.",
                    "details": "Retry after the number of seconds specified in the Retry-After header."
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalFailure",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                ]
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "The service is temporarily unavailable. Please try again later.",
                    "details": "The server is currently unable to handle the request due to temporary overloading or maintenance."
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/finances/remittances/2026-03-17/remittances/{uniquePaymentId}": {
      "get": {
        "operationId": "getRemittance",
        "description": "Returns detailed line items for a specific remittance. Results are paginated.",
        "parameters": [
          {
            "name": "uniquePaymentId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier for the payment.",
            "x-example": "756473657"
          },
          {
            "name": "marketplaceId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The `marketplaceId` is a globally unique identifier used to specify which Amazon store a request is targeting. For more information, refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers).",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "nextTokenForLineItems",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A token to fetch the next page of results. Use the value returned in the previous response.",
            "x-example": "xsd9fhsakl"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/GetRemittanceResponse"
            },
            "examples": {
              "application/json": {
                "remittanceHeader": {
                  "paymentDate": "2026-01-14T00:00:00Z",
                  "paymentNumber": "355522363",
                  "uniquePaymentId": "756473657",
                  "exchangeRate": 1.0,
                  "paymentAmount": {
                    "currencyCode": "EUR",
                    "currencyAmount": 3.5
                  },
                  "paymentAmountInInvoiceCurrency": {
                    "currencyCode": "EUR",
                    "currencyAmount": 3.5
                  },
                  "paymentMethod": "EFT",
                  "remittanceStatus": "SUCCESSFUL",
                  "lineItemCount": 1,
                  "relatedIdentifiers": [
                    {
                      "relatedIdentifierName": "VENDOR_CODE",
                      "relatedIdentifierValue": [
                        "VENDOR01"
                      ]
                    },
                    {
                      "relatedIdentifierName": "PAYEE_CODE",
                      "relatedIdentifierValue": [
                        "ABC12"
                      ]
                    }
                  ],
                  "countryCode": "DE"
                },
                "nextTokenForLineItems": "seed-token-def456",
                "remittanceItems": [
                  {
                    "invoiceNumber": "INV-2026-00142",
                    "invoiceIssueDate": "2026-01-10T00:00:00Z",
                    "withholdingAmount": {
                      "currencyCode": "EUR",
                      "currencyAmount": 0.0
                    },
                    "totalAmount": {
                      "currencyCode": "EUR",
                      "currencyAmount": 3.5
                    },
                    "totalAmountBreakdown": [
                      {
                        "breakdownType": "InvoiceAmount",
                        "breakdownAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3.5
                        }
                      },
                      {
                        "breakdownType": "TaxAmount",
                        "breakdownAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 0.0
                        }
                      }
                    ],
                    "netAmountPaid": {
                      "currencyCode": "EUR",
                      "currencyAmount": 3.5
                    },
                    "netAmountPaidBreakdown": [
                      {
                        "breakdownType": "AmountPaid",
                        "breakdownAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3.5
                        }
                      },
                      {
                        "breakdownType": "TermsDiscountTaken",
                        "breakdownAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 0.0
                        }
                      }
                    ],
                    "description": "Payment for goods received",
                    "paymentTerms": "Net 30",
                    "invoiceType": "Standard",
                    "relatedItemIdentifiers": [
                      {
                        "relatedIdentifierName": "VENDOR_CODE",
                        "relatedIdentifierValue": [
                          "VENDOR01"
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "uniquePaymentId": {
                        "value": "756473657"
                      },
                      "marketplaceId": {
                        "value": "valid-id-123"
                      }
                    }
                  },
                  "response": {
                    "remittanceHeader": {
                      "paymentDate": "2026-01-14T00:00:00Z",
                      "paymentNumber": "355522363",
                      "uniquePaymentId": "756473657",
                      "exchangeRate": 1.0,
                      "paymentAmount": {
                        "currencyCode": "EUR",
                        "currencyAmount": 3.5
                      },
                      "paymentAmountInInvoiceCurrency": {
                        "currencyCode": "EUR",
                        "currencyAmount": 3.5
                      },
                      "paymentMethod": "EFT",
                      "remittanceStatus": "SUCCESSFUL",
                      "lineItemCount": 1,
                      "relatedIdentifiers": [
                        {
                          "relatedIdentifierName": "VENDOR_CODE",
                          "relatedIdentifierValue": [
                            "VENDOR01"
                          ]
                        },
                        {
                          "relatedIdentifierName": "PAYEE_CODE",
                          "relatedIdentifierValue": [
                            "ABC12"
                          ]
                        }
                      ],
                      "countryCode": "DE"
                    },
                    "nextTokenForLineItems": "seed-token-def456",
                    "remittanceItems": [
                      {
                        "invoiceNumber": "INV-2026-00142",
                        "invoiceIssueDate": "2026-01-10T00:00:00Z",
                        "withholdingAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 0.0
                        },
                        "totalAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3.5
                        },
                        "totalAmountBreakdown": [
                          {
                            "breakdownType": "InvoiceAmount",
                            "breakdownAmount": {
                              "currencyCode": "EUR",
                              "currencyAmount": 3.5
                            }
                          },
                          {
                            "breakdownType": "TaxAmount",
                            "breakdownAmount": {
                              "currencyCode": "EUR",
                              "currencyAmount": 0.0
                            }
                          }
                        ],
                        "netAmountPaid": {
                          "currencyCode": "EUR",
                          "currencyAmount": 3.5
                        },
                        "netAmountPaidBreakdown": [
                          {
                            "breakdownType": "AmountPaid",
                            "breakdownAmount": {
                              "currencyCode": "EUR",
                              "currencyAmount": 3.5
                            }
                          },
                          {
                            "breakdownType": "TermsDiscountTaken",
                            "breakdownAmount": {
                              "currencyCode": "EUR",
                              "currencyAmount": 0.0
                            }
                          }
                        ],
                        "description": "Payment for goods received",
                        "paymentTerms": "Net 30",
                        "invoiceType": "Standard",
                        "relatedItemIdentifiers": [
                          {
                            "relatedIdentifierName": "VENDOR_CODE",
                            "relatedIdentifierValue": [
                              "VENDOR01"
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "uniquePaymentId": {
                        "value": "-1"
                      },
                      "marketplaceId": {
                        "value": ""
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid input provided."
                      }
                    ]
                  }
                }
              ]
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InvalidInput",
                    "message": "Invalid input provided.",
                    "details": "The marketplaceId field is required."
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "Unauthorized",
                    "message": "Access to the resource is forbidden.",
                    "details": "The selling partner account is not authorized to access this resource."
                  }
                ]
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "NotFound",
                    "message": "The requested resource does not exist.",
                    "details": "No remittance found for the specified identifier."
                  }
                ]
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "RequestTooLarge",
                    "message": "The request payload exceeds the maximum allowed size."
                  }
                ]
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "UnsupportedMediaType",
                    "message": "The request payload format is not supported."
                  }
                ]
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "QuotaExceeded",
                    "message": "You have exceeded your rate limit for this operation.",
                    "details": "Retry after the number of seconds specified in the Retry-After header."
                  }
                ]
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "InternalFailure",
                    "message": "An unexpected error occurred. Please try again later."
                  }
                ]
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "examples": {
              "application/json": {
                "errors": [
                  {
                    "code": "ServiceUnavailable",
                    "message": "The service is temporarily unavailable. Please try again later.",
                    "details": "The server is currently unable to handle the request due to temporary overloading or maintenance."
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorList": {
      "type": "object",
      "description": "A list of error responses returned when a request is unsuccessful.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "A list of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "required": [
        "errors"
      ]
    },
    "Error": {
      "description": "Error response returned when the request is unsuccessful.",
      "properties": {
        "code": {
          "description": "An error code that identifies the type of error that occurred.",
          "type": "string",
          "x-example": "InvalidInput"
        },
        "message": {
          "description": "A message that describes the error condition.",
          "type": "string",
          "x-example": "Invalid input provided."
        },
        "details": {
          "description": "Additional details that can help the caller understand or fix the issue.",
          "type": "string",
          "x-example": "The marketplaceId field is required."
        }
      },
      "type": "object",
      "required": [
        "code",
        "message"
      ]
    },
    "RemittanceStatus": {
      "description": "The status of a remittance.",
      "type": "string",
      "x-example": "SUCCESSFUL",
      "enum": [
        "IN_PROGRESS",
        "SUCCESSFUL",
        "FAILED"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "IN_PROGRESS",
          "description": "The remittance is in progress."
        },
        {
          "value": "SUCCESSFUL",
          "description": "The remittance was completed successfully."
        },
        {
          "value": "FAILED",
          "description": "The remittance failed."
        }
      ]
    },
    "RelatedIdentifier": {
      "type": "object",
      "description": "A related business identifier for the transaction.",
      "required": [
        "relatedIdentifierName",
        "relatedIdentifierValue"
      ],
      "properties": {
        "relatedIdentifierName": {
          "type": "string",
          "description": "An enumerated set of related business identifier names.",
          "enum": [
            "VENDOR_CODE",
            "PAYEE_CODE"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "VENDOR_CODE",
              "description": "Vendor code associated with the remittance."
            },
            {
              "value": "PAYEE_CODE",
              "description": "Payee code associated with the remittance."
            }
          ]
        },
        "relatedIdentifierValue": {
          "type": "array",
          "description": "The corresponding values for `relatedIdentifierName`.",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "relatedIdentifierName": "VENDOR_CODE",
        "relatedIdentifierValue": [
          "VENDOR01"
        ]
      }
    },
    "RelatedItemIdentifier": {
      "type": "object",
      "description": "A related business identifier for a remittance line item.",
      "required": [
        "relatedIdentifierName",
        "relatedIdentifierValue"
      ],
      "properties": {
        "relatedIdentifierName": {
          "type": "string",
          "description": "An enumerated set of related business identifier names for a line item.",
          "enum": [
            "VENDOR_CODE"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "VENDOR_CODE",
              "description": "Vendor codes associated with this line item."
            }
          ]
        },
        "relatedIdentifierValue": {
          "type": "array",
          "description": "The corresponding values for `relatedIdentifierName`.",
          "items": {
            "type": "string"
          }
        }
      },
      "example": {
        "relatedIdentifierName": "VENDOR_CODE",
        "relatedIdentifierValue": [
          "VENDOR01"
        ]
      }
    },
    "BigDecimal": {
      "type": "number",
      "description": "Fields with a schema type of `BigDecimal` are a signed decimal number (for example `currencyAmount`)."
    },
    "Currency": {
      "description": "A currency amount with the associated currency code.",
      "type": "object",
      "required": [
        "currencyCode",
        "currencyAmount"
      ],
      "properties": {
        "currencyCode": {
          "description": "The three-digit currency code in ISO 4217 format.",
          "type": "string"
        },
        "currencyAmount": {
          "description": "The monetary value.",
          "$ref": "#/definitions/BigDecimal"
        }
      }
    },
    "Breakdown": {
      "description": "A sub-component of a monetary amount.",
      "type": "object",
      "required": [
        "breakdownType",
        "breakdownAmount"
      ],
      "properties": {
        "breakdownType": {
          "description": "The type of sub-component.\n\n**Possible values for `totalAmountBreakdown`:**\n\n* `InvoiceAmount`: The amount on the invoice.\n* `TaxAmount`: The tax amount on the invoice.\n\n**Possible values for `netAmountPaidBreakdown`:**\n\n* `AmountPaid`: The amount paid for the line item in the remittance.\n* `TermsDiscountTaken`: The discount applied based on vendor payment terms.",
          "type": "string",
          "x-example": "TaxAmount"
        },
        "breakdownAmount": {
          "description": "The monetary amount of the sub-component.",
          "$ref": "#/definitions/Currency"
        }
      },
      "example": {
        "breakdownType": "TaxAmount",
        "breakdownAmount": {
          "currencyCode": "EUR",
          "currencyAmount": 0.0
        }
      }
    },
    "RemittanceHeader": {
      "description": "Summary information for a remittance payment.",
      "type": "object",
      "required": [
        "uniquePaymentId",
        "paymentDate",
        "paymentAmount",
        "remittanceStatus"
      ],
      "properties": {
        "paymentDate": {
          "description": "The date of the payment in ISO 8601 date-time format.",
          "format": "date-time",
          "type": "string",
          "x-example": "2026-03-15T10:30:00Z"
        },
        "paymentNumber": {
          "description": "The external payment reference number associated with the remittance. Vendors can use this identifier to search for payment information.",
          "type": "string",
          "x-example": "1234567890"
        },
        "uniquePaymentId": {
          "description": "The unique internal identifier for the payment record in the remittance system.",
          "type": "string",
          "x-example": "9876543210"
        },
        "exchangeRate": {
          "description": "The exchange rate applied to the payment.",
          "$ref": "#/definitions/BigDecimal"
        },
        "paymentAmount": {
          "description": "The payment amount.",
          "$ref": "#/definitions/Currency"
        },
        "paymentAmountInInvoiceCurrency": {
          "description": "The payment amount in the invoice currency. Use this value when the invoice currency differs from the payment currency.",
          "$ref": "#/definitions/Currency"
        },
        "paymentMethod": {
          "description": "The method used for the payment.",
          "type": "string",
          "x-example": "Wire Transfer"
        },
        "remittanceStatus": {
          "description": "The status of the remittance.",
          "$ref": "#/definitions/RemittanceStatus"
        },
        "lineItemCount": {
          "description": "The number of line items in the remittance.",
          "type": "integer",
          "format": "int32",
          "x-example": 15
        },
        "relatedIdentifiers": {
          "type": "array",
          "description": "A list of related business identifiers for the remittance.",
          "items": {
            "$ref": "#/definitions/RelatedIdentifier"
          }
        },
        "countryCode": {
          "description": "The country code associated with the remittance in ISO 3166-1 alpha-2 format.",
          "type": "string",
          "x-example": "DE"
        }
      }
    },
    "RemittanceItem": {
      "description": "Detailed line item information for a remittance.",
      "type": "object",
      "properties": {
        "invoiceNumber": {
          "description": "The invoice number.",
          "type": "string",
          "x-example": "INV-2026-002"
        },
        "invoiceIssueDate": {
          "description": "The invoice issue date in ISO 8601 date-time format.",
          "format": "date-time",
          "type": "string",
          "x-example": "2026-03-10T00:00:00Z"
        },
        "withholdingAmount": {
          "description": "The amount withheld on the line item.",
          "$ref": "#/definitions/Currency"
        },
        "totalAmount": {
          "description": "The total amount for the line item.",
          "$ref": "#/definitions/Currency"
        },
        "totalAmountBreakdown": {
          "type": "array",
          "description": "The breakdown of `totalAmount` into sub-components.\n\n**Possible `breakdownType` values:**\n\n* `InvoiceAmount`: The amount on the invoice.\n* `TaxAmount`: The tax amount on the invoice.",
          "items": {
            "$ref": "#/definitions/Breakdown"
          }
        },
        "netAmountPaid": {
          "description": "The net amount paid for the line item.",
          "$ref": "#/definitions/Currency"
        },
        "netAmountPaidBreakdown": {
          "type": "array",
          "description": "The breakdown of `netAmountPaid` into sub-components.\n\n**Possible `breakdownType` values:**\n\n* `AmountPaid`: The amount paid for the line item in the remittance.\n* `TermsDiscountTaken`: The discount applied based on vendor payment terms. For example, early payment terms such as `1% 30, NET 60` allow a percentage discount on the invoice value when payment is made within the specified period.",
          "items": {
            "$ref": "#/definitions/Breakdown"
          }
        },
        "description": {
          "description": "A description of the line item.",
          "type": "string",
          "x-example": "Payment for goods received"
        },
        "paymentTerms": {
          "description": "The payment terms.",
          "type": "string",
          "x-example": "Net 30"
        },
        "invoiceType": {
          "description": "The type of invoice.",
          "type": "string",
          "x-example": "Standard"
        },
        "relatedItemIdentifiers": {
          "type": "array",
          "description": "A list of related business identifiers for the line item.",
          "items": {
            "$ref": "#/definitions/RelatedItemIdentifier"
          }
        }
      }
    },
    "GetRemittanceResponse": {
      "description": "The response for the `getRemittance` operation.",
      "type": "object",
      "properties": {
        "remittanceHeader": {
          "description": "The remittance header information.",
          "$ref": "#/definitions/RemittanceHeader"
        },
        "nextTokenForLineItems": {
          "description": "A token to fetch the next page of line item results. Present when more results are available.",
          "type": "string",
          "x-example": "xsd9fhsakl"
        },
        "remittanceItems": {
          "type": "array",
          "description": "A list of remittance line items.",
          "items": {
            "$ref": "#/definitions/RemittanceItem"
          }
        }
      }
    },
    "GetRemittancesResponse": {
      "description": "The response for the `getRemittanceHeaders` operation.",
      "type": "object",
      "properties": {
        "remittances": {
          "type": "array",
          "description": "A list of remittance summaries.",
          "items": {
            "$ref": "#/definitions/RemittanceHeader"
          }
        },
        "nextToken": {
          "description": "A token to fetch the next page of results. Present when more results are available.",
          "type": "string",
          "x-example": "xsd9fhsakl"
        },
        "numOfRecords": {
          "description": "The total number of records across all pages.",
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}
