{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Promotions provides programmatic access to promotion management functionality for selling partners on Amazon. This API enables selling partners to create and manage promotions.",
    "version": "2025-12-01",
    "title": "The Selling Partner API for Promotions",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/promotions/2025-12-01/promotions": {
      "get": {
        "tags": [
          "promotions"
        ],
        "description": "Search and filter promotions based on various criteria. Returns a paginated list of promotion summaries.",
        "operationId": "searchPromotions",
        "parameters": [
          {
            "name": "marketplaceIds",
            "in": "query",
            "description": "A comma-delimited list of Amazon marketplace identifiers for the request. Refer [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids) to find your marketplace.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1,
            "collectionFormat": "csv",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale code constructed from ISO 639 language code and ISO 3166-1 alpha-2 standard of country codes separated by an underscore character.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "A comma-delimited list of promotion status values to filter promotion.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PROCESSING",
                "UPCOMING",
                "RUNNING",
                "EXPIRED",
                "FAILED",
                "CANCELLING",
                "CANCELLED"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "RUNNING,UPCOMING,PROCESSING",
            "x-docgen-enum-table-extension": [
              {
                "value": "PROCESSING",
                "description": "Promotion is being processed and validated by the system."
              },
              {
                "value": "UPCOMING",
                "description": "Promotion is scheduled and will become active at the specified start date."
              },
              {
                "value": "RUNNING",
                "description": "Promotion is currently active and available to customers."
              },
              {
                "value": "EXPIRED",
                "description": "Promotion has passed its end date and is no longer active."
              },
              {
                "value": "FAILED",
                "description": "Promotion processing or validation has failed and requires attention."
              },
              {
                "value": "CANCELLING",
                "description": "Promotion cancellation is in progress."
              },
              {
                "value": "CANCELLED",
                "description": "Promotion has been successfully cancelled and is no longer active."
              }
            ]
          },
          {
            "name": "asins",
            "in": "query",
            "description": "A comma-delimited filter by ASINs included in promotions.",
            "required": false,
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "B08N5WRWNW,B07XJ8C8F5,B09MKTS6R4"
          },
          {
            "name": "promotionTypes",
            "in": "query",
            "description": "A comma-delimited filter by promotion types.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "BASKET_BUILDING",
                "DEAL",
                "PRICE_DISCOUNT",
                "COUPON"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "DEAL"
          },
          {
            "name": "startDateBefore",
            "in": "query",
            "description": "Filter promotions with start date before this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-08-31T23:59:59-07:00"
          },
          {
            "name": "startDateAfter",
            "in": "query",
            "description": "Filter promotions with start date after this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-07-01T00:00:00-07:00"
          },
          {
            "name": "endDateBefore",
            "in": "query",
            "description": "Filter promotions with end date before this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-12-31T23:59:59-08:00"
          },
          {
            "name": "endDateAfter",
            "in": "query",
            "description": "Filter promotions with end date after this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-09-01T00:00:00-07:00"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "type": "string",
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter, the API returns the first page of the result",
            "required": false,
            "x-example": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
          },
          {
            "name": "revision",
            "in": "query",
            "description": "Specifies which promotion revision(s) to include in search results. Controls whether to query published revisions, latest revisions, or both.",
            "required": false,
            "type": "string",
            "enum": [
              "LATEST",
              "PUBLISHED",
              "ANY"
            ],
            "default": "PUBLISHED",
            "x-example": "PUBLISHED",
            "x-docgen-enum-table-extension": [
              {
                "value": "LATEST",
                "description": "Query against latest revision of promotions. Returns promotions based on their latest revision state. This will skip promotions where the query matched only its published revision."
              },
              {
                "value": "PUBLISHED",
                "description": "Query against published revisions of promotions. Returns only promotions that have been published. This will skip promotions where the query matched only its latest revision."
              },
              {
                "value": "ANY",
                "description": "Query against published and latest revisions. This provides the complete state including both published and latest revision promotions."
              }
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit value to restrict the maximum number of results returned from the API Pagination limits per page.",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of data sets to include in the response.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES",
                "CUSTOMER_SEGMENTS"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include promotion level issues and warnings in the response. If not specified, the 'issues' field will be omitted from the response even if issues exist for the promotion."
              },
              {
                "value": "CUSTOMER_SEGMENTS",
                "description": "Include customer segment targeting information in the response. If not specified, the 'customerSegments' field will be omitted from the response."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved promotions.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/SearchPromotionsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "statuses": {
                        "value": [
                          "RUNNING",
                          "UPCOMING"
                        ]
                      },
                      "limit": {
                        "value": 10
                      }
                    }
                  },
                  "response": {
                    "totalResults": 2,
                    "pagination": {
                      "nextToken": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
                    },
                    "promotions": [
                      {
                        "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "trackingId": "v2024-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "marketplaceId": "ATVPDKIKX0DER",
                        "status": "RUNNING",
                        "createdDate": "2025-07-01T02:01:08-07:00",
                        "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
                        "promotionTitle": "Summer Sale 2025",
                        "selection": {
                          "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "revisionId": 1,
                          "type": "ITEMS"
                        },
                        "promotionType": "DEAL",
                        "schedule": {
                          "startDate": "2025-07-01T00:00:00-07:00",
                          "endDate": "2025-08-31T23:59:59-07:00",
                          "eventId": "PRIME_DAY_2025"
                        }
                      },
                      {
                        "promotionId": "b2c3d4e5-f6g7-8901-bcde-fg2345678901",
                        "trackingId": "v2024-b2c3d4e5-f6g7-8901-bcde-fg2345678901",
                        "marketplaceId": "ATVPDKIKX0DER",
                        "status": "UPCOMING",
                        "createdDate": "2025-08-01T10:00:00-07:00",
                        "lastUpdatedDate": "2025-08-05T16:45:00-07:00",
                        "promotionTitle": "Back to School Special",
                        "selection": {
                          "selectionId": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "revisionId": 1,
                          "type": "ITEMS"
                        },
                        "promotionType": "BASKET_BUILDING",
                        "schedule": {
                          "startDate": "2025-09-01T00:00:00-07:00",
                          "endDate": "2025-09-30T23:59:59-07:00"
                        },
                        "budget": {
                          "type": "UNITS",
                          "value": 500
                        },
                        "purchaseRequirements": {
                          "selection": {
                            "selectionId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                            "revisionId": 1,
                            "type": "ITEMS"
                          },
                          "condition": {
                            "quantityThreshold": {
                              "type": "AT_LEAST",
                              "quantity": 2
                            }
                          }
                        },
                        "benefit": {
                          "discount": {
                            "type": "AMOUNT_OFF",
                            "amountOff": 10.0,
                            "currencyCode": "USD"
                          },
                          "benefitQuantity": 1,
                          "perCustomerUses": 3,
                          "stacking": "NOT_ALLOWED"
                        },
                        "merchandising": {
                          "displayOnWebsite": "ALLOWED"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceIds": {
                        "value": [
                          "INVALID_MARKETPLACE"
                        ]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid marketplace identifier provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/promotions/2025-12-01/promotions/{promotionId}": {
      "get": {
        "tags": [
          "promotions"
        ],
        "description": "Retrieves details of a specified promotion.",
        "operationId": "getPromotion",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The promotion identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of data sets to include in the response. Use this parameter to optimize response payload by including only the data you need.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES",
                "SELECTION",
                "CUSTOMER_SEGMENTS"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include promotion level issues and warnings in the response. If not specified, the 'issues' field will be omitted from the response even if issues exist for the promotion. If this field is specified without 'SELECTION', then item level issues will not be returned in the response. To get item level issues as well, specify both 'SELECTION' and 'ISSUES' in the query parameters, or use the paginated /selections API."
              },
              {
                "value": "SELECTION",
                "description": "Include selectionDetails field within the 'selection' object, containing item-level information such as benefits, budgets, and other details. If not specified, the 'selection' field will contain only minimal metadata (selectionId, type, and optionally revisionId). Item issues are only populated if both 'SELECTION' and 'ISSUES' are specified in the query parameters, or use the /promotions/{promotionId}/selections/{selectionId} API."
              },
              {
                "value": "CUSTOMER_SEGMENTS",
                "description": "Include customer segment targeting information in the response. If not specified, the 'customerSegments' field will be omitted from the response."
              }
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale code constructed from ISO 639 language code and ISO 3166-1 alpha-2 standard of country codes separated by an underscore character.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the promotion details.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/GetPromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION", "CUSTOMER_SEGMENTS"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "trackingId": "df066132-dd1d-4cf0-bfb0-31578b28845d",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "RUNNING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
                    "promotionTitle": "Summer Sale 2025",
                    "promotionType": "COUPON",
                    "schedule": {
                      "startDate": "2025-07-01T00:00:00-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00"
                    },
                    "budget": {
                      "type": "AMOUNT",
                      "value": 1000,
                      "currencyCode": "USD"
                    },
                    "selection": {
                      "selectionId": "198ac961-28cf-4b9a-bec8-2260a28102d7",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW"
                          },
                          {
                            "asin": "B07XJ8C8F5"
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ]
                      }
                    },
                    "benefit": {
                      "discount": {
                        "type": "PERCENTAGE_OFF",
                        "percentOff": 15
                      },
                      "perCustomerUses": 5,
                      "stacking": "ALLOWED"
                    },
                    "issues": [
                      {
                        "code": "OTHER",
                        "message": "OTHER",
                        "severity": "WARNING"
                      }
                    ],
                    "customerSegments": [
                      {
                        "segmentType": "BRAND",
                        "segmentId": "c157be82-b0c1-49e1-bf9b-4180da99b66d",
                        "segmentDetails": {
                          "brandSegmentDetails": {
                            "brandId": "G13V1IB3VIYZZH"
                          }
                        }
                      },
                      {
                        "segmentType": "PROGRAM",
                        "segmentId": "PRIME_EXCLUSIVE"
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "d4e5f6a7-b8c9-0123-defg-hi4567890123"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "d4e5f6a7-b8c9-0123-defg-hi4567890123",
                    "trackingId": "v2024-d4e5f6a7-b8c9-0123-defg-hi4567890123",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "RUNNING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
                    "promotionTitle": "Summer Sale 2025",
                    "promotionType": "DEAL",
                    "schedule": {
                      "startDate": "2025-07-01T00:00:00-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00",
                      "eventId": "PRIME_DAY_2025"
                    },
                    "selection": {
                      "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "sku": "B08N5WRWNW-SKU",
                            "benefit": {
                              "type": "FIXED_PRICE",
                              "price": {
                                "amount": 15.00,
                                "currencyCode": "USD"
                              },
                              "discount": {
                                "type": "PERCENTAGE_OFF",
                                "percentOff": 15
                              }
                            },
                            "budget": {
                              "type": "UNITS",
                              "value": 50
                            }
                          },
                          {
                            "asin": "B07XJ8C8F5",
                            "sku": "B07XJ8C8F5-SKU",
                            "benefit": {
                              "type": "DISCOUNTED_PRICE",
                              "discount": {
                                "type": "AMOUNT_OFF",
                                "amountOff": 10.00,
                                "currencyCode": "USD"
                              }
                            },
                            "budget": {
                              "type": "AMOUNT",
                              "value": 10000,
                              "currencyCode": "USD"
                            }
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ]
                      }
                    },
                    "issues": []
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "e5f6a7b8-c9d0-1234-efgh-ij5678901234"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION", "CUSTOMER_SEGMENTS"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "e5f6a7b8-c9d0-1234-efgh-ij5678901234",
                    "trackingId": "df066132-dd1d-4cf0-bfb0-31578b28845d",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "PROCESSING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-01T02:01:08-07:00",
                    "promotionTitle": "Summer Sale for Brand Customers",
                    "promotionType": "BASKET_BUILDING",
                    "schedule": {
                      "startDate": "2025-07-01T02:01:08-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00"
                    },
                    "budget": {
                      "type": "AMOUNT",
                      "value": 1000,
                      "currencyCode": "USD"
                    },
                    "selection": {
                      "selectionId": "198ac961-28cf-4b9a-bec8-2260a28102d7",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "sku": "B08N5WRWNW-SKU-001"
                          },
                          {
                            "asin": "B07XJ8C8F5",
                            "sku": "B07XJ8C8F5-SKU-001"
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ]
                      }
                    },
                    "purchaseRequirements": {
                      "selection": {
                        "selectionId": "7f3a91d2-4e8b-4c6f-a5d0-9b2e7f1c8d3a",
                        "revisionId": 1,
                        "type": "ITEMS"
                      },
                      "condition": {
                        "quantityThreshold": {
                          "type": "FOR_EACH",
                          "quantity": 3
                        }
                      },
                      "claimCode": {
                        "type": "INDIVIDUAL"
                      }
                    },
                    "benefit": {
                      "benefitQuantity": 1,
                      "discount": {
                        "type": "PERCENTAGE_OFF",
                        "percentOff": 10
                      },
                      "perCustomerUses": 1,
                      "stacking": "NOT_ALLOWED"
                    },
                    "merchandising": {
                      "displayOnWebsite": "ALLOWED"
                    },
                    "issues": [
                      {
                        "code": "OTHER",
                        "message": "OTHER",
                        "severity": "WARNING"
                      }
                    ],
                    "customerSegments": [
                      {
                        "segmentType": "BRAND",
                        "segmentId": "c157be82-b0c1-49e1-bf9b-4180da99b66d",
                        "segmentDetails": {
                          "brandSegmentDetails": {
                            "brandId": "XYZV1IB3VIYABC"
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef12345678911"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid parameter value provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/promotions/2025-12-01/promotions/{promotionId}/selections/{selectionId}": {
      "get": {
        "tags": [
          "promotions"
        ],
        "description": "Retrieves up to a maximum of 100 product items, that are associated with the promotion. This API currently supports SelectionType.ITEMS only. SelectionType.CATALOG is not yet supported but will be available in a future release. Selection objects always include selectionDetails with item information.",
        "operationId": "getSelection",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The promotion identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "selectionId",
            "in": "path",
            "description": "The selection identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "query",
            "description": "Revision identifier for the selection. Defaults to latest revision when revisionId is not provided in request or response.",
            "required": false,
            "type": "integer",
            "x-example": 1
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale code constructed from ISO 639 language code and ISO 3166-1 alpha-2 standard of country codes separated by an underscore character.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US",
            "x-example": "en_US"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "type": "string",
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter, the API returns the first page of the result",
            "required": false,
            "x-example": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit value to restrict the maximum number of results returned from the API Pagination limits per page.",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of data sets to include in the response.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include item level issues and warnings in the response. If not specified, the 'issues' field will be omitted from the response even if issues exist for the item."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the item selection for the promotion.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/GetSelectionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "limit": {
                        "value": 1
                      },
                      "includedData": {
                        "value": ["ISSUES"]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "benefit": {
                              "type": "DISCOUNTED_PRICE",
                              "discount": {
                                "type": "PERCENTAGE_OFF",
                                "percentOff": 15
                              }
                            }
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ],
                        "pagination": {
                          "nextToken": "eyJwYWdlIjoyLCJsaW1pdCI6MjB9"
                        }
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567891"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "paginationToken": {
                        "value": "eyJwYWdlIjoyLCJsaW1pdCI6MjB9"
                      },
                      "limit": {
                        "value": 20
                      },
                      "includedData": {
                        "value": ["ISSUES"]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B07XJ8C8F5",
                            "benefit": {
                              "type": "FIXED_PRICE",
                              "price": {
                                "amount": 24.99,
                                "currencyCode": "USD"
                              },
                              "discount": {
                                "type": "AMOUNT_OFF",
                                "amountOff": 5.00,
                                "currencyCode": "USD"
                              }
                            }
                          }
                        ],
                        "issues": []
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567892"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "limit": {
                        "value": 2
                      },
                      "includedData": {
                        "value": ["ISSUES"]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "CATALOG",
                      "selectionDetails": {
                        "rules": {
                          "excludedItems": [
                            {
                              "asin": "B08N5WRWNW"
                            },
                            {
                              "asin": "B07XJ8C8F5"
                            }
                          ]
                        },
                        "issues": [],
                        "pagination": {
                          "nextToken": "eyJwYWdlIjoyLCJsaW1pdCI6NTB9"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "invalid-id"
                      },
                      "selectionId": {
                        "value": "sel-12345"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid promotion ID format."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "invalid-selection-id"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid selection ID format."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-abc234567980"
                      },
                      "paginationToken": {
                        "value": "invalid-token"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid pagination token provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "nonexistent-selection"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The specified selection does not exist.",
                        "details": "Selection ID not found for this promotion."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "Error response returned when the request is unsuccessful.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that identifies the type of error that occurred."
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error condition.",
          "maxLength": 1024
        },
        "details": {
          "type": "string",
          "description": "Additional details that can help the caller understand or fix the issue."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorList": {
      "type": "object",
      "description": "A list of error responses returned when a request is unsuccessful.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "List of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "required": [
        "errors"
      ]
    },
    "Currency": {
      "type": "object",
      "description": "Currency amount with ISO 4217 currency code.",
      "properties": {
        "amount": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "Amount value.",
          "example": 5.00
        },
        "currencyCode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "description": "ISO 4217 currency code.",
          "example": "USD"
        }
      },
      "required": [
        "amount",
        "currencyCode"
      ],
      "example": {
        "amount": 10.00,
        "currencyCode": "USD"
      }
    },
    "Issue": {
      "type": "object",
      "description": "Base issue information with code, message, and severity.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Issue code identifier.",
          "example": "INVALID_INPUT"
        },
        "message": {
          "type": "string",
          "description": "Issue description.",
          "example": "The provided input is invalid.",
          "maxLength": 1024
        },
        "severity": {
          "description": "Issue severity level.",
          "type": "string",
          "enum": [
            "ERROR",
            "WARNING"
          ],
          "example": "ERROR",
          "x-docgen-enum-table-extension": [
            {
              "value": "ERROR",
              "description": "Indicates a critical issue that must be resolved."
            },
            {
              "value": "WARNING",
              "description": "Indicates a non-critical issue that should be reviewed."
            }
          ]
        }
      },
      "required": [
        "code",
        "message",
        "severity"
      ],
      "example": {
        "code": "INVALID_INPUT",
        "message": "The provided input is invalid.",
        "severity": "ERROR"
      }
    },
    "ItemIdentifier": {
      "type": "object",
      "description": "Identifies an item using its key identifiers.",
      "properties": {
        "asin": {
          "type": "string",
          "description": "Amazon Standard Identification Number (ASIN).",
          "example": "B08N5WRWNW"
        },
        "sku": {
          "type": "string",
          "description": "Stock Keeping Unit identifier.",
          "example": "MY-SKU-12345"
        }
      },
      "example": {
        "asin": "B08N5WRWNW"
      }
    },
    "PromotionIssue": {
      "description": "Promotion-level validation issue.",
      "allOf": [
        {
          "$ref": "#/definitions/Issue"
        }
      ]
    },
    "ItemIssue": {
      "description": "Item-level validation issue with item identifier.",
      "allOf": [
        {
          "$ref": "#/definitions/Issue"
        },
        {
          "type": "object",
          "properties": {
            "identifier": {
              "$ref": "#/definitions/ItemIdentifier",
              "description": "Identifier of the item associated with this issue."
            }
          },
          "required": [
            "identifier"
          ]
        }
      ]
    },
    "Item": {
      "type": "object",
      "description": "An item in the Amazon catalog for promotion selection with optional item-level configurations.",
      "properties": {
        "asin": {
          "type": "string",
          "description": "Amazon Standard Identification Number (ASIN) is the unique identifier for an item in the Amazon catalog.",
          "example": "B08N5WRWNW"
        },
        "sku": {
          "type": "string",
          "description": "Stock Keeping Unit identifier.",
          "example": "MY-SKU-12345"
        },
        "benefit": {
          "$ref": "#/definitions/ItemBenefit",
          "description": "Item-level benefit configuration."
        },
        "budget": {
          "$ref": "#/definitions/Budget",
          "description": "Item-level budget configuration."
        }
      }
    },
    "Selection": {
      "type": "object",
      "description": "Defines which products qualify for the benefit, allowing either specific items to be selected by ASIN or the entire catalog with optional exclusions. Defaults to latest revision when revisionId is not provided.",
      "properties": {
        "selectionId": {
          "type": "string",
          "description": "Unique identifier for this selection configuration. Note: This field is absent when type is CATALOG.",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        },
        "revisionId": {
          "type": "integer",
          "description": "Revision identifier for the selection. Defaults to latest revision when revisionId is not provided."
        },
        "type": {
          "type": "string",
          "enum": [
            "CATALOG",
            "ITEMS"
          ],
          "description": "Selection type.",
          "example": "ITEMS",
          "x-docgen-enum-table-extension": [
            {
              "value": "CATALOG",
              "description": "Select all items in the catalog with optional exclusions."
            },
            {
              "value": "ITEMS",
              "description": "Select specific items by ASIN."
            }
          ]
        },
        "selectionDetails": {
          "$ref": "#/definitions/SelectionDetails",
          "description": "Detailed selection information. Presence varies by endpoint: always included in /promotions/{promotionId}/selections/{selectionId}, conditionally included in /promotions/{promotionId} when 'SELECTION' is in includedData, never included in /promotions. See endpoint documentation for details."
        }
      },
      "required": [
        "type"
      ],
      "example": {
        "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
        "revisionId": 1,
        "type": "ITEMS",
        "selectionDetails": {
          "items": [
            {
              "asin": "B08N5WRWNW",
              "benefit": {
                "type": "DISCOUNTED_PRICE",
                "discount": {
                  "type": "PERCENTAGE_OFF",
                  "percentOff": 15
                }
              }
            },
            {
              "asin": "B07XJ8C8F5"
            }
          ]
        }
      }
    },
    "SelectionDetails": {
      "type": "object",
      "description": "Detailed selection information including items, rules, issues, and pagination.",
      "properties": {
        "rules": {
          "$ref": "#/definitions/SelectionRules",
          "description": "Rule configuration for catalog-based selections. Only valid when type is CATALOG."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemIssue"
          },
          "description": "Item-level validation issues for items in this selection. Only present when 'ISSUES' are included in includedData query parameter.",
          "example": [
            {
              "code": "INVALID_SKU",
              "message": "The SKU provided is not valid",
              "severity": "ERROR",
              "identifier": {
                "sku": "MY-SKU-12345"
              }
            }
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          },
          "maxItems": 100,
          "description": "List of specific items to include. Only valid when type is ITEMS (maximum 100 items).",
          "example": [
            {
              "asin": "B08N5WRWNW",
              "benefit": {
                "type": "DISCOUNTED_PRICE",
                "discount": {
                  "type": "PERCENTAGE_OFF",
                  "percentOff": 15
                },
                "perCustomerUses": 3
              },
              "budget": {
                "type": "AMOUNT",
                "value": 500,
                "currencyCode": "USD"
              }
            },
            {
              "asin": "B07XJ8C8F5",
              "benefit": {
                "type": "FIXED_PRICE",
                "price": {
                  "amount": 24.99,
                  "currencyCode": "USD"
                },
                "discount": {
                  "type": "AMOUNT_OFF",
                  "amountOff": 10.00,
                  "currencyCode": "USD"
                },
                "perCustomerUses": 5
              },
              "budget": {
                "type": "UNITS",
                "value": 100
              }
            }
          ]
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination metadata for navigating through selection items."
        }
      }
    },
    "SelectionRules": {
      "type": "object",
      "description": "Rules configuration for catalog-based selections.",
      "properties": {
        "excludedItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          },
          "maxItems": 100,
          "description": "Items to exclude from the catalog selection (maximum 100 items).",
          "example": [
            {
              "asin": "B08N5WRWNW"
            },
            {
              "asin": "B07XJ8C8F5"
            }
          ]
        }
      },
      "example": {
        "excludedItems": [
          {
            "asin": "B08N5WRWNW"
          }
        ]
      }
    },
    "Schedule": {
      "type": "object",
      "description": "Configuration defining a promotion's start and end dates with optional event association.",
      "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "Promotion start date and time. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00)."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "Promotion end date and time. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00)."
          },
        "eventId": {
          "type": "string",
          "description": "Optional event identifier to associate the promotion with a specific event. For event promotions, this field contains the event name when available (e.g., \"Prime Day\"). For historic event promotions, this field may contain \"EVENT\" as a placeholder until future releases of the API.",
          "example": "Prime Day"
        }
      }
    },
    "Budget": {
      "type": "object",
      "description": "Budget configuration for promotion or item-level spending limits.",
      "properties": {
        "type": {
          "description": "Budget type - monetary amount or unit-based.",
          "type": "string",
          "enum": [
            "AMOUNT",
            "UNITS"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "AMOUNT",
              "description": "Budget specified as a monetary amount."
            },
            {
              "value": "UNITS",
              "description": "Budget specified as a number of units."
            }
          ]
        },
        "value": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "Budget value (amount or unit count)."
        },
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 format currency code. Required when type is AMOUNT.",
          "minLength": 3,
          "maxLength": 3
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "CustomerSegment": {
      "type": "object",
      "description": "Segment configuration for targeting specific customer cohorts. When segmentType is BRAND, segmentId contains the segment/audience id and segmentDetails.brandSegmentDetails must be provided. When segmentType is PROGRAM, segmentId contains the program name (e.g., PRIME_EXCLUSIVE, MOM, STUDENT etc).",
      "properties": {
        "segmentType": {
          "description": "Top-level segment type.",
          "$ref": "#/definitions/CustomerSegmentType"
        },
        "segmentId": {
          "type": "string",
          "description": "Segment identifier. For BRAND: segment/audience id. For PROGRAM: program name (e.g., PRIME_EXCLUSIVE, MOM, STUDENT etc)."
        },
        "segmentDetails": {
          "description": "Additional segment-specific details. Required for BRAND segments type.",
          "$ref": "#/definitions/CustomerSegmentDetails"
        }
      },
      "required": [
        "segmentType",
        "segmentId"
      ]
    },
    "CustomerSegmentType": {
      "type": "string",
      "description": "Segment type for targeting specific customer cohorts.",
      "enum": [
        "BRAND",
        "PROGRAM"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "BRAND",
          "description": "Brand Tailored Audience targeting customers interested in specific brands."
        },
        {
          "value": "PROGRAM",
          "description": "Program based targeting for specific customer programs like Prime, Reorder and Save, etc."
        }
      ]
    },
    "CustomerSegmentDetails": {
      "type": "object",
      "description": "Additional segment type-specific details. Use the appropriate property based on segmentType.",
      "properties": {
        "brandSegmentDetails": {
          "description": "Brand segment details (required when segmentType is BRAND).",
          "$ref": "#/definitions/BrandSegmentDetails"
        }
      }
    },
    "BrandSegmentDetails": {
      "type": "object",
      "description": "Additional details specific to BRAND segments type.",
      "properties": {
        "brandId": {
          "type": "string",
          "description": "Brand identifier."
        }
      },
      "required": [
        "brandId"
      ]
    },
    "Discount": {
      "type": "object",
      "description": "Discount configuration shared across benefit types.",
      "properties": {
        "type": {
          "description": "Method used to calculate the discount amount.",
          "type": "string",
          "enum": [
            "PERCENTAGE_OFF",
            "AMOUNT_OFF",
            "FREE_ITEM"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "PERCENTAGE_OFF",
              "description": "Discount applied as a percentage off the original price."
            },
            {
              "value": "AMOUNT_OFF",
              "description": "Discount applied as a fixed amount off the original price."
            },
            {
              "value": "FREE_ITEM",
              "description": "Item is provided free of charge. Only applicable for BASKET_BUILDING promotion type."
            }
          ]
        },
        "percentOff": {
          "type": "number",
          "minimum": 1,
          "maximum": 100,
          "description": "Percentage discount value (1-100). Only valid when type is PERCENTAGE_OFF."
        },
        "amountOff": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "Amount off value. Only valid when type is AMOUNT_OFF.",
          "example": 5.00
        },
        "currencyCode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "description": "ISO 4217 currency code. Required when type is AMOUNT_OFF.",
          "example": "USD"
        }
      },
      "required": [
        "type"
      ]
    },
    "QuantityThreshold": {
      "type": "object",
      "description": "Quantity-based purchase conditions for basket building promotions.",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["AT_LEAST", "FOR_EACH"],
          "description": "Determines how the quantity requirement is evaluated: at least a certain number, or for every group of items.",
          "x-docgen-enum-table-extension": [
            {
              "value": "AT_LEAST",
              "description": "Customer must purchase at least the specified quantity of items."
            },
            {
              "value": "FOR_EACH",
              "description": "Benefit applies for every group of specified quantity purchased (e.g., for each 2 items)."
            }
          ]
        },
        "quantity": {
          "type": "integer",
          "minimum": 1,
          "description": "Number of items required to meet this purchase condition.",
          "example": 2
        }
      },
      "required": ["type", "quantity"],
      "example": {
        "type": "AT_LEAST",
        "quantity": 2
      }
    },
    "AmountThreshold": {
      "type": "object",
      "description": "Amount-based purchase conditions for basket building promotions. Customers must spend a minimum dollar amount.",
      "properties": {
        "type": {
          "type": "string",
          "enum": ["AT_LEAST"],
          "description": "Type of amount requirement. Only AT_LEAST is supported for spend-based conditions.",
          "x-docgen-enum-table-extension": [
            {
              "value": "AT_LEAST",
              "description": "Customer must spend at least the specified dollar amount."
            }
          ]
        },
        "currency": {
          "$ref": "#/definitions/Currency",
          "description": "Minimum spend amount customers must meet."
        }
      },
      "required": ["type", "currency"],
      "example": {
        "type": "AT_LEAST",
        "currency": {
          "amount": 50.00,
          "currencyCode": "USD"
        }
      }
    },
    "PurchaseCondition": {
      "type": "object",
      "description": "Specifies minimum purchase requirements using quantity-based or amount-based conditions for basket building promotions. Used in purchase requirements and multi-tier benefit configurations to specify conditions within those configurations. Exactly one of quantityThreshold or amountThreshold must be specified.",
      "properties": {
        "quantityThreshold": {
          "$ref": "#/definitions/QuantityThreshold",
          "description": "Quantity-based purchase requirement. Specify this for item count conditions."
        },
        "amountThreshold": {
          "$ref": "#/definitions/AmountThreshold",
          "description": "Amount-based purchase requirement. Specify this for minimum spend conditions."
        }
      },
      "example": {
        "amountThreshold": {
          "type": "AT_LEAST",
          "currency": {
            "amount": 50.00,
            "currencyCode": "USD"
          }
        }        
      }
    },
    "PurchaseRequirements": {
      "type": "object",
      "description": "Purchase requirements that customers must meet to qualify for basket building promotions. Contains the eligibility selection (what to buy), purchase condition (how much to buy), and optional claim code. Represents the 'Buy X' portion of Buy X Get Y promotions.",
      "properties": {
        "selection": {
          "$ref": "#/definitions/Selection",
          "description": "Selection defining which items customers must purchase to qualify for the promotion. References the eligibility product set. This selection only contains selectionId, revisionId, and type; the selectionDetails field is not included. For some BASKET_BUILDING promotions, this selection may be the same as the benefit selection when purchase requirements and benefits apply to the same set of items."
        },
        "condition": {
          "$ref": "#/definitions/PurchaseCondition",
          "description": "Minimum purchase requirement specifying either quantity of items or total spend amount that customers must meet to qualify. For multi-tier BASKET_BUILDING promotions, this represents the first tier purchase condition. Additional tier conditions are defined in benefit.additionalTiers."
        },
        "claimCode": {
          "$ref": "#/definitions/ClaimCode",
          "description": "Optional claim code customers must enter to access the promotion. When present, the promotion is code-gated and only available to customers who provide this code."
        }
      },
      "required": [
        "selection",
        "condition"
      ],
      "example": {
        "selection": {
          "selectionId": "9b1deb4d-3b7d-4bad-9bdd-2b0d7b3dcb6d",
          "revisionId": 1,
          "type": "ITEMS"
        },
        "condition": {
          "quantityThreshold": {
            "type": "AT_LEAST",
            "quantity": 2
          }
        },
        "claimCode": {
          "type": "GROUP",
          "value": "SAVE20"
        }
      }
    },
    "ClaimCode": {
      "type": "object",
      "description": "Claim code configuration for accessing the promotion.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "GROUP",
            "INDIVIDUAL"
          ],
          "description": "Type of claim code.",
          "example": "GROUP",
          "x-docgen-enum-table-extension": [
            {
              "value": "GROUP",
              "description": "A 6-12 digit claim-code can be used by multiple customers to redeem the promotion."
            },
            {
              "value": "INDIVIDUAL",
              "description": "Individual claim codes that are unique per customer. This is a placeholder value indicating the promotion contains individual claim codes. Note: The actual code value is not available through this API."
            }
          ]
        },
        "value": {
          "type": "string",
          "minLength": 6,
          "maxLength": 12,
          "pattern": "^[0-9A-Z]+$",
          "description": "The actual claim code (6-12 alphanumeric uppercase). Required when type is GROUP.",
          "example": "SAVE20"
        }
      },
      "required": [
        "type"
      ],
      "example": {
        "type": "GROUP",
        "value": "SAVE20"
      }
    },
    "BenefitTier": {
      "type": "object",
      "description": "Defines a progressive (multi-tier) benefit tier that applies when customers exceed a higher purchase quantity for basket building promotions. Each tier specifies a purchase condition and corresponding enhanced discount.",
      "properties": {
        "purchaseCondition": {
          "$ref": "#/definitions/PurchaseCondition",
          "description": "Purchase condition that must be met to receive this tier's enhanced discount."
        },
        "discount": {
          "$ref": "#/definitions/Discount",
          "description": "Discount configuration for this tier."
        }
      },
      "required": [
        "purchaseCondition",
        "discount"
      ],
      "example": {
        "purchaseCondition": {
          "quantityThreshold": {
            "type": "AT_LEAST",
            "quantity": 3
          }
        },
        "discount": {
          "type": "PERCENTAGE_OFF",
          "percentOff": 20
        }
      }
    },
    "Merchandising": {
      "type": "object",
      "description": "Merchandising configuration for displaying promotions on the retail website.",
      "properties": {
        "displayOnWebsite": {
          "type": "string",
          "enum": ["ALLOWED", "NOT_ALLOWED"],
          "description": "Controls whether the promotion badge and details are displayed on the product detail pages as well as search results on the retail website.",
          "x-docgen-enum-table-extension": [
            {
              "value": "ALLOWED",
              "description": "Promotion will be displayed on the retail website."
            },
            {
              "value": "NOT_ALLOWED",
              "description": "Promotion will not be displayed on the retail website."
            }
          ]
        }
      },
      "example": {
        "displayOnWebsite": "ALLOWED"
      }
    },
    "ItemBenefit": {
      "type": "object",
      "description": "Item-level benefit configuration with pricing options.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "FIXED_PRICE",
            "DISCOUNTED_PRICE"
          ],
          "description": "Benefit type for item-level pricing.",
          "example": "DISCOUNTED_PRICE",
          "x-docgen-enum-table-extension": [
            {
              "value": "FIXED_PRICE",
              "description": "Item is offered at a fixed price."
            },
            {
              "value": "DISCOUNTED_PRICE",
              "description": "Item is offered at a discounted price based on discount configuration."
            }
          ]
        },
        "price": {
          "$ref": "#/definitions/Currency",
          "description": "Fixed price."
        },
        "discount": {
          "$ref": "#/definitions/Discount",
          "description": "Discount configuration when using DISCOUNTED_PRICE type."
        },
        "perCustomerUses": {
          "type": "integer",
          "minimum": 1,
          "description": "Maximum uses per customer for this item benefit.",
          "example": 5
        }
      },
      "required": [
        "type"
      ],
      "example": {
        "type": "DISCOUNTED_PRICE",
        "discount": {
          "type": "PERCENTAGE_OFF",
          "percentOff": 15
        },
        "perCustomerUses": 5
      }
    },
    "PromotionBenefit": {
      "type": "object",
      "description": "Promotion-level benefit configuration.",
      "properties": {
        "discount": {
          "$ref": "#/definitions/Discount",
          "description": "Discount configuration for the promotion. For multi-tier BASKET_BUILDING promotions, this represents the first tier discount. Additional tier discounts are defined in additionalTiers."
        },
        "benefitQuantity": {
          "type": "integer",
          "description": "Quantity of items from the benefit selection that receive the discount after customer satisfies purchase conditions. This property is specific to BASKET BUILDING promotions.",
          "example": 1
        },
        "perCustomerUses": {
          "type": "integer",
          "minimum": 1,
          "description": "Maximum uses per customer for this promotion.",
          "example": 5
        },
        "stacking": {
          "type": "string",
          "enum": ["ALLOWED", "NOT_ALLOWED"],
          "description": "Whether this benefit can be stacked with other promotions.",
          "example": "ALLOWED"
        },
        "additionalTiers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BenefitTier"
          },
          "maxItems": 9,
          "description": "Progressive discount tiers offering increased benefits as customers purchase more. For example: buy 2 get 10% off, buy 3 get 15% off. For multi-tier BASKET_BUILDING promotions, each tier specifies additional purchase conditions and corresponding discounts beyond the first tier (defined in benefit.discount and purchaseRequirements.condition).",
          "example": [
            {
              "purchaseCondition": {
                "quantityThreshold": {
                  "type": "AT_LEAST",
                  "quantity": 3
                }
              },
              "discount": {
                "type": "PERCENTAGE_OFF",
                "percentOff": 20
              }
            },
            {
              "purchaseCondition": {
                "quantityThreshold": {
                  "type": "AT_LEAST",
                  "quantity": 5
                }
              },
              "discount": {
                "type": "PERCENTAGE_OFF",
                "percentOff": 25
              }
            }
          ]
        }
      }
    },
    "PromotionType": {
      "type": "string",
      "description": "Categorizes promotions by their discount application rules and eligibility criteria.",
      "enum": [
        "BASKET_BUILDING",
        "DEAL",
        "PRICE_DISCOUNT",
        "COUPON"
      ],
      "x-docgen-enum-table-extension": [
        {
          "value": "BASKET_BUILDING",
          "description": "Basket building promotion allows customers to receive a discount on a product (Y) by performing another action, usually purchasing a product (X)."
        },
        {
          "value": "DEAL",
          "description": "General discount promotion applied to eligible items."
        },
        {
          "value": "PRICE_DISCOUNT",
          "description": "Price discount promotion offering reduced prices on eligible items."
        },
        {
          "value": "COUPON",
          "description": "Coupon-based promotion requiring a shopper action for redemption."
        }
      ]
    },
    "Pagination": {
      "type": "object",
      "description": "When a request produces a response that returns unbounded results, pagination occurs. This means the entire response is divided into individual pages. To retrieve the right page, you must pass the `nextToken` as the `paginationToken` query parameter in the subsequent request. When there are no more pages to fetch, the `Pagination` key will be absent from the response. When a `Pagination` object is present, it should contain `nextToken` as non-null value",
      "properties": {
        "nextToken": {
          "description": "A token that can be used to fetch the next page from the current page of result.",
          "type": "string"
        }
      }
    },
    "PromotionSummary": {
      "type": "object",
      "description": "Summary information for a promotion in search results.",
      "properties": {
        "promotionId": {
          "type": "string",
          "description": "Unique promotion identifier."
        },
        "trackingId": {
          "type": "string",
          "description": "Tracking ID used to uniquely identify a promotion for performance tracking."
        },
        "marketplaceId": {
          "type": "string",
          "description": "Amazon marketplace identifier."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PromotionIssue"
          },
          "description": "Promotion-level validation issues.",
          "example": [
            {
              "code": "BUDGET_EXCEEDED",
              "message": "The promotion budget has been exceeded.",
              "severity": "WARNING"
            }
          ]
        },
        "promotionTitle": {
          "type": "string",
          "description": "Name of the promotion for the selling partner."
        },
        "selection": {
          "$ref": "#/definitions/Selection",
          "description": "A selection defining which items in the customer's order qualify for the promotion benefit. The discount or offer is applied to items in this selection. For BASKET_BUILDING promotions, this is the 'Get Y' selection (items receiving the discount after purchase requirements are met). For DEAL, PRICE_DISCOUNT, and COUPON promotions, this represents the eligible items that receive the benefit."
        },
        "purchaseRequirements": {
          "$ref": "#/definitions/PurchaseRequirements",
          "description": "Purchase requirements for BASKET_BUILDING promotions. Defines what customers must buy to qualify."
        },
        "promotionType": {
          "$ref": "#/definitions/PromotionType",
          "description": "Promotion type."
        },
        "schedule": {
          "$ref": "#/definitions/Schedule",
          "description": "Promotion schedule configuration."
        },
        "budget": {
          "$ref": "#/definitions/Budget",
          "description": "Promotion budget configuration."
        },
        "benefit": {
          "$ref": "#/definitions/PromotionBenefit",
          "description": "Promotion benefit configuration."
        },
        "merchandising": {
          "$ref": "#/definitions/Merchandising",
          "description": "Merchandising configuration for controlling promotion display on the retail website."
        },
        "customerSegments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerSegment"
          },
          "description": "Target customer segments for the promotion.",
          "example": [
            {
              "segmentType": "BRAND",
              "segmentId": "c157be82-b0c1-49e1-bf9b-4180da99b66d",
              "segmentDetails": {
                "brandSegmentDetails": {
                  "brandId": "G13V1IB3VIYZZH"
                }
              }
            }
          ]
        },
        "status": {
          "type": "string",
          "enum": [
            "PROCESSING",
            "UPCOMING",
            "RUNNING",
            "EXPIRED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "description": "Current promotion status indicating the lifecycle state of the promotion.",
          "x-docgen-enum-table-extension": [
            {
              "value": "PROCESSING",
              "description": "Promotion is being processed and validated by the system."
            },
            {
              "value": "UPCOMING",
              "description": "Promotion is scheduled and will become active at the specified start date."
            },
            {
              "value": "RUNNING",
              "description": "Promotion is currently active and available to customers."
            },
            {
              "value": "EXPIRED",
              "description": "Promotion has passed its end date and is no longer active."
            },
            {
              "value": "FAILED",
              "description": "Promotion processing or validation has failed and requires attention."
            },
            {
              "value": "CANCELLING",
              "description": "Promotion cancellation is in progress."
            },
            {
              "value": "CANCELLED",
              "description": "Promotion has been successfully cancelled and is no longer active."
            }
          ]
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "Promotion creation timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00)."
        },
        "lastUpdatedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Promotion last updated timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00)."
        }
      },
      "required": [
        "createdDate",
        "marketplaceId",
        "promotionId",
        "promotionTitle",
        "promotionType",
        "schedule",
        "selection",
        "status",
        "trackingId"
      ],
      "example": {
        "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "trackingId": "v2024-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "marketplaceId": "ATVPDKIKX0DER",
        "status": "RUNNING",
        "createdDate": "2025-07-01T02:01:08-07:00",
        "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
        "promotionTitle": "Summer Sale 2025",
        "selection": {
          "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
          "revisionId": 1,
          "type": "ITEMS"
        },
        "promotionType": "DEAL",
        "schedule": {
          "startDate": "2025-07-01T00:00:00-07:00",
          "endDate": "2025-08-31T23:59:59-07:00"
        }
      }
    },
    "SearchPromotionsResponse": {
      "type": "object",
      "description": "Response schema for search promotions operation. Note: The selectionDetails field will not be present in the selection object within promotion summaries.",
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "Total number of promotions matching the search criteria.",
          "minimum": 0
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination information for navigating results."
        },
        "promotions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PromotionSummary"
          },
          "description": "List of promotion summaries matching the search criteria."
        }
      },
      "required": [
        "totalResults",
        "promotions"
      ],
      "example": {
        "totalResults": 2,
        "pagination": {
          "nextToken": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
        },
        "promotions": [
          {
            "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "trackingId": "v2024-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "marketplaceId": "ATVPDKIKX0DER",
            "status": "RUNNING",
            "createdDate": "2025-07-01T02:01:08.180Z",
            "lastUpdatedDate": "2025-07-15T14:30:00.180Z",
            "promotionTitle": "Summer Sale 2025",
            "selection": {
              "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
              "revisionId": 1,
              "type": "ITEMS"
            },
            "promotionType": "DEAL",
            "schedule": {
              "startDate": "2025-07-01T00:00:00.000Z",
              "endDate": "2025-08-31T23:59:59.999Z"
            }
          }
        ]
      }
    },
    "GetPromotionResponse": {
      "type": "object",
      "description": "Response schema for get promotion operation.",
      "properties": {
        "promotionId": {
          "type": "string",
          "description": "Unique promotion identifier."
        },
        "trackingId": {
          "type": "string",
          "description": "Tracking ID is used to uniquely identify a promotion to track the performance."
        },
        "marketplaceId": {
          "type": "string",
          "description": "Amazon marketplace identifier."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PromotionIssue"
          },
          "description": "Promotion-level validation issues found during processing."
        },
        "promotionTitle": {
          "type": "string",
          "description": "Name of the promotion for the selling partner, not displayed to buyers."
        },
        "selection": {
          "$ref": "#/definitions/Selection",
          "description": "A selection defining which items in the customer's order qualify for the promotion benefit. The discount or offer is applied to items in this selection. For BASKET_BUILDING promotions, this is the 'Get Y' selection (items receiving the discount after purchase requirements are met). For DEAL and COUPON promotions, this represents the eligible items that receive the benefit."
        },
        "purchaseRequirements": {
          "$ref": "#/definitions/PurchaseRequirements",
          "description": "Purchase requirements for BASKET_BUILDING promotions. Defines what customers must buy to qualify."
        },
        "promotionType": {
          "$ref": "#/definitions/PromotionType",
          "description": "Categorizes promotions by their discount application rules and eligibility criteria."
        },
        "schedule": {
          "$ref": "#/definitions/Schedule",
          "description": "Promotion schedule configuration."
        },
        "budget": {
          "$ref": "#/definitions/Budget",
          "description": "Promotion budget configuration."
        },
        "customerSegments": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerSegment"
          },
          "description": "Target customer segments for the promotion."
        },
        "benefit": {
          "$ref": "#/definitions/PromotionBenefit",
          "description": "Promotion benefit configuration."
        },
        "merchandising": {
          "$ref": "#/definitions/Merchandising",
          "description": "Merchandising configuration for controlling promotion display on the retail website."
        },
        "status": {
          "type": "string",
          "enum": [
            "PROCESSING",
            "UPCOMING",
            "RUNNING",
            "EXPIRED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "description": "Current promotion status indicating the lifecycle state of the promotion.",
          "x-docgen-enum-table-extension": [
            {
              "value": "PROCESSING",
              "description": "Promotion is being processed and validated by the system."
            },
            {
              "value": "UPCOMING",
              "description": "Promotion is scheduled and will become active at the specified start date."
            },
            {
              "value": "RUNNING",
              "description": "Promotion is currently active and available to customers."
            },
            {
              "value": "EXPIRED",
              "description": "Promotion has passed its end date and is no longer active."
            },
            {
              "value": "FAILED",
              "description": "Promotion processing or validation has failed and requires attention."
            },
            {
              "value": "CANCELLING",
              "description": "Promotion cancellation is in progress."
            },
            {
              "value": "CANCELLED",
              "description": "Promotion has been successfully cancelled and is no longer active."
            }
          ]
        },
        "createdDate": {
          "type": "string",
          "format": "date-time",
          "description": "Promotion creation timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00)."
        },
        "lastUpdatedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Promotion updated timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00)."
        }
      },
      "required": [
        "createdDate",
        "marketplaceId",
        "promotionId",
        "promotionTitle",
        "promotionType",
        "schedule",
        "selection",
        "status",
        "trackingId"
      ],
      "example": {
        "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "trackingId": "v2024-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
        "marketplaceId": "ATVPDKIKX0DER",
        "status": "RUNNING",
        "createdDate": "2025-07-01T02:01:08.180Z",
        "lastUpdatedDate": "2025-07-15T14:30:00.180Z",
        "promotionTitle": "Buy 2, Get 1 Free",
        "promotionType": "BASKET_BUILDING",
        "schedule": {
          "startDate": "2025-07-01T00:00:00.000Z",
          "endDate": "2025-08-31T23:59:59.999Z"
        },
        "budget": {
          "type": "AMOUNT",
          "value": 10000,
          "currencyCode": "USD"
        },
        "selection": {
          "selectionId": "1b9d6bcd-bbfd-4b2d-9b5d-ab8dfbbd4bed",
          "revisionId": 1,
          "type": "ITEMS"
        },
        "purchaseRequirements": {
          "selection": {
            "selectionId": "6ba7b814-9dad-11d1-80b4-00c04fd430c8",
            "revisionId": 1,
            "type": "ITEMS"
          },
          "condition": {
            "quantityThreshold": {
              "type": "AT_LEAST",
              "quantity": 2
            }
          },
          "claimCode": {
            "type": "GROUP",
[...]
