{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Promotions enables selling partners to create and manage promotions.",
    "version": "2025-12-01",
    "title": "The Selling Partner API for Promotions",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/promotions/2025-12-01/promotions/{promotionId}/cancel": {
      "put": {
        "tags": [
          "promotions"
        ],
        "description": "Cancel a specified promotion. Only promotions in the `UPCOMING`, `PROCESSING` or `RUNNING` statuses can be canceled. Once canceled, a promotion cannot be reactivated. This operation is idempotent; canceling a promotion that is already canceled returns the current state.",
        "operationId": "cancelPromotion",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The ID of the promotion to cancel.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The promotion is already canceled.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CancelPromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "c3d4e5f6-a7b8-9012-cdef-gh3456789012"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "c3d4e5f6-a7b8-9012-cdef-gh3456789012",
                    "status": "CANCELLED"
                  }
                }
              ]
            }
          },
          "202": {
            "description": "The promotion cancellation request was accepted for processing.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CancelPromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "status": "CANCELLING"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef12345678911"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid promotion identifier provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "409": {
            "description": "The promotion cannot be cancelled in its current state.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "d4e5f6a7-b8c9-0123-defg-hi4567890123"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidPromotionState",
                        "message": "The promotion cannot be cancelled in its current state.",
                        "details": "Only promotions in UPCOMING, PROCESSING or RUNNING status can be cancelled."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/promotions/2025-12-01/promotions/{promotionId}/selections/{selectionId}": {
      "get": {
        "tags": [
          "promotions"
        ],
        "description": "Retrieve up to 100 product items that are associated with a specified promotion. This operation only supports items found in `SelectionType.ITEMS`. Items found in `SelectionType.CATALOG` are not supported. Selection objects always include `selectionDetails` with item information.",
        "operationId": "getSelection",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The ID of the promotion.",
            "required": true,
            "type": "string"
          },
          {
            "name": "selectionId",
            "in": "path",
            "description": "The ID of the selection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "query",
            "description": "The revision identifier for the selection. Use the `revisionId` from the `getPromotion` response. A promotion may have multiple selection revisions when an update is in progress. Passing the correct `revisionId` ensures you retrieve the expected data.",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "x-example": 1
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US",
            "x-example": "en_US"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "type": "string",
            "description": "A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.",
            "required": false,
            "x-example": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of response results per page.",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of datasets to include in the response.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include item level issues and warnings in the response. If not specified, the 'issues' field will be omitted from the response even if issues exist for the item."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the item selection for the promotion.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/GetSelectionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "revisionId": {
                        "value": 1
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "limit": {
                        "value": 1
                      },
                      "includedData": {
                        "value": [
                          "ISSUES"
                        ]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "benefit": {
                              "type": "DISCOUNTED_PRICE",
                              "discount": {
                                "type": "PERCENTAGE_OFF",
                                "percentOff": 15
                              }
                            }
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ],
                        "pagination": {
                          "nextToken": "eyJwYWdlIjoyLCJsaW1pdCI6MjB9"
                        }
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567891"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "revisionId": {
                        "value": 1
                      },
                      "paginationToken": {
                        "value": "eyJwYWdlIjoyLCJsaW1pdCI6MjB9"
                      },
                      "limit": {
                        "value": 20
                      },
                      "includedData": {
                        "value": [
                          "ISSUES"
                        ]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B07XJ8C8F5",
                            "benefit": {
                              "type": "FIXED_PRICE",
                              "price": {
                                "amount": 24.99,
                                "currencyCode": "USD"
                              },
                              "discount": {
                                "type": "AMOUNT_OFF",
                                "amountOff": 5,
                                "currencyCode": "USD"
                              }
                            }
                          }
                        ],
                        "issues": []
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567892"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "revisionId": {
                        "value": 1
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "limit": {
                        "value": 2
                      },
                      "includedData": {
                        "value": [
                          "ISSUES"
                        ]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "CATALOG",
                      "selectionDetails": {
                        "rules": {
                          "excludedItems": [
                            {
                              "asin": "B08N5WRWNW"
                            },
                            {
                              "asin": "B07XJ8C8F5"
                            }
                          ]
                        },
                        "issues": [],
                        "pagination": {
                          "nextToken": "eyJwYWdlIjoyLCJsaW1pdCI6NTB9"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "invalid-id"
                      },
                      "selectionId": {
                        "value": "sel-12345"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid promotion ID format."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "invalid-selection-id"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid selection ID format."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-abc234567980"
                      },
                      "paginationToken": {
                        "value": "invalid-token"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid pagination token provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "nonexistent-selection"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The specified selection does not exist.",
                        "details": "Selection ID not found for this promotion."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "Error response returned when the request is unsuccessful.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that identifies the type of error that occurred."
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error condition.",
          "maxLength": 1024
        },
        "details": {
          "type": "string",
          "description": "Additional details that can help the caller understand or fix the issue."
        },
        "itemIdentifier": {
          "$ref": "#/definitions/ItemIdentifier",
          "description": "Identifier of the item that this error is associated with. Present only if the error is an item-level error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorList": {
      "type": "object",
      "description": "A list of error responses returned when a request is unsuccessful.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "List of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "required": [
        "errors"
      ]
    },
    "Currency": {
      "type": "object",
      "description": "Currency amount with ISO 4217 currency code.",
      "properties": {
        "amount": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "Amount value.",
          "example": 5
        },
        "currencyCode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "description": "ISO 4217 currency code.",
          "example": "USD"
        }
      },
      "required": [
        "amount",
        "currencyCode"
      ],
      "example": {
        "amount": 10,
        "currencyCode": "USD"
      }
    },
    "Issue": {
      "type": "object",
      "description": "Issue information with code, message, and severity.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Issue code identifier.",
          "example": "INVALID_INPUT"
        },
        "message": {
          "type": "string",
          "description": "Issue description.",
          "example": "The provided input is invalid.",
          "maxLength": 1024
        },
        "severity": {
          "description": "Issue severity level.",
          "type": "string",
          "enum": [
            "ERROR",
            "WARNING"
          ],
          "example": "ERROR",
          "x-docgen-enum-table-extension": [
            {
              "value": "ERROR",
              "description": "Indicates a critical issue that must be resolved."
            },
            {
              "value": "WARNING",
              "description": "Indicates a non-critical issue that should be reviewed."
            }
          ]
        }
      },
      "required": [
        "code",
        "message",
        "severity"
      ],
      "example": {
        "code": "INVALID_INPUT",
        "message": "The provided input is invalid.",
        "severity": "ERROR"
      }
    },
    "ItemIdentifier": {
      "type": "object",
      "description": "The key identifiers of an item.",
      "properties": {
        "asin": {
          "type": "string",
          "description": "Amazon Standard Identification Number (ASIN).",
          "example": "B08N5WRWNW"
        },
        "sku": {
          "type": "string",
          "description": "Stock Keeping Unit (SKU).",
          "example": "MY-SKU-12345"
        }
      },
      "example": {
        "asin": "B08N5WRWNW"
      }
    },
    "ItemIssue": {
      "description": "An item-level validation issue.",
      "allOf": [
        {
          "$ref": "#/definitions/Issue"
        },
        {
          "type": "object",
          "properties": {
            "identifier": {
              "$ref": "#/definitions/ItemIdentifier",
              "description": "Identifier of the item associated with this issue."
            }
          },
          "required": [
            "identifier"
          ]
        }
      ]
    },
    "Item": {
      "type": "object",
      "description": "An item in the Amazon catalog for promotion selection.",
      "properties": {
        "asin": {
          "type": "string",
          "description": "The Amazon Standard Identification Number (ASIN) is the unique identifier for an item in the Amazon catalog.",
          "example": "B08N5WRWNW"
        },
        "sku": {
          "type": "string",
          "description": "The Stock Keeping Unit (SKU).",
          "example": "MY-SKU-12345"
        },
        "benefit": {
          "$ref": "#/definitions/ItemBenefit",
          "description": "Item-level benefit configuration. This only applies to `DEAL` and `PRICE_DISCOUNT` promotion types."
        },
        "budget": {
          "$ref": "#/definitions/Budget",
          "description": "Item-level budget configuration. This only applies to `DEAL` and `PRICE_DISCOUNT` promotion types."
        }
      }
    },
    "Selection": {
      "type": "object",
      "description": "Defines which products qualify for a benefit, allowing either specific items to be selected by ASIN or the entire catalog with optional exclusions.",
      "properties": {
        "selectionId": {
          "type": "string",
          "description": "The unique identifier for this selection configuration. **Note:** This field is absent when `type` is `CATALOG`.",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        },
        "revisionId": {
          "type": "integer",
          "minimum": 1,
          "description": "The revision identifier for the selection. Pass this value to the `getSelection` operation's `revisionId` query parameter to retrieve the correct version of the selection. A promotion may have multiple selection revisions when an update is in progress. **Note:** This field is absent when `type` is `CATALOG`."
        },
        "type": {
          "type": "string",
          "enum": [
            "CATALOG",
            "ITEMS"
          ],
          "description": "Selection type.",
          "example": "ITEMS",
          "x-docgen-enum-table-extension": [
            {
              "value": "CATALOG",
              "description": "Select all items in the catalog with optional exclusions."
            },
            {
              "value": "ITEMS",
              "description": "Select specific items by ASIN or SKU."
            }
          ]
        },
        "selectionDetails": {
          "$ref": "#/definitions/SelectionDetails",
          "description": "Detailed selection information."
        }
      },
      "required": [
        "type"
      ],
      "example": {
        "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
        "revisionId": 1,
        "type": "ITEMS",
        "selectionDetails": {
          "items": [
            {
              "asin": "B08N5WRWNW",
              "benefit": {
                "type": "DISCOUNTED_PRICE",
                "discount": {
                  "type": "PERCENTAGE_OFF",
                  "percentOff": 15
                }
              }
            },
            {
              "asin": "B07XJ8C8F5"
            }
          ]
        }
      }
    },
    "SelectionDetails": {
      "type": "object",
      "description": "Detailed selection information including items, rules, issues, and pagination.",
      "properties": {
        "rules": {
          "$ref": "#/definitions/SelectionRules",
          "description": "Rule configuration for catalog-based selections. Only valid when `type` is `CATALOG`."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemIssue"
          },
          "description": "Item-level validation issues for items in this selection. Only present when `ISSUES` is included in the `includedData` query parameter.",
          "example": [
            {
              "code": "INVALID_SKU",
              "message": "The SKU provided is not valid",
              "severity": "ERROR",
              "identifier": {
                "sku": "MY-SKU-12345"
              }
            }
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          },
          "maxItems": 100,
          "description": "List of specific items to include. Only valid when `type` is `ITEMS` (maximum 100 items).",
          "example": [
            {
              "asin": "B08N5WRWNW",
              "benefit": {
                "type": "DISCOUNTED_PRICE",
                "discount": {
                  "type": "PERCENTAGE_OFF",
                  "percentOff": 15
                },
                "perCustomerUses": 3
              },
              "budget": {
                "type": "AMOUNT",
                "value": 500,
                "currencyCode": "USD"
              }
            },
            {
              "asin": "B07XJ8C8F5",
              "benefit": {
                "type": "FIXED_PRICE",
                "price": {
                  "amount": 24.99,
                  "currencyCode": "USD"
                },
                "discount": {
                  "type": "AMOUNT_OFF",
                  "amountOff": 10,
                  "currencyCode": "USD"
                },
                "perCustomerUses": 5
              },
              "budget": {
                "type": "UNITS",
                "value": 100
              }
            }
          ]
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination metadata for navigating through pages of selection items."
        }
      }
    },
    "SelectionRules": {
      "type": "object",
      "description": "Rules for catalog-based selections.",
      "properties": {
        "excludedItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          },
          "maxItems": 100,
          "description": "Items to exclude from the catalog selection (maximum 100 items).",
          "example": [
            {
              "asin": "B08N5WRWNW"
            },
            {
              "asin": "B07XJ8C8F5"
            }
          ]
        }
      },
      "example": {
        "excludedItems": [
          {
            "asin": "B08N5WRWNW"
          }
        ]
      }
    },
    "Budget": {
      "type": "object",
      "description": "Budget configuration for spending limits. For `COUPON` and `BASKET_BUILDING` promotion types, the budget is set at the promotion level and applies to the entire promotion. For `DEAL` and `PRICE_DISCOUNT` promotion types, the budget is set at the item level within each item in the selection.",
      "properties": {
        "type": {
          "description": "The budget type, either monetary or unit-based.",
          "type": "string",
          "enum": [
            "AMOUNT",
            "UNITS"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "AMOUNT",
              "description": "Budget specified as a monetary amount."
            },
            {
              "value": "UNITS",
              "description": "Budget specified as a number of units."
            }
          ]
        },
        "value": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "Budget value (amount or unit count)."
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency code in ISO 4217 format. Required when `type` is `AMOUNT`.",
          "minLength": 3,
          "maxLength": 3
        }
      },
      "required": [
        "type",
        "value"
      ]
    },
    "Discount": {
      "type": "object",
      "description": "The discount configuration shared across benefit types.",
      "properties": {
        "type": {
          "description": "The method used to calculate the discount amount.",
          "type": "string",
          "enum": [
            "PERCENTAGE_OFF",
            "AMOUNT_OFF",
            "FREE_ITEM"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "PERCENTAGE_OFF",
              "description": "The discount is applied as a percentage off the original price."
            },
            {
              "value": "AMOUNT_OFF",
              "description": "The discount is applied as a fixed amount off the original price."
            },
            {
              "value": "FREE_ITEM",
              "description": "The item is provided free of charge. Only applicable to the `BASKET_BUILDING` promotion type."
            }
          ]
        },
        "percentOff": {
          "type": "number",
          "minimum": 1,
          "maximum": 100,
          "description": "The percentage discount value (1-100). Only valid when `type` is `PERCENTAGE_OFF`."
        },
        "amountOff": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "The amount off value. Only valid when `type` is `AMOUNT_OFF`.",
          "example": 5
        },
        "currencyCode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "description": "The currency code in ISO 4217 format. Required when `type` is `AMOUNT_OFF`.",
          "example": "USD"
        }
      },
      "required": [
        "type"
      ]
    },
    "ItemBenefit": {
      "type": "object",
      "description": "Item-level benefit configuration with pricing options. Applicable to `DEAL` and `PRICE_DISCOUNT` promotion types, where each item can have its own distinct benefit. For `COUPON` and `BASKET_BUILDING` promotion types, benefits are configured at the promotion level.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "FIXED_PRICE",
            "DISCOUNTED_PRICE"
          ],
          "description": "The benefit type for item-level pricing.",
          "example": "DISCOUNTED_PRICE",
          "x-docgen-enum-table-extension": [
            {
              "value": "FIXED_PRICE",
              "description": "The item is offered at a fixed price."
            },
            {
              "value": "DISCOUNTED_PRICE",
              "description": "The item is offered at a discounted price based on discount configuration."
            }
          ]
        },
        "price": {
          "$ref": "#/definitions/Currency",
          "description": "Fixed price."
        },
        "discount": {
          "$ref": "#/definitions/Discount",
          "description": "The discount configuration when using `DISCOUNTED_PRICE` type."
        },
        "perCustomerUses": {
          "type": "integer",
          "minimum": 1,
          "description": "The maximum number of uses per customer for this item benefit.",
          "example": 5
        }
      },
      "required": [
        "type"
      ],
      "example": {
        "type": "DISCOUNTED_PRICE",
        "discount": {
          "type": "PERCENTAGE_OFF",
          "percentOff": 15
        },
        "perCustomerUses": 5
      }
    },
    "Pagination": {
      "type": "object",
      "description": "When a request produces a list that is larger than the page size, pagination occurs. This divides the response into individual pages. To retrieve the next page, pass the `nextToken` as the `paginationToken` query parameter in the subsequent request. When there are no more pages to retrieve, the `Pagination` key will be absent from the response. When a `Pagination` object is present, it contains `nextToken` as non-null value",
      "properties": {
        "nextToken": {
          "description": "A token that can be used to retrieve the next page from the current page of results.",
          "type": "string"
        }
      }
    },
    "GetSelectionResponse": {
      "type": "object",
      "description": "The response schema for `getSelection`. The `selectionDetails` field is always present when `type` is `ITEMS`.",
      "properties": {
        "selection": {
          "$ref": "#/definitions/Selection"
        }
      },
      "required": [
        "selection"
      ]
    },
    "CancelPromotionResponse": {
      "type": "object",
      "description": "Cancellation is asynchronous and idempotent. A status of `CANCELLING` indicates that the request was accepted and cancellation is in progress. You can poll the promotion using the `getPromotion` operation to check for the terminal `CANCELLED` status.",
      "properties": {
        "promotionId": {
          "type": "string",
          "description": "The promotion identifier of the canceled promotion."
        },
        "status": {
          "type": "string",
          "description": "The updated status of the promotion after the cancellation request. A value of `CANCELLING` indicates that the cancellation is being processed asynchronously. A value of `CANCELLED` indicates that the promotion is canceled.",
          "enum": [
            "CANCELLING",
            "CANCELLED"
          ]
        }
      },
      "required": [
        "promotionId",
        "status"
      ]
    }
  }
}