{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Promotions enables selling partners to create and manage promotions.",
    "version": "2025-12-01",
    "title": "The Selling Partner API for Promotions",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/promotions/2025-12-01/promotions": {
      "get": {
        "x-amzn-api-internal": "INTERNAL_AND_EXTERNAL",
        "tags": [
          "promotions"
        ],
        "description": "Search and filter promotions based on various criteria. Returns a paginated list of promotion summaries.",
        "operationId": "searchPromotions",
        "parameters": [
          {
            "name": "marketplaceIds",
            "in": "query",
            "description": "The Amazon stores from which to retrieve promotions. Refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers) for a list of Amazon store values.",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 1,
            "collectionFormat": "csv",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale from which to retrieve promotions. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US"
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "The statuses of promotions to retrieve, formatted as a comma-delimited list.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PROCESSING",
                "UPCOMING",
                "RUNNING",
                "EXPIRED",
                "FAILED",
                "CANCELLING",
                "CANCELLED"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "RUNNING,UPCOMING,PROCESSING",
            "x-docgen-enum-table-extension": [
              {
                "value": "PROCESSING",
                "description": "Promotion is being processed and validated by the system."
              },
              {
                "value": "UPCOMING",
                "description": "Promotion is scheduled and becomes active at the specified start date."
              },
              {
                "value": "RUNNING",
                "description": "Promotion is currently active and available to customers."
              },
              {
                "value": "EXPIRED",
                "description": "Promotion has passed its end date and is no longer active."
              },
              {
                "value": "FAILED",
                "description": "Promotion processing or validation has failed and requires attention."
              },
              {
                "value": "CANCELLING",
                "description": "Promotion cancellation is in progress."
              },
              {
                "value": "CANCELLED",
                "description": "Promotion has been successfully canceled and is no longer active."
              }
            ]
          },
          {
            "name": "asins",
            "in": "query",
            "description": "The ASINs to which promotions apply, formatted as a comma-delimited list.",
            "required": false,
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "B08N5WRWNW,B07XJ8C8F5,B09MKTS6R4"
          },
          {
            "name": "skus",
            "in": "query",
            "description": "The SKUs to which promotions apply, formatted as a comma-delimited list.",
            "required": false,
            "type": "array",
            "maxItems": 10,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "SKU-001,SKU-002,SKU-003"
          },
          {
            "name": "promotionTypes",
            "in": "query",
            "description": "The promotion types to which promotions apply, formatted as a comma-delimited list.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "BASKET_BUILDING",
                "DEAL",
                "PRICE_DISCOUNT",
                "COUPON"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "DEAL"
          },
          {
            "name": "startDateBefore",
            "in": "query",
            "description": "Promotions that start before this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-08-31T23:59:59-07:00"
          },
          {
            "name": "startDateAfter",
            "in": "query",
            "description": "Promotions that start after this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-07-01T00:00:00-07:00"
          },
          {
            "name": "endDateBefore",
            "in": "query",
            "description": "Promotions that end before this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-12-31T23:59:59-08:00"
          },
          {
            "name": "endDateAfter",
            "in": "query",
            "description": "Promotions that end after this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-09-01T00:00:00-07:00"
          },
          {
            "name": "updateDateAfter",
            "in": "query",
            "description": "Filter promotions that were last modified after this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-07-01T00:00:00-07:00"
          },
          {
            "name": "updateDateBefore",
            "in": "query",
            "description": "Filter promotions that were last modified before this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-example": "2025-12-31T23:59:59-07:00"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "type": "string",
            "description": "A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.",
            "required": false,
            "x-example": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
          },
          {
            "name": "revision",
            "in": "query",
            "description": "Specifies which promotion revision or revisions to match against when filtering. This controls which promotions are included in search results, not the shape of the response. The response always returns the published revision in the main body, with `latestRevision` included when the latest revision diverges.",
            "required": false,
            "type": "string",
            "enum": [
              "LATEST",
              "PUBLISHED",
              "ANY"
            ],
            "default": "PUBLISHED",
            "x-example": "PUBLISHED",
            "x-docgen-enum-table-extension": [
              {
                "value": "LATEST",
                "description": "Query against latest revision of promotions. Returns promotions based on their latest revision state. This will skip promotions where the query matched only its published revision."
              },
              {
                "value": "PUBLISHED",
                "description": "Query against published revisions of promotions. Returns only promotions that have been published. This will skip promotions where the query matched only its latest revision."
              },
              {
                "value": "ANY",
                "description": "Query against published and latest revisions. This provides the complete state including both published and latest revision promotions."
              }
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of response results per page.",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of datasets to include in the response.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES",
                "CUSTOMER_SEGMENTS"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include promotion level issues and warnings in the response. If not specified, the 'issues' field will be omitted from the response even if issues exist for the promotion."
              },
              {
                "value": "CUSTOMER_SEGMENTS",
                "description": "Include customer segment targeting information in the response. If not specified, the 'customerSegments' field will be omitted from the response."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved promotions.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/SearchPromotionsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "statuses": {
                        "value": [
                          "RUNNING",
                          "UPCOMING"
                        ]
                      },
                      "limit": {
                        "value": 10
                      }
                    }
                  },
                  "response": {
                    "totalResults": 2,
                    "pagination": {
                      "nextToken": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
                    },
                    "promotions": [
                      {
                        "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "trackingId": "v2024-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "marketplaceId": "ATVPDKIKX0DER",
                        "status": "RUNNING",
                        "createdDate": "2025-07-01T02:01:08-07:00",
                        "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
                        "promotionTitle": "Summer Sale 2025",
                        "selection": {
                          "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "revisionId": 1,
                          "type": "ITEMS"
                        },
                        "promotionType": "DEAL",
                        "schedule": {
                          "startDate": "2025-07-01T00:00:00-07:00",
                          "endDate": "2025-08-31T23:59:59-07:00",
                          "eventId": "PRIME_DAY_2025"
                        }
                      },
                      {
                        "promotionId": "b2c3d4e5-f6g7-8901-bcde-fg2345678901",
                        "trackingId": "v2024-b2c3d4e5-f6g7-8901-bcde-fg2345678901",
                        "marketplaceId": "ATVPDKIKX0DER",
                        "status": "UPCOMING",
                        "createdDate": "2025-08-01T10:00:00-07:00",
                        "lastUpdatedDate": "2025-08-05T16:45:00-07:00",
                        "promotionTitle": "Back to School Special",
                        "selection": {
                          "selectionId": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                          "revisionId": 1,
                          "type": "ITEMS"
                        },
                        "promotionType": "BASKET_BUILDING",
                        "schedule": {
                          "startDate": "2025-09-01T00:00:00-07:00",
                          "endDate": "2025-09-30T23:59:59-07:00"
                        },
                        "budget": {
                          "type": "UNITS",
                          "value": 500
                        },
                        "purchaseRequirements": {
                          "selection": {
                            "selectionId": "6ba7b810-9dad-11d1-80b4-00c04fd430c8",
                            "revisionId": 1,
                            "type": "ITEMS"
                          },
                          "condition": {
                            "quantityThreshold": {
                              "type": "AT_LEAST",
                              "quantity": 2
                            }
                          }
                        },
                        "benefit": {
                          "discount": {
                            "type": "AMOUNT_OFF",
                            "amountOff": 10.0,
                            "currencyCode": "USD"
                          },
                          "benefitQuantity": 1,
                          "perCustomerUses": 3,
                          "stacking": "NOT_ALLOWED"
                        },
                        "merchandising": {
                          "displayOnWebsite": "ALLOWED"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceIds": {
                        "value": [
                          "INVALID_MARKETPLACE"
                        ]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid marketplace identifier provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "promotions"
        ],
        "description": "Create a promotion. The response contains the promotion identifier if the request was accepted for processing. Returns a list of errors if schema and business validations failed. The error list may contain both promotion and item level errors.",
        "operationId": "createPromotion",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "description": "The locale code constructed from the ISO 639 language code, followed by an underscore, followed by the ISO 3166-1 alpha-2 country code.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "`createPromotion`, by default, validates and creates the promotion if validation passes. However, by setting this parameter to `VALIDATION_PREVIEW`, you run validation rules on the promotion to check for errors without creating the promotion. If an error list is returned, it may contain both promotion and item level errors.",
            "required": false,
            "type": "string",
            "enum": [
              "VALIDATION_PREVIEW"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "VALIDATION_PREVIEW",
                "description": "Validates promotion payload and returns any validation errors without creating the promotion. Performs the same synchronous checks as regular promotion creation."
              }
            ]
          },
          {
            "name": "body",
            "in": "body",
            "description": "Promotion details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreatePromotionRequest"
            }
          },
          {
            "name": "x-amzn-idempotency-token",
            "in": "header",
            "description": "Unique caller-provided request identifier to support idempotency. Requests with a duplicate identifier will be semantically equivalent, and callers can expect a successful response with the same `promotionId` as the previous request.",
            "type": "string",
            "required": true,
            "x-example": "0642d0f3-ffa3-47ce-a1fb-7e494c44f19f"
          }
        ],
        "responses": {
          "202": {
            "description": "The promotion creation request was accepted for processing.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CreatePromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "locale": {
                        "value": "en_US"
                      },
                      "body": {
                        "value":{
                          "marketplaceId": "ATVPDKIKX0DER",
                          "promotionTitle": "Summer sale coupon",
                          "promotionType": "COUPON",
                          "schedule": {
                            "startDate": "2025-07-01T00:00:00-07:00",
                            "endDate": "2025-08-31T23:59:59-07:00"
                          },
                          "budget": {
                            "type": "AMOUNT",
                            "value": 1000,
                            "currencyCode": "USD"
                          },
                          "benefit": {
                            "discount": {
                              "type": "PERCENTAGE_OFF",
                              "percentOff": 15
                            },
                            "perCustomerUses": 5,
                            "stacking": "ALLOWED"
                          },
                          "customerSegments": [
                            {
                              "segmentType": "PROGRAM",
                              "segmentId": "PRIME_EXCLUSIVE"
                            }
                          ],
                          "selectionInput": {
                            "type": "ITEMS",
                            "items": [
                              {
                                "asin": "B08N5WRWNW",
                                "benefit": {
                                  "type": "DISCOUNTED_PRICE",
                                  "discount": {
                                    "type": "PERCENTAGE_OFF",
                                    "percentOff": 15
                                  },
                                  "perCustomerUses": 3
                                },
                                "budget": {
                                  "type": "AMOUNT",
                                  "value": 500,
                                  "currencyCode": "USD"
                                }
                              },
                              {
                                "asin": "B07XJ8C8F5",
                                "benefit": {
                                  "type": "FIXED_PRICE",
                                  "price": {
                                    "amount": 24.99,
                                    "currencyCode": "USD"
                                  },
                                  "discount": {
                                    "type": "AMOUNT_OFF",
                                    "amountOff": 10.00,
                                    "currencyCode": "USD"
                                  },
                                  "perCustomerUses": 5
                                },
                                "budget": {
                                  "type": "UNITS",
                                  "value": 100
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {}
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid parameter value provided."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "locale": {
                        "value": "en_US"
                      },
                      "body": {
                        "value":{
                          "marketplaceId": "ATVPDKIKX0DER",
                          "promotionTitle": "Summer sale coupon",
                          "promotionType": "COUPON",
                          "budget": {
                            "type": "AMOUNT123",
                            "value": 1000,
                            "currencyCode": "USD"
                          },
                          "benefit": {
                            "discount": {
                              "type": "PERCENTAGE_OFF",
                              "percentOff": 15
                            },
                            "perCustomerUses": 5,
                            "stacking": "ALLOWED"
                          },
                          "customerSegments": [
                            {
                              "segmentType": "PROGRAM",
                              "segmentId": "PRIME_EXCLUSIVE"
                            }
                          ],
                          "selectionInput": {
                            "type": "ITEMS",
                            "items": [
                              {
                                "asin": "B08N5WRWNW",
                                "benefit": {
                                  "type": "DISCOUNTED_PRICE",
                                  "discount": {
                                    "type": "PERCENTAGE_OFF",
                                    "percentOff": 15
                                  },
                                  "perCustomerUses": 3
                                },
                                "budget": {
                                  "type": "AMOUNT",
                                  "value": 500,
                                  "currencyCode": "USD"
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "Value at 'budget.type' failed to satisfy constraint: Member 'AMOUNT123' must be one of [AMOUNT]"
                      },
                      {
                        "code": "MISSING_REQUIRED_FIELD",
                        "message": "Value at 'schedule' failed to satisfy constraint: Member must not be null"
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "locale": {
                        "value": "en_US"
                      },
                      "mode": {
                        "value": "VALIDATION_PREVIEW"
                      },
                      "body": {
                        "value":{
                          "marketplaceId": "ATVPDKIKX0DER",
                          "promotionTitle": "Summer sale coupon",
                          "promotionType": "COUPON",
                          "schedule": {
                            "startDate": "2025-07-01T00:00:00-07:00",
                            "endDate": "2025-08-31T23:59:59-07:00"
                          },
                          "budget": {
                            "type": "AMOUNT",
                            "value": 1000,
                            "currencyCode": "USD"
                          },
                          "benefit": {
                            "discount": {
                              "type": "PERCENTAGE_OFF",
                              "percentOff": 15
                            },
                            "perCustomerUses": 5,
                            "stacking": "ALLOWED"
                          },
                          "customerSegments": [
                            {
                              "segmentType": "PROGRAM",
                              "segmentId": "PRIME_EXCLUSIVE"
                            }
                          ],
                          "selectionInput": {
                            "type": "ITEMS",
                            "items": [
                              {
                                "asin": "B08N5WRWNW",
                                "benefit": {
                                  "type": "DISCOUNTED_PRICE",
                                  "discount": {
                                    "type": "PERCENTAGE_OFF",
                                    "percentOff": 15
                                  },
                                  "perCustomerUses": 3
                                },
                                "budget": {
                                  "type": "AMOUNT",
                                  "value": 500,
                                  "currencyCode": "USD"
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "HAS_OVERLAPPING_PROMOTIONS",
                        "message": "This promotion overlaps with an existing active promotion in the same date range."
                      },
                      {
                        "code": "PRODUCT_NOT_AVAILABLE",
                        "message": "Product B08N5WRWNW is not available for this promotion type.",
                        "itemIdentifier": {
                          "asin": "B08N5WRWNW"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/promotions/2025-12-01/promotions/{promotionId}": {
      "get": {
        "x-amzn-api-internal": "INTERNAL_AND_EXTERNAL",
        "tags": [
          "promotions"
        ],
        "description": "Retrieve details of a specified promotion.",
        "operationId": "getPromotion",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The ID of the promotion.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of datasets to include in the response.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES",
                "SELECTION",
                "CUSTOMER_SEGMENTS"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include promotion level issues and warnings in the response. If not specified, the `issues` field will be omitted from the response even if issues exist for the promotion. If this field is specified without `SELECTION`, then item level issues will not be returned in the response. To get item level issues as well, specify both `SELECTION` and `ISSUES` in the query parameters, or use the paginated `getSelection` operation."
              },
              {
                "value": "SELECTION",
                "description": "Include `selectionDetails` field within the `selection` object, containing item-level information such as benefits, budgets, and other details. If not specified, the `selection` field will contain only minimal metadata (`selectionId`, `type`, and optionally `revisionId`). Item issues are only populated if both `SELECTION` and `ISSUES` are specified in the query parameters, or use the `getSelection` operation."
              },
              {
                "value": "CUSTOMER_SEGMENTS",
                "description": "Include customer segment targeting information in the response. If not specified, the 'customerSegments' field will be omitted from the response."
              }
            ]
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the promotion details.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/GetPromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION", "CUSTOMER_SEGMENTS"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "trackingId": "df066132-dd1d-4cf0-bfb0-31578b28845d",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "RUNNING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
                    "promotionTitle": "Summer Sale 2025",
                    "promotionType": "COUPON",
                    "couponType": "STANDARD",
                    "schedule": {
                      "startDate": "2025-07-01T00:00:00-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00"
                    },
                    "budget": {
                      "type": "AMOUNT",
                      "value": 1000,
                      "currencyCode": "USD"
                    },
                    "selection": {
                      "selectionId": "198ac961-28cf-4b9a-bec8-2260a28102d7",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW"
                          },
                          {
                            "asin": "B07XJ8C8F5"
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ]
                      }
                    },
                    "benefit": {
                      "discount": {
                        "type": "PERCENTAGE_OFF",
                        "percentOff": 15
                      },
                      "perCustomerUses": 5,
                      "stacking": "ALLOWED"
                    },
                    "issues": [
                      {
                        "code": "HAS_OVERLAPPING_PROMOTIONS",
                        "message": "HAS_OVERLAPPING_PROMOTIONS",
                        "severity": "WARNING"
                      }
                    ],
                    "customerSegments": [
                      {
                        "segmentType": "BRAND",
                        "segmentId": "c157be82-b0c1-49e1-bf9b-4180da99b66d",
                        "segmentDetails": {
                          "brandSegmentDetails": {
                            "brandId": "G13V1IB3VIYZZH"
                          }
                        }
                      },
                      {
                        "segmentType": "PROGRAM",
                        "segmentId": "PRIME_EXCLUSIVE"
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "b2c3d4e5-f6a7-8901-bcde-fg2345678901"
                      },
                      "includedData": {
                        "value": ["SELECTION"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "b2c3d4e5-f6a7-8901-bcde-fg2345678901",
                    "trackingId": "8f2d4a1c-3b5e-4f7a-9c8d-1e2f3a4b5c6d",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "RUNNING",
                    "createdDate": "2026-07-01T00:00:00-07:00",
                    "lastUpdatedDate": "2026-07-01T00:00:00-07:00",
                    "promotionTitle": "Subscribe & Save - 10% off",
                    "promotionType": "COUPON",
                    "couponType": "SUBSCRIBE_AND_SAVE",
                    "schedule": {
                      "startDate": "2026-07-01T00:00:00-07:00",
                      "endDate": "2026-08-31T23:59:59-07:00"
                    },
                    "budget": {
                      "type": "AMOUNT",
                      "value": 15000,
                      "currencyCode": "USD"
                    },
                    "selection": {
                      "selectionId": "7c1f9b22-5a3d-4e8f-b6c1-9d2e0f3a4b5c",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B0GYV2ZXJ9"
                          }
                        ],
                        "issues": []
                      }
                    },
                    "benefit": {
                      "discount": {
                        "type": "PERCENTAGE_OFF",
                        "percentOff": 10
                      },
                      "perCustomerUses": 1,
                      "stacking": "ALLOWED"
                    },
                    "merchandising": {
                      "displayOnWebsite": "ALLOWED"
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "d4e5f6a7-b8c9-0123-defg-hi4567890123"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "d4e5f6a7-b8c9-0123-defg-hi4567890123",
                    "trackingId": "v2024-d4e5f6a7-b8c9-0123-defg-hi4567890123",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "RUNNING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-15T14:30:00-07:00",
                    "promotionTitle": "Summer Sale 2025",
                    "promotionType": "DEAL",
                    "schedule": {
                      "startDate": "2025-07-01T00:00:00-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00",
                      "eventId": "PRIME_DAY_2025"
                    },
                    "selection": {
                      "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "sku": "B08N5WRWNW-SKU",
                            "benefit": {
                              "type": "FIXED_PRICE",
                              "price": {
                                "amount": 15.00,
                                "currencyCode": "USD"
                              },
                              "discount": {
                                "type": "PERCENTAGE_OFF",
                                "percentOff": 15
                              }
                            },
                            "budget": {
                              "type": "UNITS",
                              "value": 50
                            }
                          },
                          {
                            "asin": "B07XJ8C8F5",
                            "sku": "B07XJ8C8F5-SKU",
                            "benefit": {
                              "type": "DISCOUNTED_PRICE",
                              "discount": {
                                "type": "AMOUNT_OFF",
                                "amountOff": 10.00,
                                "currencyCode": "USD"
                              }
                            },
                            "budget": {
                              "type": "AMOUNT",
                              "value": 10000,
                              "currencyCode": "USD"
                            }
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ]
                      }
                    },
                    "issues": []
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "e5f6a7b8-c9d0-1234-efgh-ij5678901234"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION", "CUSTOMER_SEGMENTS"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "e5f6a7b8-c9d0-1234-efgh-ij5678901234",
                    "trackingId": "df066132-dd1d-4cf0-bfb0-31578b28845d",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "PROCESSING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-01T02:01:08-07:00",
                    "promotionTitle": "Summer Sale for Brand Customers",
                    "promotionType": "BASKET_BUILDING",
                    "schedule": {
                      "startDate": "2025-07-01T02:01:08-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00"
                    },
                    "budget": {
                      "type": "AMOUNT",
                      "value": 1000,
                      "currencyCode": "USD"
                    },
                    "selection": {
                      "selectionId": "198ac961-28cf-4b9a-bec8-2260a28102d7",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "sku": "B08N5WRWNW-SKU-001"
                          },
                          {
                            "asin": "B07XJ8C8F5",
                            "sku": "B07XJ8C8F5-SKU-001"
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ]
                      }
                    },
                    "purchaseRequirements": {
                      "selection": {
                        "selectionId": "7f3a91d2-4e8b-4c6f-a5d0-9b2e7f1c8d3a",
                        "revisionId": 1,
                        "type": "ITEMS"
                      },
                      "condition": {
                        "quantityThreshold": {
                          "type": "FOR_EACH",
                          "quantity": 3
                        }
                      },
                      "claimCode": {
                        "type": "INDIVIDUAL"
                      }
                    },
                    "benefit": {
                      "benefitQuantity": 1,
                      "discount": {
                        "type": "PERCENTAGE_OFF",
                        "percentOff": 10
                      },
                      "perCustomerUses": 1,
                      "stacking": "NOT_ALLOWED"
                    },
                    "merchandising": {
                      "displayOnWebsite": "ALLOWED"
                    },
                    "issues": [
                      {
                        "code": "HAS_OVERLAPPING_PROMOTIONS",
                        "message": "HAS_OVERLAPPING_PROMOTIONS",
                        "severity": "WARNING"
                      }
                    ],
                    "customerSegments": [
                      {
                        "segmentType": "BRAND",
                        "segmentId": "c157be82-b0c1-49e1-bf9b-4180da99b66d",
                        "segmentDetails": {
                          "brandSegmentDetails": {
                            "brandId": "XYZV1IB3VIYABC"
                          }
                        }
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "86396572-e0e3-4dc6-a072-410f461dee60"
                      },
                      "includedData": {
                        "value": ["ISSUES", "SELECTION"]
                      },
                      "locale": {
                        "value": "en_US"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "86396572-e0e3-4dc6-a072-410f461dee60",
                    "trackingId": "v2024-86396572-e0e3-4dc6-a072-410f461dee60",
                    "marketplaceId": "ATVPDKIKX0DER",
                    "status": "RUNNING",
                    "createdDate": "2025-07-01T02:01:08-07:00",
                    "lastUpdatedDate": "2025-07-20T10:30:00-07:00",
                    "promotionTitle": "Summer Sale 2025 - Updated",
                    "promotionType": "COUPON",
                    "couponType": "STANDARD",
                    "schedule": {
                      "startDate": "2025-07-01T00:00:00-07:00",
                      "endDate": "2025-08-31T23:59:59-07:00"
                    },
                    "budget": {
                      "type": "AMOUNT",
                      "value": 1000,
                      "currencyCode": "USD"
                    },
                    "selection": {
                      "selectionId": "198ac961-28cf-4b9a-bec8-2260a28102d7",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW"
                          }
                        ],
                        "issues": []
                      }
                    },
                    "benefit": {
                      "discount": {
                        "type": "PERCENTAGE_OFF",
                        "percentOff": 15
                      },
                      "perCustomerUses": 5,
                      "stacking": "ALLOWED"
                    },
                    "issues": [],
                    "latestRevision": {
                      "revisionStatus": "FAILED",
                      "promotionId": "86396572-e0e3-4dc6-a072-410f461dee60",
                      "trackingId": "v2024-86396572-e0e3-4dc6-a072-410f461dee60",
                      "marketplaceId": "ATVPDKIKX0DER",
                      "promotionTitle": "Summer Sale 2025 - Updated",
                      "promotionType": "COUPON",
                      "couponType": "STANDARD",
                      "schedule": {
                        "startDate": "2025-07-01T00:00:00-07:00",
                        "endDate": "2025-06-01T00:00:00-07:00"
                      },
                      "budget": {
                        "type": "AMOUNT",
                        "value": 1000,
                        "currencyCode": "USD"
                      },
                      "benefit": {
                        "discount": {
                          "type": "PERCENTAGE_OFF",
                          "percentOff": 15
                        },
                        "perCustomerUses": 5,
                        "stacking": "ALLOWED"
                      },
                      "selection": {
                        "selectionId": "198ac961-28cf-4b9a-bec8-2260a28102d7",
                        "revisionId": 2,
                        "type": "ITEMS"
                      },
                      "issues": [
                        {
                          "code": "INVALID_SCHEDULE",
                          "message": "End date cannot be in the past",
                          "severity": "ERROR"
                        }
                      ],
                      "feeSnapshot": {
                        "previewedFeeRates": {
                          "upfrontFee": {
                            "rate": {
                              "amount": 100.0,
                              "currencyCode": "USD"
                            },
                            "frequency": "ONE_TIME"
                          }
                        }
                      },
                      "createdDate": "2025-07-20T10:00:00-07:00",
                      "lastUpdatedDate": "2025-07-20T10:30:00-07:00"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef12345678911"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid parameter value provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-launch-status": "PRIVATE_BETA"
      }
    },
    "/promotions/2025-12-01/promotions/{promotionId}/cancel": {
      "put": {
        "tags": [
          "promotions"
        ],
        "description": "Cancel a specified promotion. Only promotions in the `UPCOMING`, `PROCESSING` or `RUNNING` statuses can be canceled. Once canceled, a promotion cannot be reactivated. This operation is idempotent; canceling a promotion that is already canceled returns the current state.",
        "operationId": "cancelPromotion",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The ID of the promotion to cancel.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The promotion is already canceled.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CancelPromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "c3d4e5f6-a7b8-9012-cdef-gh3456789012"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "c3d4e5f6-a7b8-9012-cdef-gh3456789012",
                    "status": "CANCELLED"
                  }
                }
              ]
            }
          },
          "202": {
            "description": "The promotion cancellation request was accepted for processing.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CancelPromotionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      }
                    }
                  },
                  "response": {
                    "promotionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                    "status": "CANCELLING"
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef12345678911"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid promotion identifier provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "409": {
            "description": "The promotion cannot be cancelled in its current state.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "d4e5f6a7-b8c9-0123-defg-hi4567890123"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidPromotionState",
                        "message": "The promotion cannot be cancelled in its current state.",
                        "details": "Only promotions in UPCOMING, PROCESSING or RUNNING status can be cancelled."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-launch-status": "PRIVATE_BETA"
      }
    },
    "/promotions/2025-12-01/promotions/{promotionId}/selections/{selectionId}": {
      "get": {
        "x-amzn-api-internal": "INTERNAL_AND_EXTERNAL",
        "tags": [
          "promotions"
        ],
        "description": "Retrieve up to 100 product items that are associated with a specified promotion. This operation only supports items found in `SelectionType.ITEMS`. Items found in `SelectionType.CATALOG` are not supported. Selection objects always include `selectionDetails` with item information.",
        "operationId": "getSelection",
        "parameters": [
          {
            "name": "promotionId",
            "in": "path",
            "description": "The ID of the promotion.",
            "required": true,
            "type": "string"
          },
          {
            "name": "selectionId",
            "in": "path",
            "description": "The ID of the selection.",
            "required": true,
            "type": "string"
          },
          {
            "name": "revisionId",
            "in": "query",
            "description": "The revision identifier for the selection. Use the `revisionId` from the `getPromotion` response. A promotion may have multiple selection revisions when an update is in progress. Passing the correct `revisionId` ensures you retrieve the expected data.",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "x-example": 1
          },
          {
            "name": "locale",
            "in": "query",
            "description": "The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.",
            "pattern": "^[a-z]{2}_[A-Z]{2}$",
            "type": "string",
            "required": false,
            "default": "en_US",
            "x-example": "en_US"
          },
          {
            "in": "query",
            "name": "paginationToken",
            "type": "string",
            "description": "A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.",
            "required": false,
            "x-example": "sdlkj234lkj234lksjdflkjwdflkjsfdlkj234234234234"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of response results per page.",
            "required": false,
            "type": "integer",
            "format": "int64",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          {
            "name": "includedData",
            "in": "query",
            "description": "A comma-delimited list of datasets to include in the response.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ISSUES"
              ]
            },
            "collectionFormat": "csv",
            "x-example": "ISSUES",
            "x-docgen-enum-table-extension": [
              {
                "value": "ISSUES",
                "description": "Include item level issues and warnings in the response. If not specified, the 'issues' field will be omitted from the response even if issues exist for the item."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the item selection for the promotion.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/GetSelectionResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "revisionId": {
                        "value": 1
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "limit": {
                        "value": 1
                      },
                      "includedData": {
                        "value": ["ISSUES"]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B08N5WRWNW",
                            "benefit": {
                              "type": "DISCOUNTED_PRICE",
                              "discount": {
                                "type": "PERCENTAGE_OFF",
                                "percentOff": 15
                              }
                            }
                          }
                        ],
                        "issues": [
                          {
                            "code": "PRODUCT_NOT_AVAILABLE",
                            "message": "PRODUCT_NOT_AVAILABLE",
                            "severity": "ERROR",
                            "identifier": {
                              "asin": "B08N5WRWNW"
                            }
                          }
                        ],
                        "pagination": {
                          "nextToken": "eyJwYWdlIjoyLCJsaW1pdCI6MjB9"
                        }
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567891"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "revisionId": {
                        "value": 1
                      },
                      "paginationToken": {
                        "value": "eyJwYWdlIjoyLCJsaW1pdCI6MjB9"
                      },
                      "limit": {
                        "value": 20
                      },
                      "includedData": {
                        "value": ["ISSUES"]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "ITEMS",
                      "selectionDetails": {
                        "items": [
                          {
                            "asin": "B07XJ8C8F5",
                            "benefit": {
                              "type": "FIXED_PRICE",
                              "price": {
                                "amount": 24.99,
                                "currencyCode": "USD"
                              },
                              "discount": {
                                "type": "AMOUNT_OFF",
                                "amountOff": 5.00,
                                "currencyCode": "USD"
                              }
                            }
                          }
                        ],
                        "issues": []
                      }
                    }
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567892"
                      },
                      "selectionId": {
                        "value": "b1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "revisionId": {
                        "value": 1
                      },
                      "locale": {
                        "value": "en_US"
                      },
                      "limit": {
                        "value": 2
                      },
                      "includedData": {
                        "value": ["ISSUES"]
                      }
                    }
                  },
                  "response": {
                    "selection": {
                      "selectionId": "b1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "revisionId": 1,
                      "type": "CATALOG",
                      "selectionDetails": {
                        "rules": {
                          "excludedItems": [
                            {
                              "asin": "B08N5WRWNW"
                            },
                            {
                              "asin": "B07XJ8C8F5"
                            }
                          ]
                        },
                        "issues": [],
                        "pagination": {
                          "nextToken": "eyJwYWdlIjoyLCJsaW1pdCI6NTB9"
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "invalid-id"
                      },
                      "selectionId": {
                        "value": "sel-12345"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid promotion ID format."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "invalid-selection-id"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid selection ID format."
                      }
                    ]
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-abc234567980"
                      },
                      "paginationToken": {
                        "value": "invalid-token"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "INVALID_VALUE",
                        "message": "The request contains invalid parameters.",
                        "details": "Invalid pagination token provided."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "promotionId": {
                        "value": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                      },
                      "selectionId": {
                        "value": "nonexistent-selection"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "The specified selection does not exist.",
                        "details": "Selection ID not found for this promotion."
                      }
                    ]
                  }
                }
              ]
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        },
        "x-amzn-api-launch-status": "PRIVATE_BETA"
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "description": "Error response returned when the request is unsuccessful.",
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that identifies the type of error that occurred."
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error condition.",
          "maxLength": 1024
        },
        "details": {
          "type": "string",
          "description": "Additional details that can help the caller understand or fix the issue."
        },
        "itemIdentifier": {
          "$ref": "#/definitions/ItemIdentifier",
          "description": "Identifier of the item that this error is associated with. Present only if the error is an item-level error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "ErrorList": {
      "type": "object",
      "description": "A list of error responses returned when a request is unsuccessful.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "List of errors.",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "required": [
        "errors"
      ]
    },
    "Currency": {
      "type": "object",
      "description": "Currency amount with ISO 4217 currency code.",
      "properties": {
        "amount": {
          "type": "number",
          "minimum": 0,
          "exclusiveMinimum": true,
          "description": "Amount value.",
          "example": 5.00
        },
        "currencyCode": {
          "type": "string",
          "minLength": 3,
          "maxLength": 3,
          "description": "ISO 4217 currency code.",
          "example": "USD"
        }
      },
      "required": [
        "amount",
        "currencyCode"
      ],
      "example": {
        "amount": 10.00,
        "currencyCode": "USD"
      }
    },
    "Issue": {
      "type": "object",
      "description": "Issue information with code, message, and severity.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Issue code identifier.",
          "example": "INVALID_INPUT"
        },
        "message": {
          "type": "string",
          "description": "Issue description.",
          "example": "The provided input is invalid.",
          "maxLength": 1024
        },
        "severity": {
          "description": "Issue severity level.",
          "type": "string",
          "enum": [
            "ERROR",
            "WARNING"
          ],
          "example": "ERROR",
          "x-docgen-enum-table-extension": [
            {
              "value": "ERROR",
              "description": "Indicates a critical issue that must be resolved."
            },
            {
              "value": "WARNING",
              "description": "Indicates a non-critical issue that should be reviewed."
            }
          ]
        }
      },
      "required": [
        "code",
        "message",
        "severity"
      ],
      "example": {
        "code": "INVALID_INPUT",
        "message": "The provided input is invalid.",
        "severity": "ERROR"
      }
    },
    "ItemIdentifier": {
      "type": "object",
      "description": "The key identifiers of an item.",
      "properties": {
        "asin": {
          "type": "string",
          "description": "Amazon Standard Identification Number (ASIN).",
          "example": "B08N5WRWNW"
        },
        "sku": {
          "type": "string",
          "description": "Stock Keeping Unit (SKU).",
          "example": "MY-SKU-12345"
        }
      },
      "example": {
        "asin": "B08N5WRWNW"
      }
    },
    "PromotionIssue": {
      "description": "A promotion-level validation issue.",
      "allOf": [
        {
          "$ref": "#/definitions/Issue"
        }
      ]
    },
    "ItemIssue": {
      "description": "An item-level validation issue.",
      "allOf": [
        {
          "$ref": "#/definitions/Issue"
        },
        {
          "type": "object",
          "properties": {
            "identifier": {
              "$ref": "#/definitions/ItemIdentifier",
              "description": "Identifier of the item associated with this issue."
            }
          },
          "required": [
            "identifier"
          ]
        }
      ]
    },
    "Item": {
      "type": "object",
      "description": "An item in the Amazon catalog for promotion selection.",
      "properties": {
        "asin": {
          "type": "string",
          "description": "The Amazon Standard Identification Number (ASIN) is the unique identifier for an item in the Amazon catalog.",
          "example": "B08N5WRWNW"
        },
        "sku": {
          "type": "string",
          "description": "The Stock Keeping Unit (SKU).",
          "example": "MY-SKU-12345"
        },
        "benefit": {
          "$ref": "#/definitions/ItemBenefit",
          "description": "Item-level benefit configuration. This only applies to `DEAL` and `PRICE_DISCOUNT` promotion types."
        },
        "budget": {
          "$ref": "#/definitions/Budget",
          "description": "Item-level budget configuration. This only applies to `DEAL` and `PRICE_DISCOUNT` promotion types."
        }
      }
    },
    "Selection": {
      "type": "object",
      "description": "Defines which products qualify for a benefit, allowing either specific items to be selected by ASIN or the entire catalog with optional exclusions.",
      "properties": {
        "selectionId": {
          "type": "string",
          "description": "The unique identifier for this selection configuration. **Note:** This field is absent when `type` is `CATALOG`.",
          "example": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
        },
        "revisionId": {
          "type": "integer",
          "minimum": 1,
          "description": "The revision identifier for the selection. Pass this value to the `getSelection` operation's `revisionId` query parameter to retrieve the correct version of the selection. A promotion may have multiple selection revisions when an update is in progress. **Note:** This field is absent when `type` is `CATALOG`."
        },
        "type": {
          "type": "string",
          "enum": [
            "CATALOG",
            "ITEMS"
          ],
          "description": "Selection type.",
          "example": "ITEMS",
          "x-docgen-enum-table-extension": [
            {
              "value": "CATALOG",
              "description": "Select all items in the catalog with optional exclusions."
            },
            {
              "value": "ITEMS",
              "description": "Select specific items by ASIN or SKU."
            }
          ]
        },
        "selectionDetails": {
          "$ref": "#/definitions/SelectionDetails",
          "description": "Detailed selection information."
        }
      },
      "required": [
        "type"
      ],
      "example": {
        "selectionId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
        "revisionId": 1,
        "type": "ITEMS",
        "selectionDetails": {
          "items": [
            {
              "asin": "B08N5WRWNW",
              "benefit": {
                "type": "DISCOUNTED_PRICE",
                "discount": {
                  "type": "PERCENTAGE_OFF",
                  "percentOff": 15
                }
              }
            },
            {
              "asin": "B07XJ8C8F5"
            }
          ]
        }
      }
    },
    "SelectionDetails": {
      "type": "object",
      "description": "Detailed selection information including items, rules, issues, and pagination.",
      "properties": {
        "rules": {
          "$ref": "#/definitions/SelectionRules",
          "description": "Rule configuration for catalog-based selections. Only valid when `type` is `CATALOG`."
        },
        "issues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemIssue"
          },
          "description": "Item-level validation issues for items in this selection. Only present when `ISSUES` is included in the `includedData` query parameter.",
          "example": [
            {
              "code": "INVALID_SKU",
              "message": "The SKU provided is not valid",
              "severity": "ERROR",
              "identifier": {
                "sku": "MY-SKU-12345"
              }
            }
          ]
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          },
          "maxItems": 100,
          "description": "List of specific items to include. Only valid when `type` is `ITEMS` (maximum 100 items).",
          "example": [
            {
              "asin": "B08N5WRWNW",
              "benefit": {
                "type": "DISCOUNTED_PRICE",
                "discount": {
                  "type": "PERCENTAGE_OFF",
                  "percentOff": 15
                },
                "perCustomerUses": 3
              },
              "budget": {
                "type": "AMOUNT",
                "value": 500,
                "currencyCode": "USD"
              }
            },
            {
              "asin": "B07XJ8C8F5",
              "benefit": {
                "type": "FIXED_PRICE",
                "price": {
                  "amount": 24.99,
                  "currencyCode": "USD"
                },
                "discount": {
                  "type": "AMOUNT_OFF",
[...]
