{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Listings Items (Listings Items API) provides programmatic access to selling partner listings on Amazon. Use this API in collaboration with the Selling Partner API for Product Type Definitions, which you use to retrieve the information about Amazon product types needed to use the Listings Items API.\n\nFor more information, see the [Listings Items API Use Case Guide](https://developer-docs.amazon.com/sp-api/docs/listings-items-api-v2021-08-01-use-case-guide).",
    "version": "2021-08-01",
    "title": "Listings Items v2021-08-01",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/listings/2021-08-01/items/{sellerId}/{sku}": {
      "delete": {
        "tags": [
          "Listings Items"
        ],
        "description": "Delete a listings item for a selling partner.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "deleteListingsItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "description": "A selling partner identifier, such as a merchant account or vendor code.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "description": "A selling partner provided identifier for an Amazon listing.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
            "in": "query",
            "required": true,
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "issueLocale",
            "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "en_US"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully understood the listings item delete request. See the response to determine whether the submission has been accepted.",
            "schema": {
              "$ref": "#/definitions/ListingsItemSubmissionResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "sku": "GM-ZDPI-9B4E",
                "status": "ACCEPTED",
                "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                "issues": []
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {}
                  },
                  "response": {
                    "sku": "GM-ZDPI-9B4E",
                    "status": "ACCEPTED",
                    "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                    "issues": []
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "BadSKU"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "summary": "deleteListingsItem"
      },
      "get": {
        "tags": [
          "Listings Items"
        ],
        "description": "Returns details about a listings item for a selling partner.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getListingsItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "description": "A selling partner identifier, such as a merchant account or vendor code.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "description": "A selling partner provided identifier for an Amazon listing.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
            "in": "query",
            "required": true,
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "issueLocale",
            "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "en_US"
          },
          {
            "name": "includedData",
            "description": "A comma-delimited list of data sets to include in the response. Default: `summaries`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "enum": [
                "summaries",
                "attributes",
                "issues",
                "offers",
                "fulfillmentAvailability",
                "procurement"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "summaries",
                  "description": "Summary details of the listing item."
                },
                {
                  "value": "attributes",
                  "description": "A JSON object containing structured listing item attribute data keyed by attribute name."
                },
                {
                  "value": "issues",
                  "description": "The issues associated with the listing item."
                },
                {
                  "value": "offers",
                  "description": "The current offers for the listing item."
                },
                {
                  "value": "fulfillmentAvailability",
                  "description": "The fulfillment availability details for the listing item."
                },
                {
                  "value": "procurement",
                  "description": "The vendor procurement details for the listing item. "
                }
              ],
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "summaries",
            "default": [
              "summaries"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/Item"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "sku": "GM-ZDPI-9B4E",
                "summaries": [
                  {
                    "marketplaceId": "ATVPDKIKX0DER",
                    "asin": "B071VG5N9D",
                    "productType": "LUGGAGE",
                    "conditionType": "new_new",
                    "status": [
                      "BUYABLE"
                    ],
                    "itemName": "Hardside Carry-On Spinner Suitcase Luggage",
                    "createdDate": "2021-02-01T00:00:00Z",
                    "lastUpdatedDate": "2021-03-01T00:00:00Z",
                    "mainImage": {
                      "link": "https://www.example.com/luggage.png",
                      "height": 500,
                      "width": 500
                    }
                  }
                ],
                "offers": [
                  {
                    "marketplaceId": "ATVPDKIKX0DER",
                    "offerType": "B2C",
                    "price": {
                      "currencyCode": "USD",
                      "amount": "100.00"
                    },
                    "audience": {
                      "value": "ALL",
                      "displayName": "Sell on Amazon"
                    }
                  }
                ],
                "fulfillmentAvailability": [
                  {
                    "fulfillmentChannelCode": "DEFAULT",
                    "quantity": 100
                  }
                ],
                "issues": [
                  {
                    "code": "90220",
                    "message": "'size' is required but not supplied.",
                    "severity": "ERROR",
                    "attributeNames": [
                      "size"
                    ],
                    "categories": [
                      "MISSING_ATTRIBUTE"
                    ]
                  },
                  {
                    "code": "18027",
                    "message": "We believe the main image has text, logo, graphic or watermark which is not permitted for this product type. Please submit a compliant image to lift the suppression. Also refer to Product image requirements.",
                    "severity": "ERROR",
                    "categories": [
                      "INVALID_IMAGE"
                    ],
                    "enforcements": {
                      "actions": [
                        {
                          "action": "SEARCH_SUPPRESSED"
                        }
                      ],
                      "exemption": {
                        "status": "EXEMPT_UNTIL_EXPIRY_DATE",
                        "expiryDate": "2025-05-28T00:36:48.914Z"
                      }
                    }
                  },
                  {
                    "code": "99300",
                    "message": "Product Detail Page Rules Violation (Inaccurate information on product detail page)",
                    "severity": "ERROR",
                    "categories": [],
                    "enforcements": {
                      "actions": [
                        {
                          "action": "ATTRIBUTE_SUPPRESSED"
                        }
                      ],
                      "exemption": {
                        "status": "EXEMPT"
                      }
                    }
                  },
                  {
                    "code": "18155",
                    "message": "The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Please review and update your price and/or minimum price.",
                    "severity": "ERROR",
                    "categories": [
                      "INVALID_PRICE"
                    ],
                    "enforcements": {
                      "actions": [
                        {
                          "action": "LISTING_SUPPRESSED"
                        }
                      ],
                      "exemption": {
                        "status": "NOT_EXEMPT"
                      }
                    }
                  },
                  {
                    "code": "18742",
                    "message": "Restricted Products Policy Violation",
                    "severity": "ERROR",
                    "categories": [],
                    "enforcements": {
                      "actions": [
                        {
                          "action": "CATALOG_ITEM_REMOVED"
                        }
                      ],
                      "exemption": {
                        "status": "NOT_EXEMPT"
                      }
                    }
                  }
                ]
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {}
                    }
                  },
                  "response": {
                    "sku": "GM-ZDPI-9B4E",
                    "summaries": [
                      {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "asin": "B071VG5N9D",
                        "productType": "LUGGAGE",
                        "conditionType": "new_new",
                        "status": [
                          "BUYABLE"
                        ],
                        "itemName": "Hardside Carry-On Spinner Suitcase Luggage",
                        "createdDate": "2021-02-01T00:00:00Z",
                        "lastUpdatedDate": "2021-03-01T00:00:00Z",
                        "mainImage": {
                          "link": "https://www.example.com/luggage.png",
                          "height": 500,
                          "width": 500
                        }
                      }
                    ],
                    "offers": [
                      {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "offerType": "B2C",
                        "price": {
                          "currencyCode": "USD",
                          "amount": "100.00"
                        },
                        "audience": {
                          "value": "ALL",
                          "displayName": "Sell on Amazon"
                        }
                      }
                    ],
                    "fulfillmentAvailability": [
                      {
                        "fulfillmentChannelCode": "DEFAULT",
                        "quantity": 100
                      }
                    ],
                    "issues": [
                      {
                        "code": "90220",
                        "message": "'size' is required but not supplied.",
                        "severity": "ERROR",
                        "attributeNames": [
                          "size"
                        ],
                        "categories": [
                          "MISSING_ATTRIBUTE"
                        ]
                      },
                      {
                        "code": "18027",
                        "message": "We believe the main image has text, logo, graphic or watermark which is not permitted for this product type. Please submit a compliant image to lift the suppression. Also refer to Product image requirements.",
                        "severity": "ERROR",
                        "categories": [
                          "INVALID_IMAGE"
                        ],
                        "enforcements": {
                          "actions": [
                            {
                              "action": "SEARCH_SUPPRESSED"
                            }
                          ],
                          "exemption": {
                            "status": "EXEMPT_UNTIL_EXPIRY_DATE",
                            "expiryDate": "2025-05-28T00:36:48.914Z"
                          }
                        }
                      },
                      {
                        "code": "99300",
                        "message": "Product Detail Page Rules Violation (Inaccurate information on product detail page)",
                        "severity": "ERROR",
                        "categories": [],
                        "enforcements": {
                          "actions": [
                            {
                              "action": "ATTRIBUTE_SUPPRESSED"
                            }
                          ],
                          "exemption": {
                            "status": "EXEMPT"
                          }
                        }
                      },
                      {
                        "code": "18155",
                        "message": "The 'minimum price' is greater than the selling price (excluding shipping) for the listing. Please review and update your price and/or minimum price.",
                        "severity": "ERROR",
                        "categories": [
                          "INVALID_PRICE"
                        ],
                        "enforcements": {
                          "actions": [
                            {
                              "action": "LISTING_SUPPRESSED"
                            }
                          ],
                          "exemption": {
                            "status": "NOT_EXEMPT"
                          }
                        }
                      },
                      {
                        "code": "18742",
                        "message": "Restricted Products Policy Violation",
                        "severity": "ERROR",
                        "categories": [],
                        "enforcements": {
                          "actions": [
                            {
                              "action": "CATALOG_ITEM_REMOVED"
                            }
                          ],
                          "exemption": {
                            "status": "NOT_EXEMPT"
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "BadSKU"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "summary": "getListingsItem"
      },
      "patch": {
        "tags": [
          "Listings Items"
        ],
        "description": "Partially update (patch) a listings item for a selling partner. Only top-level listings item attributes can be patched. Patching nested attributes is not supported.\n\n**Note:** This operation has a throttling rate of one request per second when `mode` is `VALIDATION_PREVIEW`.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "patchListingsItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "description": "A selling partner identifier, such as a merchant account or vendor code.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "description": "A selling partner provided identifier for an Amazon listing.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
            "in": "query",
            "required": true,
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "includedData",
            "description": "A comma-delimited list of data sets to include in the response. Default: `issues`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "enum": [
                "identifiers",
                "issues"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "identifiers",
                  "description": "Identifiers associated with the item in the Amazon catalog, such as Amazon Standard Identification Number (ASIN). Can only be requested when `mode` is `VALIDATION_PREVIEW`."
                },
                {
                  "value": "issues",
                  "description": "The issues associated with the listing item."
                }
              ],
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "issues",
            "default": [
              "issues"
            ]
          },
          {
            "name": "mode",
            "description": "The mode of operation for the request.",
            "in": "query",
            "enum": [
              "VALIDATION_PREVIEW"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "VALIDATION_PREVIEW",
                "description": "Indicates the submitted data should be validated using the values provided in the payload and validation errors the selling partner account may face. This will synchronously perform the same checks that are preformed on submissions after being accepted for processing, but without persisting to the selling partner's catalog."
              }
            ],
            "required": false,
            "type": "string",
            "x-example": "VALIDATION_PREVIEW"
          },
          {
            "name": "issueLocale",
            "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "en_US"
          },
          {
            "name": "body",
            "description": "The request body schema for the `patchListingsItem` operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListingsItemPatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully understood the listings item patch request. See the response to determine if the submission was accepted.",
            "schema": {
              "$ref": "#/definitions/ListingsItemSubmissionResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "sku": "GM-ZDPI-9B4E",
                "status": "ACCEPTED",
                "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                "issues": []
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {}
                    }
                  },
                  "response": {
                    "sku": "GM-ZDPI-9B4E",
                    "status": "ACCEPTED",
                    "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                    "issues": []
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "VALIDATION_VALID"
                      },
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "includedData": {
                        "value": [
                          "identifiers",
                          "issues"
                        ]
                      },
                      "mode": {
                        "value": "VALIDATION_PREVIEW"
                      }
                    }
                  },
                  "response": {
                    "sku": "VALIDATION_VALID",
                    "status": "VALID",
                    "submissionId": "1edc94ea-a3d7-210b-42bc-0ec72c1384762",
                    "identifiers": [
                      {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "asin": "B07N4M94X4"
                      }
                    ],
                    "issues": []
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "VALIDATION_INVALID"
                      },
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "includedData": {
                        "value": [
                          "identifiers",
                          "issues"
                        ]
                      },
                      "mode": {
                        "value": "VALIDATION_PREVIEW"
                      }
                    }
                  },
                  "response": {
                    "sku": "VALIDATION_INVALID",
                    "status": "INVALID",
                    "submissionId": "a1c562c2-1695-11ee-be56-0242ac120002",
                    "identifiers": [],
                    "issues": [
                      {
                        "code": "90000900",
                        "message": "The attributes are invalid.",
                        "severity": "ERROR",
                        "attributeNames": [
                          "fake_attribute"
                        ],
                        "categories": [
                          "INVALID_ATTRIBUTE"
                        ],
                        "enforcements": {
                          "actions": [
                            {
                              "action": "ATTRIBUTE_SUPPRESSED"
                            }
                          ],
                          "exemption": {
                            "status": "NOT_EXEMPT"
                          }
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "BadSKU"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "summary": "patchListingsItem"
      },
      "put": {
        "tags": [
          "Listings Items"
        ],
        "description": "Creates or fully updates an existing listings item for a selling partner.\n\n**Note:** This operation has a throttling rate of one request per second when `mode` is `VALIDATION_PREVIEW`.\n\n**Note:** The parameters associated with this operation may contain special characters that must be encoded to successfully call the API. To avoid errors with SKUs when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding).\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 10 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "putListingsItem",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "sellerId",
            "description": "A selling partner identifier, such as a merchant account or vendor code.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "sku",
            "description": "A selling partner provided identifier for an Amazon listing.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceIds",
            "description": "A comma-delimited list of Amazon marketplace identifiers for the request.",
            "in": "query",
            "required": true,
            "type": "array",
            "maxItems": 1,
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "ATVPDKIKX0DER"
          },
          {
            "name": "includedData",
            "description": "A comma-delimited list of data sets to include in the response. Default: `issues`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "enum": [
                "identifiers",
                "issues"
              ],
              "x-docgen-enum-table-extension": [
                {
                  "value": "identifiers",
                  "description": "Identifiers associated with the item in the Amazon catalog, such as Amazon Standard Identification Number (ASIN). Can only be requested when `mode` is `VALIDATION_PREVIEW`."
                },
                {
                  "value": "issues",
                  "description": "The issues associated with the listing item."
                }
              ],
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-example": "issues",
            "default": [
              "issues"
            ]
          },
          {
            "name": "mode",
            "description": "The mode of operation for the request.",
            "in": "query",
            "enum": [
              "VALIDATION_PREVIEW"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "VALIDATION_PREVIEW",
                "description": "Indicates the submitted data should be validated using the values provided in the payload and validation errors the selling partner account may face. This will synchronously perform the same checks that are preformed on submissions after being accepted for processing, but without persisting to the selling partner's catalog."
              }
            ],
            "required": false,
            "type": "string",
            "x-example": "VALIDATION_PREVIEW"
          },
          {
            "name": "issueLocale",
            "description": "A locale for localization of issues. When not provided, the default language code of the first marketplace is used. Examples: `en_US`, `fr_CA`, `fr_FR`. Localized messages default to `en_US` when a localization is not available in the specified locale.",
            "in": "query",
            "required": false,
            "type": "string",
            "x-example": "en_US"
          },
          {
            "name": "body",
            "description": "The request body schema for the `putListingsItem` operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListingsItemPutRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully understood the request to create or fully-update a listings item. See the response to determine if the submission has been accepted.",
            "schema": {
              "$ref": "#/definitions/ListingsItemSubmissionResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "examples": {
              "application/json": {
                "sku": "GM-ZDPI-9B4E",
                "status": "ACCEPTED",
                "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                "issues": []
              }
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {}
                    }
                  },
                  "response": {
                    "sku": "GM-ZDPI-9B4E",
                    "status": "ACCEPTED",
                    "submissionId": "f1dc2914-75dd-11ea-bc55-0242ac130003",
                    "issues": []
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "VALIDATION_VALID"
                      },
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "includedData": {
                        "value": [
                          "identifiers",
                          "issues"
                        ]
                      },
                      "mode": {
                        "value": "VALIDATION_PREVIEW"
                      }
                    }
                  },
                  "response": {
                    "sku": "VALIDATION_VALID",
                    "status": "VALID",
                    "submissionId": "1edc94ea-a3d7-210b-42bc-0ec72c1384762",
                    "identifiers": [
                      {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "asin": "B07N4M94X4"
                      }
                    ],
                    "issues": []
                  }
                },
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "VALIDATION_INVALID"
                      },
                      "marketplaceIds": {
                        "value": [
                          "ATVPDKIKX0DER"
                        ]
                      },
                      "includedData": {
                        "value": [
                          "identifiers",
                          "issues"
                        ]
                      },
                      "mode": {
                        "value": "VALIDATION_PREVIEW"
                      }
                    }
                  },
                  "response": {
                    "sku": "VALIDATION_INVALID",
                    "status": "INVALID",
                    "submissionId": "a1c562c2-1695-11ee-be56-0242ac120002",
                    "identifiers": [],
                    "issues": [
                      {
                        "code": "90220",
                        "message": "'condition_type' is required but not supplied.",
                        "severity": "ERROR",
                        "attributeNames": [
                          "condition_type"
                        ],
                        "categories": [
                          "MISSING_ATTRIBUTE"
                        ],
                        "enforcements": {
                          "actions": [
                            {
                              "action": "LISTING_SUPPRESSED"
                            }
                          ],
                          "exemption": {
                            "status": "NOT_EXEMPT"
                          }
                        }
                      },
                      {
                        "code": "90000900",
                        "message": "The attributes are invalid.",
                        "severity": "ERROR",
                        "attributeNames": [
                          "fake_attribute"
                        ],
                        "categories": []
                      }
                    ]
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              },
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sku": {
                        "value": "BadSKU"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BAD_REQUEST",
                        "message": "Invalid input",
                        "details": "Invalid input"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            }
          }
        },
        "summary": "putListingsItem"
      }
    }
  },
  "definitions": {
    "Error": {
      "description": "Error response returned when the request is unsuccessful.",
      "properties": {
        "code": {
          "description": "An error code that identifies the type of error that occurred.",
          "type": "string"
        },
        "message": {
          "description": "A message that describes the error condition.",
          "type": "string"
        },
        "details": {
          "description": "Additional details that can help the caller understand or fix the issue.",
          "type": "string"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "type": "object"
    },
    "ErrorList": {
      "description": "A list of error responses returned when a request is unsuccessful.",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "required": [
        "errors"
      ]
    },
    "ItemSearchResults": {
      "description": "Selling partner listings items and search related metadata.",
      "properties": {
        "numberOfResults": {
          "description": "The total number of selling partner listings items found for the search criteria (only results up to the page count limit will be returned per request regardless of the number found).\n\nNote: The maximum number of items (SKUs) that can be returned and paged through is 1000.",
          "type": "integer"
        },
        "pagination": {
          "description": "If available, the `nextToken` and/or `previousToken` values required to return paginated results.",
          "$ref": "#/definitions/Pagination"
        },
        "items": {
          "description": "A list of listings items.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Item"
          }
        }
      },
      "required": [
        "numberOfResults",
        "items"
      ],
      "type": "object"
    },
    "Item": {
      "description": "A listings item.",
      "properties": {
        "sku": {
          "description": "A selling partner provided identifier for an Amazon listing.",
          "type": "string"
        },
        "summaries": {
          "$ref": "#/definitions/ItemSummaries"
        },
        "attributes": {
          "$ref": "#/definitions/ItemAttributes"
        },
        "issues": {
          "$ref": "#/definitions/ItemIssues"
        },
        "offers": {
          "$ref": "#/definitions/ItemOffers"
        },
        "fulfillmentAvailability": {
          "description": "The fulfillment availability for the listings item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FulfillmentAvailability"
          }
        },
        "procurement": {
          "description": "The vendor procurement information for the listings item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ItemProcurement"
          }
        }
      },
      "required": [
        "sku"
      ],
      "type": "object"
    },
    "ItemSummaries": {
      "description": "Summary details of a listings item.",
      "items": {
        "$ref": "#/definitions/ItemSummaryByMarketplace"
      },
      "type": "array"
    },
    "ItemSummaryByMarketplace": {
      "description": "Summary details of a listings item for an Amazon marketplace.",
      "properties": {
        "marketplaceId": {
          "description": "A marketplace identifier. Identifies the Amazon marketplace for the listings item.",
          "type": "string"
        },
        "asin": {
          "description": "Amazon Standard Identification Number (ASIN) of the listings item.",
          "type": "string"
        },
        "productType": {
          "description": "The Amazon product type of the listings item.",
          "type": "string"
        },
        "conditionType": {
          "description": "Identifies the condition of the listings item.",
          "enum": [
            "new_new",
            "new_open_box",
            "new_oem",
            "refurbished_refurbished",
            "used_like_new",
            "used_very_good",
            "used_good",
            "used_acceptable",
            "collectible_like_new",
            "collectible_very_good",
            "collectible_good",
            "collectible_acceptable",
            "club_club"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "new_new",
              "description": "New."
            },
            {
              "value": "new_open_box",
              "description": "New - Open Box."
            },
            {
              "value": "new_oem",
              "description": "New - OEM."
            },
            {
              "value": "refurbished_refurbished",
              "description": "Refurbished."
            },
            {
              "value": "used_like_new",
              "description": "Used - Like New."
            },
            {
              "value": "used_very_good",
              "description": "Used - Very Good."
            },
            {
              "value": "used_good",
              "description": "Used - Good."
            },
            {
              "value": "used_acceptable",
              "description": "Used - Acceptable."
            },
            {
              "value": "collectible_like_new",
              "description": "Collectible - Like New."
            },
            {
              "value": "collectible_very_good",
              "description": "Collectible - Very Good."
            },
            {
              "value": "collectible_good",
              "description": "Collectible - Good."
            },
            {
              "value": "collectible_acceptable",
              "description": "Collectible - Acceptable."
            },
            {
              "value": "club_club",
              "description": "Club."
            }
          ],
          "type": "string"
        },
        "status": {
          "description": "Statuses that apply to the listings item.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "BUYABLE",
              "DISCOVERABLE"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "BUYABLE",
                "description": "The listings item can be purchased by shoppers. This status does not apply to vendor listings."
              },
              {
                "value": "DISCOVERABLE",
                "description": "The listings item is visible to shoppers."
              }
            ]
          }
        },
        "fnSku": {
          "description": "The fulfillment network stock keeping unit is an identifier used by Amazon fulfillment centers to identify each unique item.",
          "type": "string"
        },
        "itemName": {
          "description": "The name or title associated with an Amazon catalog item.",
          "type": "string"
        },
        "createdDate": {
          "description": "The date the listings item was created in ISO 8601 format.",
          "type": "string",
          "format": "date-time"
        },
        "lastUpdatedDate": {
          "description": "The date the listings item was last updated in ISO 8601 format.",
          "type": "string",
          "format": "date-time"
        },
        "mainImage": {
          "description": "The main image for the listings item.",
          "$ref": "#/definitions/ItemImage"
        }
      },
      "required": [
        "marketplaceId",
        "asin",
        "productType",
        "status",
        "itemName",
        "createdDate",
        "lastUpdatedDate"
      ],
      "type": "object"
    },
    "ItemImage": {
      "description": "The image for the listings item.",
      "properties": {
        "link": {
          "description": "The link, or URL, to the image.",
          "type": "string"
        },
        "height": {
          "description": "The height of the image in pixels.",
          "type": "integer"
        },
        "width": {
          "description": "The width of the image in pixels.",
          "type": "integer"
        }
      },
      "required": [
        "link",
        "height",
        "width"
      ],
      "type": "object"
    },
    "ItemAttributes": {
      "description": "A JSON object containing structured listings item attribute data keyed by attribute name.",
      "type": "object",
      "additionalProperties": true
    },
    "ItemIssues": {
      "description": "The issues associated with the listings item.",
      "items": {
        "$ref": "#/definitions/Issue"
      },
      "type": "array"
    },
    "Issue": {
      "description": "An issue with a listings item.",
      "properties": {
        "code": {
          "description": "An issue code that identifies the type of issue.",
          "type": "string"
        },
        "message": {
          "description": "A message that describes the issue.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the issue.",
          "enum": [
            "ERROR",
            "WARNING",
            "INFO"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "ERROR",
              "description": "Indicates an issue has occurred preventing the submission from processing, such as a validation error."
            },
            {
              "value": "WARNING",
              "description": "Indicates an issue has occurred that should be reviewed, but has not prevented the submission from processing."
            },
            {
              "value": "INFO",
              "description": "Indicates additional information has been provided that should be reviewed."
            }
          ],
          "type": "string"
        },
        "attributeNames": {
          "description": "The names of the attributes associated with the issue, if applicable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "categories": {
          "description": "List of issue categories. \n\nPossible vales: \n\n* `INVALID_ATTRIBUTE` - Indicating an invalid attribute in the listing. \n\n* `MISSING_ATTRIBUTE` - Highlighting a missing attribute in the listing. \n\n* `INVALID_IMAGE` - Signifying an invalid image in the listing. \n\n* `MISSING_IMAGE` - Noting the absence of an image in the listing. \n\n* `INVALID_PRICE` - Pertaining to issues with the listing's price-related attributes. \n\n* `MISSING_PRICE` - Pointing out the absence of a price attribute in the listing. \n\n* `DUPLICATE` - Identifying listings with potential duplicate problems, such as this ASIN potentially being a duplicate of another ASIN. \n\n* `QUALIFICATION_REQUIRED` - Indicating that the listing requires qualification-related approval.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "INVALID_ATTRIBUTE"
          ]
        },
        "enforcements": {
          "description": "This field provides information about the enforcement actions taken by Amazon that affect the publishing or status of a listing. It also includes details about any associated exemptions.",
          "$ref": "#/definitions/IssueEnforcements"
        }
      },
      "required": [
        "code",
        "message",
        "severity",
        "categories"
      ],
      "type": "object"
    },
    "IssueEnforcements": {
      "description": "This field provides information about the enforcement actions taken by Amazon that affect the publishing or status of a listing. It also includes details about any associated exemptions.",
      "type": "object",
      "properties": {
        "actions": {
          "description": "List of enforcement actions taken by Amazon that affect the publishing or status of a listing.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IssueEnforcementAction"
          }
        },
        "exemption": {
          "description": "The \"exemption\" field serves to convey the status of enforcement actions by Amazon.",
          "$ref": "#/definitions/IssueExemption"
        }
      },
      "required": [
        "actions",
        "exemption"
      ]
    },
    "IssueEnforcementAction": {
      "description": "The enforcement action taken by Amazon that affect the publishing or status of a listing",
      "type": "object",
      "properties": {
        "action": {
          "description": "The enforcement action name. \n\nPossible values: \n\n* `LISTING_SUPPRESSED` - This enforcement takes down the current listing item's buyability. \n\n* `ATTRIBUTE_SUPPRESSED` - An attribute's value on the listing item is invalid, which causes it to be rejected by Amazon. \n\n* `CATALOG_ITEM_REMOVED` - This catalog item is inactive on Amazon, and all offers against it in the applicable marketplace are non-buyable. \n\n* `SEARCH_SUPPRESSED` - This value indicates that the catalog item is hidden from search results.",
          "type": "string",
          "example": "LISTING_SUPPRESSED"
        }
      },
      "required": [
        "action"
      ]
    },
    "IssueExemption": {
      "description": "Conveying the status of the listed enforcement actions and, if applicable, provides information about the exemption's expiry date.",
      "type": "object",
      "properties": {
        "status": {
          "description": "This field indicates the current exemption status for the listed enforcement actions. It can take values such as `EXEMPT`, signifying permanent exemption, `EXEMPT_UNTIL_EXPIRY_DATE` indicating temporary exemption until a specified date, or `NOT_EXEMPT` signifying no exemptions, and enforcement actions were already applied.",
          "enum": [
            "EXEMPT",
            "EXEMPT_UNTIL_EXPIRY_DATE",
            "NOT_EXEMPT"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "EXEMPT",
              "description": "This status is assigned to a product listing when it has been exempted from the listed enforcement actions. In cases of `EXEMPT`, Amazon acknowledges the existence of enforcement actions but ensures the user that these actions will not be applied to the listing. The user is advised to consider addressing the issue, although enforcement actions will not be taken."
            },
            {
              "value": "EXEMPT_UNTIL_EXPIRY_DATE",
              "description": "This status indicates that a product listing has been granted a temporary exemption from the listed enforcement actions. The exemption will remain in effect until a specified expiry date. After this date, Amazon will enforce the listed actions. The `expiryDate` field provides the timestamp indicating when the temporary exemption will end, adhering to the ISO 8601 format"
            },
            {
              "value": "NOT_EXEMPT",
              "description": "This status is assigned to a product listing when it has no exemptions from the listed enforcement actions. When the status is `NOT_EXEMPT`, it signifies that Amazon has already taken the specified enforcement actions. There is no exemption in place, and the listed actions are actively enforced"
            }
          ],
          "type": "string"
        },
        "expiryDate": {
          "description": "This field represents the timestamp, following the ISO 8601 format, which specifies the date when temporary exemptions, if applicable, will expire, and Amazon will begin enforcing the listed actions.",
          "type": "string",
          "format": "date-time",
          "example": "2023-10-28T00:36:48.914Z"
        }
      },
      "required": [
        "status"
      ]
    },
    "ItemOffers": {
      "description": "Offer details for the listings item.",
      "items": {
        "$ref": "#/definitions/ItemOfferByMarketplace"
      },
      "type": "array"
    },
    "ItemOfferByMarketplace": {
      "description": "Offer details of a listings item for an Amazon marketplace.",
      "properties": {
        "marketplaceId": {
          "description": "The Amazon marketplace identifier.",
          "type": "string"
        },
        "offerType": {
          "description": "Type of offer for the listings item.",
          "enum": [
            "B2C",
            "B2B"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "B2C",
              "description": "The offer on this listings item is available for Business to Consumer purchase, meaning that it is available to shoppers on Amazon retail sites."
            },
            {
              "value": "B2B",
              "description": "The offer on this listings item is available for Business to Business purchase."
            }
          ],
          "type": "string"
        },
        "price": {
          "description": "The purchase price of the listings item",
          "$ref": "#/definitions/Money"
        },
        "points": {
          "$ref": "#/definitions/Points"
        },
        "audience": {
          "description": "Buyer segment or program this offer is applicable to.",
          "$ref": "#/definitions/Audience"
        }
      },
      "required": [
        "marketplaceId",
        "offerType",
        "price"
      ],
      "type": "object"
    },
    "ItemProcurement": {
      "description": "The vendor procurement information for the listings item.",
      "properties": {
        "costPrice": {
          "description": "The price (numeric value) that you want Amazon to pay you for this product.",
          "$ref": "#/definitions/Money"
        }
      },
      "required": [
        "costPrice"
      ],
      "type": "object"
    },
    "FulfillmentAvailability": {
      "description": "The fulfillment availability details for the listings item.",
      "properties": {
        "fulfillmentChannelCode": {
          "description": "The code of the fulfillment network that will be used.",
          "type": "string"
        },
        "quantity": {
          "description": "The quantity of the item you are making available for sale.",
          "type": "integer",
          "minimum": 0
        }
      },
      "required": [
        "fulfillmentChannelCode"
      ],
      "type": "object"
    },
    "Money": {
      "description": "The currency type and amount.",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "Three-digit currency code in ISO 4217 format."
        },
        "amount": {
          "description": "The currency amount.",
          "$ref": "#/definitions/Decimal"
        }
      },
      "required": [
        "amount",
        "currencyCode"
      ],
      "type": "object"
    },
    "Decimal": {
      "type": "string",
      "description": "A decimal number with no loss of precision. Useful when precision loss is unnaceptable, as with currencies. Follows RFC7159 for number representation."
    },
    "Points": {
      "description": "The number of Amazon Points offered with the purchase of an item, and their monetary value. Note that the `Points` element is only returned in Japan (JP).",
      "type": "object",
      "properties": {
        "pointsNumber": {
          "type": "integer"
        }
      },
      "required": [
        "pointsNumber"
      ]
    },
    "Audience": {
      "description": "Buyer segment or program this offer is applicable to.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Name of the audience an offer is applicable to. \n\nCommon values: \n\n* 'ALL' - Standard offer audience for buyers on Amazon retail websites. \n\n* 'B2B' - Offer audience for Amazon Business website buyers.",
          "type": "string",
          "example": "ALL"
        },
        "displayName": {
          "description": "Localized display name for the audience.",
          "type": "string"
        }
      }
    },
    "PatchOperation": {
      "description": "Individual JSON Patch operation for an HTTP PATCH request.",
      "properties": {
        "op": {
          "description": "Type of JSON Patch operation. Supported JSON Patch operations include add, replace, and delete. Refer to [JavaScript Object Notation (JSON) Patch](https://tools.ietf.org/html/rfc6902) for more information.",
          "enum": [
            "add",
            "replace",
            "delete"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "add",
              "description": "The `add` operation adds or replaces the target property."
            },
            {
              "value": "replace",
              "description": "The `replace` operation adds or replaces the target property."
            },
            {
              "value": "delete",
              "description": "The `delete` operation removes the target property. Not supported for vendors (vendors will receive an HTTP status code 400 response)."
            }
          ],
          "type": "string"
        },
        "path": {
          "description": "JSON Pointer path of the element to patch. Refer to [JavaScript Object Notation (JSON) Patch](https://tools.ietf.org/html/rfc6902) for more information.",
          "type": "string"
        },
        "value": {
          "description": "JSON value to add, replace, or delete.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "required": [
        "op",
        "path"
      ],
      "type": "object"
    },
    "ListingsItemPatchRequest": {
      "description": "The request body schema for the `patchListingsItem` operation.",
      "properties": {
        "productType": {
          "description": "The Amazon product type of the listings item.",
          "type": "string"
        },
        "patches": {
          "description": "One or more JSON Patch operations to perform on the listings item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PatchOperation"
          },
          "minItems": 1
        }
      },
      "required": [
        "productType",
        "patches"
      ],
      "type": "object"
    },
    "ListingsItemPutRequest": {
      "description": "The request body schema for the `putListingsItem` operation.",
      "properties": {
        "productType": {
          "description": "The Amazon product type of the listings item.",
          "type": "string"
        },
        "requirements": {
          "description": "The name of the requirements set for the provided data.",
          "enum": [
            "LISTING",
            "LISTING_PRODUCT_ONLY",
            "LISTING_OFFER_ONLY"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "LISTING",
              "description": "Indicates the submitted data contains product facts and sales terms."
            },
            {
              "value": "LISTING_PRODUCT_ONLY",
              "description": "Indicates the submitted data contains product facts only."
            },
            {
              "value": "LISTING_OFFER_ONLY",
              "description": "Indicates the submitted data contains sales terms only. Not supported for vendors (vendors will receive an HTTP status code 400 response)."
            }
          ],
          "type": "string"
        },
        "attributes": {
          "description": "A JSON object containing structured listings item attribute data keyed by attribute name.",
          "type": "object",
          "additionalProperties": true
        }
      },
      "required": [
        "productType",
        "attributes"
      ],
      "type": "object"
    },
    "ListingsItemSubmissionResponse": {
      "description": "Response containing the results of a submission to the Selling Partner API for Listings Items.",
      "properties": {
        "sku": {
          "description": "A selling partner provided identifier for an Amazon listing.",
          "type": "string"
        },
        "status": {
          "description": "The status of the listings item submission.",
          "enum": [
            "ACCEPTED",
            "INVALID",
            "VALID"
          ],
          "x-docgen-enum-table-extension": [
            {
              "value": "ACCEPTED",
              "description": "The listings submission was accepted for processing."
            },
            {
              "value": "INVALID",
              "description": "The listings submission was not valid and was not accepted for processing."
            },
            {
              "value": "VALID",
              "description": "The listings submission was valid. Only returned when the `mode` is `VALIDATION_PREVIEW`."
            }
          ],
          "type": "string"
        },
        "submissionId": {
          "description": "The unique identifier of the listings item submission.",
          "type": "string"
        },
        "issues": {
          "description": "Listings item issues related to the listings item submission.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Issue"
          }
        },
        "identifiers": {
          "description": "Identity attributes associated with the item in the Amazon catalog, such as the ASIN.",
          "$ref": "#/definitions/ItemIdentifiers"
        }
      },
      "required": [
        "sku",
        "status",
        "submissionId"
      ],
      "type": "object"
    },
    "ItemIdentifiers": {
      "description": "Identity attributes associated with the item in the Amazon catalog, such as the ASIN.",
      "items": {
        "$ref": "#/definitions/ItemIdentifiersByMarketplace"
      },
      "type": "array"
    },
    "ItemIdentifiersByMarketplace": {
      "description": "Identity attributes associated with the item in the Amazon catalog for the indicated Amazon marketplace.",
      "properties": {
        "marketplaceId": {
          "description": "A marketplace identifier. Identifies the Amazon marketplace for the listings item.",
          "type": "string"
        },
        "asin": {
          "description": "Amazon Standard Identification Number (ASIN) of the listings item.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Pagination": {
      "description": "When a request produces a response that exceeds the `pageSize`, pagination occurs. This means the response is divided into individual pages. To retrieve the next page or the previous page, you must pass the `nextToken` value or the `previousToken` value as the `pageToken` parameter in the next request. When you receive the last page, there will be no `nextToken` key in the pagination object.",
      "properties": {
        "nextToken": {
          "description": "A token that can be used to fetch the next page.",
          "type": "string"
        },
        "previousToken": {
          "description": "A token that can be used to fetch the previous page.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}