{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Fulfillment Outbound lets you create applications that help a seller fulfill Multi-Channel Fulfillment orders using their inventory in Amazon's fulfillment network. You can get information on both potential and existing fulfillment orders.",
    "version": "2020-07-01",
    "title": "Selling Partner APIs for Fulfillment Outbound",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/fba/outbound/2020-07-01/fulfillmentOrders/preview": {
      "post": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Returns a list of fulfillment order previews based on shipping criteria that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getFulfillmentPreview",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "examples": {
              "payload": {
                "fulfillmentPreviews": [
                  {
                    "shippingSpeedCategory": "Standard",
                    "isFulfillable": true,
                    "estimatedShippingWeight": {
                      "unit": "POUNDS",
                      "value": "22"
                    },
                    "estimatedFees": [
                      {
                        "name": "FBAPerUnitFulfillmentFee",
                        "amount": {
                          "currencyCode": "USD",
                          "value": "19.71"
                        }
                      }
                    ],
                    "fulfillmentPreviewShipments": [
                      {
                        "earliestShipDate": "2020-02-11T18:16:16Z",
                        "latestShipDate": "2020-02-11T18:16:16Z",
                        "earliestArrivalDate": "2020-02-17T18:16:16Z",
                        "latestArrivalDate": "2020-02-17T18:16:16Z",
                        "fulfillmentPreviewItems": [
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_39_23-0788",
                            "quantity": 1,
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "estimatedShippingWeight": {
                              "unit": "POUNDS",
                              "value": "20"
                            },
                            "shippingWeightCalculationMethod": "Package"
                          }
                        ]
                      }
                    ],
                    "unfulfillablePreviewItems": [],
                    "marketplaceId": "ATVPDKIKX0DER",
                    "featureConstraints": [
                      {
                        "featureName": "BLANK_BOX",
                        "featureFulfillmentPolicy": "REQUIRED"
                      }
                    ]
                  }
                ]
              }
            },
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "address": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "items": [
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_39_23-0788",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "quantity": 1
                          }
                        ],
                        "shippingSpeedCategories": [
                          "Standard"
                        ],
                        "featureConstraints": [
                          {
                            "featureName": "BLANK_BOX",
                            "featureFulfillmentPolicy": "REQUIRED"
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "payload": {
                    "fulfillmentPreviews": [
                      {
                        "shippingSpeedCategory": "Standard",
                        "isFulfillable": true,
                        "estimatedShippingWeight": {
                          "unit": "POUNDS",
                          "value": "22"
                        },
                        "estimatedFees": [
                          {
                            "name": "FBAPerUnitFulfillmentFee",
                            "amount": {
                              "currencyCode": "USD",
                              "value": "19.71"
                            }
                          }
                        ],
                        "fulfillmentPreviewShipments": [
                          {
                            "earliestShipDate": "2020-02-11T18:16:16Z",
                            "latestShipDate": "2020-02-11T18:16:16Z",
                            "earliestArrivalDate": "2020-02-17T18:16:16Z",
                            "latestArrivalDate": "2020-02-17T18:16:16Z",
                            "fulfillmentPreviewItems": [
                              {
                                "sellerSku": "PSMM-TEST-SKU-Jan-21_19_39_23-0788",
                                "quantity": 1,
                                "sellerFulfillmentOrderItemId": "OrderItemID2",
                                "estimatedShippingWeight": {
                                  "unit": "POUNDS",
                                  "value": "20"
                                },
                                "shippingWeightCalculationMethod": "Package"
                              }
                            ]
                          }
                        ],
                        "unfulfillablePreviewItems": [],
                        "marketplaceId": "ATVPDKIKX0DER",
                        "featureConstraints": [
                          {
                            "featureName": "BLANK_BOX",
                            "featureFulfillmentPolicy": "REQUIRED"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "address": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "postalCode": "48084"
                        },
                        "items": [
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_39_23-0788",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "quantity": 1
                          }
                        ],
                        "shippingSpeedCategories": [
                          "Standard"
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "The request must contain the parameter Address.CountryCode.",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentPreviewResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders": {
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Returns a list of fulfillment orders fulfilled after (or at) a specified date-time, or indicated by the next token parameter.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "listAllFulfillmentOrders",
        "parameters": [
          {
            "name": "queryStartDate",
            "description": "A date used to select fulfillment orders that were last updated after (or at) a specified time. An update is defined as any change in fulfillment order status, including the creation of a new fulfillment order.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "nextToken",
            "description": "A string token returned in the response to your previous request.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "examples": {
              "payload": {
                "fulfillmentOrders": [
                  {
                    "sellerFulfillmentOrderId": "902-6018020-0202003",
                    "displayableOrderId": "mws-test-query-20100713023203751",
                    "displayableOrderDate": "2020-01-09T19:46:45Z",
                    "displayableOrderComment": "TestOrder",
                    "shippingSpeedCategory": "Standard",
                    "destinationAddress": {
                      "name": "Amazon",
                      "addressLine1": "1234 Amazon Way",
                      "addressLine2": "Suite 123",
                      "addressLine3": "Lane1",
                      "city": "Troy",
                      "stateOrRegion": "MI",
                      "countryCode": "US",
                      "postalCode": "48084"
                    },
                    "fulfillmentPolicy": "FillOrKill",
                    "receivedDate": "2020-01-21T21:07:13Z",
                    "fulfillmentOrderStatus": "RECEIVED",
                    "statusUpdatedDate": "2020-01-21T21:07:30Z",
                    "featureConstraints": [
                      {
                        "featureName": "BLANK_BOX",
                        "featureFulfillmentPolicy": "REQUIRED"
                      }
                    ]
                  },
                  {
                    "sellerFulfillmentOrderId": "601-2020200-12345678",
                    "displayableOrderId": "TestOrder-FBAOutbound",
                    "displayableOrderDate": "2020-01-09T19:46:45Z",
                    "displayableOrderComment": "TestOrder",
                    "shippingSpeedCategory": "Standard",
                    "destinationAddress": {
                      "name": "Amazon",
                      "addressLine1": "1234 Amazon Way",
                      "addressLine2": "Suite 123",
                      "addressLine3": "Lane1",
                      "city": "Troy",
                      "stateOrRegion": "MI",
                      "countryCode": "US",
                      "postalCode": "48084"
                    },
                    "fulfillmentPolicy": "FillOrKill",
                    "receivedDate": "2020-01-23T19:56:41Z",
                    "fulfillmentOrderStatus": "COMPLETE",
                    "statusUpdatedDate": "2020-01-24T15:28:27Z",
                    "featureConstraints": null
                  }
                ]
              }
            },
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "queryStartDate": {
                      "value": "2020-01-01T19:46:45Z"
                    }
                  }
                },
                "response": {
                  "payload": {
                    "fulfillmentOrders": [
                      {
                        "sellerFulfillmentOrderId": "902-6018020-0202003",
                        "displayableOrderId": "mws-test-query-20100713023203751",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-21T21:07:13Z",
                        "fulfillmentOrderStatus": "RECEIVED",
                        "statusUpdatedDate": "2020-01-21T21:07:30Z",
                        "featureConstraints": [
                          {
                            "featureName": "BLANK_BOX",
                            "featureFulfillmentPolicy": "NOT_REQUIRED"
                          }
                        ]
                      },
                      {
                        "sellerFulfillmentOrderId": "601-2020200-12345678",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-23T19:56:41Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-01-24T15:28:27Z",
                        "featureConstraints": [
                          {
                            "featureName": "BLANK_BOX",
                            "featureFulfillmentPolicy": "REQUIRED"
                          }
                        ]
                      },
                      {
                        "sellerFulfillmentOrderId": "501-2020200-12345678",
                        "displayableOrderId": "501-2020200-12345678",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-23T19:26:45Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-01-27T13:58:23Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "902-6018020-03251987",
                        "displayableOrderId": "mws-test-query-20100713023203751",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-23T15:06:04Z",
                        "fulfillmentOrderStatus": "CANCELLED",
                        "statusUpdatedDate": "2020-01-27T14:40:37Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "902-6018020-03261987",
                        "displayableOrderId": "mws-test-query-20100713023203751",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-23T17:54:43Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-01-27T14:50:32Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-1",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-27T15:25:11Z",
                        "fulfillmentOrderStatus": "RECEIVED",
                        "statusUpdatedDate": "2020-01-27T15:25:23Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "902-6018020-08182019",
                        "displayableOrderId": "mws-test-query-20100713023203751",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-21T20:25:56Z",
                        "fulfillmentOrderStatus": "CANCELLED",
                        "statusUpdatedDate": "2020-01-27T18:16:38Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "902-6018020-04162017",
                        "displayableOrderId": "mws-test-query-20100713023203751",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-21T20:59:10Z",
                        "fulfillmentOrderStatus": "CANCELLED",
                        "statusUpdatedDate": "2020-01-27T18:16:44Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "902-6018020-04162019",
                        "displayableOrderId": "mws-test-query-2",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-21T21:00:11Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-01-27T18:19:38Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "902-6018020-02020202",
                        "displayableOrderId": "mws-test-query-20100713023203751",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-21T21:05:13Z",
                        "fulfillmentOrderStatus": "CANCELLED",
                        "statusUpdatedDate": "2020-01-27T18:28:32Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-2",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-27T18:20:10Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-01-27T18:57:48Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-3",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-28T14:18:54Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-01-28T14:24:18Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-4",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Priya",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-01-29T02:36:57Z",
                        "fulfillmentOrderStatus": "PLANNING",
                        "statusUpdatedDate": "2020-01-29T02:52:28Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-7",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Priya",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-02-04T15:59:26Z",
                        "fulfillmentOrderStatus": "CANCELLED",
                        "statusUpdatedDate": "2020-02-04T18:28:22Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-5",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-02-04T15:07:50Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-02-05T18:46:10Z",
                        "featureConstraints": null
                      },
                      {
                        "sellerFulfillmentOrderId": "TestOrder-6",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "city": "Troy",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "postalCode": "48084"
                        },
                        "fulfillmentPolicy": "FillOrKill",
                        "receivedDate": "2020-02-04T15:57:39Z",
                        "fulfillmentOrderStatus": "COMPLETE",
                        "statusUpdatedDate": "2020-02-06T20:15:11Z"
                      }
                    ]
                  }
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "queryStartDate": {
                      "value": "fdfdsfds"
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "timestamp must follow ISO8601",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ListAllFulfillmentOrdersResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Requests that Amazon ship items from the seller's inventory in Amazon's fulfillment network to a destination address.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "createFulfillmentOrder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "sellerFulfillmentOrderId": "FBATestOrder-11",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45.809Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "city": "Troy",
                          "postalCode": "48084"
                        },
                        "fulfillmentAction": "Ship",
                        "codSettings": {
                          "isCodRequired": false,
                          "codCharge": {
                            "currencyCode": "USD",
                            "value": "10.00"
                          },
                          "codChargeTax": {
                            "currencyCode": "USD",
                            "value": "2.00"
                          },
                          "shippingCharge": {
                            "currencyCode": "USD",
                            "value": "5.00"
                          },
                          "shippingChargeTax": {
                            "currencyCode": "USD",
                            "value": "3.00"
                          }
                        },
                        "notificationEmails": [
                          "test1%40amazon.com",
                          "test2%40amazon.com"
                        ],
                        "items": [
                          {
                            "sellerSku": "CR-47K6-H6QN",
                            "sellerFulfillmentOrderItemId": "OrderItemID1",
                            "quantity": 3
                          },
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "quantity": 1
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {}
              }
            ],
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "sellerFulfillmentOrderId": "FBATestOrder-1",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45.809Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "stateOrRegion": "MI",
                          "countryCode": "US"
                        },
                        "fulfillmentAction": "Ship",
                        "codSettings": {
                          "isCodRequired": false,
                          "codCharge": {
                            "currencyCode": "USD",
                            "value": "10.00"
                          },
                          "codChargeTax": {
                            "currencyCode": "USD",
                            "value": "2.00"
                          },
                          "shippingCharge": {
                            "currencyCode": "USD",
                            "value": "5.00"
                          },
                          "shippingChargeTax": {
                            "currencyCode": "USD",
                            "value": "3.00"
                          }
                        },
                        "notificationEmails": [
                          "test1%40amazon.com",
                          "test2%40amazon.com"
                        ],
                        "items": [
                          {
                            "sellerSku": "CR-47K6-H6QN",
                            "sellerFulfillmentOrderItemId": "OrderItemID1",
                            "quantity": 3
                          },
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "quantity": 1
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "A create request already exists for MerchantFulfillmentOrderId : FBATestOrder-1",
                      "details": ""
                    }
                  ]
                }
              },
              {
                "request": {
                  "parameters": {
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "sellerFulfillmentOrderId": "FBATestOrder-2",
                        "displayableOrderId": "TestOrder-FBAOutbound",
                        "displayableOrderDate": "2020-01-09T19:46:45.809Z",
                        "displayableOrderComment": "TestOrder",
                        "shippingSpeedCategory": "Standard",
                        "destinationAddress": {
                          "name": "Amazon",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "stateOrRegion": "MI",
                          "city": "Troy",
                          "postalCode": "48084"
                        },
                        "fulfillmentAction": "Ship",
                        "codSettings": {
                          "isCodRequired": false,
                          "codCharge": {
                            "currencyCode": "USD",
                            "value": "10.00"
                          },
                          "codChargeTax": {
                            "currencyCode": "USD",
                            "value": "2.00"
                          },
                          "shippingCharge": {
                            "currencyCode": "USD",
                            "value": "5.00"
                          },
                          "shippingChargeTax": {
                            "currencyCode": "USD",
                            "value": "3.00"
                          }
                        },
                        "notificationEmails": [
                          "test1%40amazon.com",
                          "test2%40amazon.com"
                        ],
                        "items": [
                          {
                            "sellerSku": "CR-47K6-H6QN",
                            "sellerFulfillmentOrderItemId": "OrderItemID1",
                            "quantity": 3
                          },
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "quantity": 1
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "Value  for parameter CountryCode is invalid. Reason: InvalidValue.",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/fba/outbound/2020-07-01/tracking": {
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Returns delivery tracking information for a package in an outbound shipment for a Multi-Channel Fulfillment order.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getPackageTrackingDetails",
        "parameters": [
          {
            "name": "packageNumber",
            "description": "The unencrypted package identifier returned by the getFulfillmentOrder operation.",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "examples": {
              "payload": {
                "packageNumber": 212794778,
                "trackingNumber": "1Z50V7420354708051",
                "customerTrackingLink": "https%3A%2F%2Fwww.swiship.com%2Ftrack%3Fid%3D1Z50V7420354708051%0A",
                "carrierCode": "UPS",
                "shipToAddress": {
                  "name": "Amazon",
                  "addressLine1": "1234 Amazon Way",
                  "addressLine2": "Suite 123",
                  "addressLine3": "Lane1",
                  "city": "Troy",
                  "stateOrRegion": "MI",
                  "countryCode": "US",
                  "postalCode": "48084"
                },
                "currentStatus": "DELIVERED",
                "currentStatusDescription": "Delivered to the destination address",
                "additionalLocationInfo": "AS_INSTRUCTED",
                "trackingEvents": [
                  {
                    "eventDate": "2020-01-22T00:15:55Z",
                    "eventAddress": {
                      "city": "Troy",
                      "state": "MI",
                      "country": "US"
                    },
                    "eventCode": "EVENT_301",
                    "eventDescription": "Delivered."
                  },
                  {
                    "eventDate": "2019-10-30T23:33:28Z",
                    "eventAddress": {
                      "city": "Phoenix",
                      "state": "AZ",
                      "country": "US"
                    },
                    "eventCode": "EVENT_206",
                    "eventDescription": "In transit to pickup location"
                  }
                ]
              }
            },
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "packageNumber": {
                      "value": 212794778
                    }
                  }
                },
                "response": {
                  "payload": {
                    "packageNumber": 212794778,
                    "trackingNumber": "1Z50V7420354708051",
                    "customerTrackingLink": "https%3A%2F%2Fwww.swiship.com%2Ftrack%3Fid%3D1Z50V7420354708051%0A",
                    "carrierCode": "UPS",
                    "shipToAddress": {},
                    "currentStatus": "DELIVERED",
                    "currentStatusDescription": "Delivered to the destination address",
                    "additionalLocationInfo": "AS_INSTRUCTED",
                    "trackingEvents": [
                      {
                        "eventDate": "2020-01-22T00:15:55Z",
                        "eventAddress": {
                          "city": "Troy",
                          "state": "MI",
                          "country": "US"
                        },
                        "eventCode": "EVENT_301",
                        "eventDescription": "Delivered."
                      },
                      {
                        "eventDate": "2019-10-30T23:33:28Z",
                        "eventAddress": {
                          "city": "Phoenix",
                          "state": "AZ",
                          "country": "US"
                        },
                        "eventCode": "EVENT_206",
                        "eventDescription": "In transit to pickup location"
                      }
                    ]
                  }
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "packageNumber": {
                      "value": 12222
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "null",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetPackageTrackingDetailsResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/fba/outbound/2020-07-01/returnReasonCodes": {
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Returns a list of return reason codes for a seller SKU in a given marketplace.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "listReturnReasonCodes",
        "parameters": [
          {
            "name": "sellerSku",
            "description": "The seller SKU for which return reason codes are required.",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "marketplaceId",
            "description": "The marketplace for which the seller wants return reason codes.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sellerFulfillmentOrderId",
            "description": "The identifier assigned to the item by the seller when the fulfillment order was created. The service uses this value to determine the marketplace for which the seller wants return reason codes.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "description": "The language that the TranslatedDescription property of the ReasonCodeDetails response object should be translated into.",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "examples": {
              "payload": {
                "reasonCodeDetails": [
                  {
                    "returnReasonCode": "CR-UNWANTED_ITEM",
                    "description": "No longer needed/wanted"
                  },
                  {
                    "returnReasonCode": "AMZ-PG-BAD-DESC",
                    "description": "Different from website description"
                  },
                  {
                    "returnReasonCode": "CR-DEFECTIVE",
                    "description": "Defective/Does not work properly"
                  },
                  {
                    "returnReasonCode": "CR-ORDERED_WRONG_ITEM",
                    "description": "Accidental order"
                  },
                  {
                    "returnReasonCode": "CR-FOUND_BETTER_PRICE",
                    "description": "Better price available"
                  },
                  {
                    "returnReasonCode": "CR-DAMAGED_BY_FC",
                    "description": "Damaged due to inappropriate packaging"
                  },
                  {
                    "returnReasonCode": "CR-MISSED_ESTIMATED_DELIVERY",
                    "description": "Missed estimated delivery date"
                  },
                  {
                    "returnReasonCode": "CR-MISSING_PARTS",
                    "description": "Missing parts or accessories"
                  },
                  {
                    "returnReasonCode": "CR-DAMAGED_BY_CARRIER",
                    "description": "Damaged during shipping"
                  },
                  {
                    "returnReasonCode": "CR-SWITCHEROO",
                    "description": "Different from what was ordered"
                  },
                  {
                    "returnReasonCode": "CR-EXTRA_ITEM",
                    "description": "Arrived in addition to what was ordered"
                  },
                  {
                    "returnReasonCode": "CR-UNAUTHORIZED_PURCHASE",
                    "description": "Unauthorized purchase"
                  }
                ]
              }
            },
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerSku": {
                      "value": "PSMM-TEST-SKU-Jan-21_19_39_23-0788"
                    },
                    "marketplaceId": {
                      "value": "ATVPDKIKX0DER"
                    }
                  }
                },
                "response": {
                  "payload": {
                    "reasonCodeDetails": [
                      {
                        "returnReasonCode": "CR-UNWANTED_ITEM",
                        "description": "No longer needed/wanted"
                      },
                      {
                        "returnReasonCode": "AMZ-PG-BAD-DESC",
                        "description": "Different from website description"
                      },
                      {
                        "returnReasonCode": "CR-DEFECTIVE",
                        "description": "Defective/Does not work properly"
                      },
                      {
                        "returnReasonCode": "CR-ORDERED_WRONG_ITEM",
                        "description": "Accidental order"
                      },
                      {
                        "returnReasonCode": "CR-FOUND_BETTER_PRICE",
                        "description": "Better price available"
                      },
                      {
                        "returnReasonCode": "CR-DAMAGED_BY_FC",
                        "description": "Damaged due to inappropriate packaging"
                      },
                      {
                        "returnReasonCode": "CR-MISSED_ESTIMATED_DELIVERY",
                        "description": "Missed estimated delivery date"
                      },
                      {
                        "returnReasonCode": "CR-MISSING_PARTS",
                        "description": "Missing parts or accessories"
                      },
                      {
                        "returnReasonCode": "CR-DAMAGED_BY_CARRIER",
                        "description": "Damaged during shipping"
                      },
                      {
                        "returnReasonCode": "CR-SWITCHEROO",
                        "description": "Different from what was ordered"
                      },
                      {
                        "returnReasonCode": "CR-EXTRA_ITEM",
                        "description": "Arrived in addition to what was ordered"
                      },
                      {
                        "returnReasonCode": "CR-UNAUTHORIZED_PURCHASE",
                        "description": "Unauthorized purchase"
                      }
                    ]
                  }
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "marketplaceId": {
                      "value": "ATVPDKIKX0DER"
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "The request must contain the parameter sellerSku.",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ListReturnReasonCodesResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders/{sellerFulfillmentOrderId}/return": {
      "put": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Creates a fulfillment return. \n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "createFulfillmentReturn",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnRequest"
            }
          },
          {
            "name": "sellerFulfillmentOrderId",
            "description": "An identifier assigned by the seller to the fulfillment order at the time it was created. The seller uses their own records to find the correct SellerFulfillmentOrderId value based on the buyer's request to return items.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "examples": {
              "payload": {
                "returnItems": [
                  {
                    "sellerReturnItemId": "testReturn11",
                    "sellerFulfillmentOrderItemId": "OrderItemID2",
                    "amazonShipmentId": "D4yZjWZVN",
                    "returnComment": "TestReturn",
                    "amazonReturnReasonCode": "UNKNOWN_OTHER_REASON",
                    "status": "New",
                    "statusChangedDate": "2020-02-07T04:14:38Z",
                    "returnAuthorizationId": "RMA3JTIPBJM42UU6"
                  }
                ],
                "invalidReturnItems": [],
                "returnAuthorizations": [
                  {
                    "returnAuthorizationId": "RMA3JTIPBJM42UU6",
                    "fulfillmentCenterId": "TUS1",
                    "returnToAddress": {
                      "name": "Returns Department",
                      "addressLine1": "5333 W. Lower Buckeye Road",
                      "districtOrCounty": "US",
                      "city": "Phoenix",
                      "stateOrRegion": "AZ",
                      "countryCode": "US",
                      "postalCode": "85043"
                    },
                    "amazonRmaId": "D50WttPHRRMA",
                    "rmaPageURL": "https://www.amazon.com/gp/orc/rml/D50WttPHRRMA"
                  }
                ]
              }
            },
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerFulfillmentOrderId": {
                      "value": "TestOrder-6"
                    },
                    "body": {
                      "value": {
                        "items": [
                          {
                            "sellerReturnItemId": "testReturn11",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "amazonShipmentId": "D4yZjWZVN",
                            "returnReasonCode": "TestReturn",
                            "returnComment": "TestReturn"
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "payload": {
                    "returnItems": [
                      {
                        "sellerReturnItemId": "testReturn11",
                        "sellerFulfillmentOrderItemId": "OrderItemID2",
                        "amazonShipmentId": "D4yZjWZVN",
                        "returnComment": "TestReturn",
                        "amazonReturnReasonCode": "UNKNOWN_OTHER_REASON",
                        "status": "New",
                        "statusChangedDate": "2020-02-07T04:14:38Z",
                        "returnAuthorizationId": "RMA3JTIPBJM42UU6"
                      }
                    ],
                    "invalidReturnItems": [],
                    "returnAuthorizations": [
                      {
                        "returnAuthorizationId": "RMA3JTIPBJM42UU6",
                        "fulfillmentCenterId": "TUS1",
                        "returnToAddress": {
                          "name": "Returns Department",
                          "addressLine1": "5333 W. Lower Buckeye Road",
                          "city": "Phoenix",
                          "stateOrRegion": "AZ",
                          "countryCode": "US",
                          "postalCode": "85043"
                        },
                        "amazonRmaId": "D50WttPHRRMA",
                        "rmaPageURL": "https://www.amazon.com/gp/orc/rml/D50WttPHRRMA"
                      }
                    ]
                  }
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerFulfillmentOrderId": {
                      "value": "FBATestOrder-11"
                    },
                    "body": {
                      "value": {
                        "items": [
                          {
                            "sellerReturnItemId": "testReturn11",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "amazonShipmentId": "Dr0dZBZWN",
                            "returnReasonCode": "TestReturn",
                            "returnComment": "TestReturn"
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "No inventory available for Items.SellerFulfillmentOrderItemId: FBATestOrder-11.",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/CreateFulfillmentReturnResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/fba/outbound/2020-07-01/fulfillmentOrders/{sellerFulfillmentOrderId}": {
      "get": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Returns the fulfillment order indicated by the specified order identifier.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "getFulfillmentOrder",
        "parameters": [
          {
            "name": "sellerFulfillmentOrderId",
            "description": "The identifier assigned to the item by the seller when the fulfillment order was created.",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 40
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "examples": {
              "payload": {
                "fulfillmentOrder": {
                  "sellerFulfillmentOrderId": "FBATestOrder-1",
                  "marketplaceId": "ATVPDKIKX0DER",
                  "displayableOrderId": "TestOrder-FBAOutbound",
                  "displayableOrderDate": "2020-01-09T19:46:45Z",
                  "displayableOrderComment": "TestOrder",
                  "shippingSpeedCategory": "Standard",
                  "destinationAddress": {
                    "name": "Amazon",
                    "addressLine1": "1234 Amazon Way",
                    "addressLine2": "Suite 123",
                    "addressLine3": "Lane1",
                    "city": "Troy",
                    "stateOrRegion": "MI",
                    "countryCode": "US",
                    "postalCode": "48084"
                  },
                  "fulfillmentAction": "Ship",
                  "fulfillmentPolicy": "FillOrKill",
                  "receivedDate": "2020-02-07T01:23:30Z",
                  "fulfillmentOrderStatus": "PROCESSING",
                  "statusUpdatedDate": "2020-02-07T02:33:31Z",
                  "notificationEmails": [
                    "test2@amazon.com",
                    "test1@amazon.com"
                  ]
                },
                "fulfillmentOrderItems": [
                  {
                    "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                    "sellerFulfillmentOrderItemId": "OrderItemID2",
                    "quantity": 1,
                    "fulfillmentNetworkSku": "B07CGHKWZP",
                    "orderItemDisposition": "Sellable",
                    "cancelledQuantity": 0,
                    "unfulfillableQuantity": 0,
                    "estimatedShipDate": "2020-02-08T01:23:31Z",
                    "estimatedArrivalDate": "2020-02-15T01:23:31Z",
                    "perUnitDeclaredValue": {
                      "currencyCode": "USD",
                      "value": "18.99"
                    }
                  },
                  {
                    "sellerSku": "CR-47K6-H6QN",
                    "sellerFulfillmentOrderItemId": "OrderItemID1",
                    "quantity": 3,
                    "fulfillmentNetworkSku": "X0014BIZ8T",
                    "orderItemDisposition": "Sellable",
                    "cancelledQuantity": 0,
                    "unfulfillableQuantity": 0,
                    "estimatedShipDate": "2020-02-08T01:23:31Z",
                    "estimatedArrivalDate": "2020-02-15T01:23:31Z",
                    "perUnitDeclaredValue": {
                      "currencyCode": "USD",
                      "value": "2.00"
                    }
                  }
                ],
                "fulfillmentShipments": [
                  {
                    "amazonShipmentId": "DchKfcZ9N",
                    "fulfillmentCenterId": "RNO1",
                    "fulfillmentShipmentStatus": "PENDING",
                    "shippingDate": "2020-02-07T02:33:23Z",
                    "estimatedArrivalDate": "2020-02-07T02:33:23Z",
                    "fulfillmentShipmentItem": [
                      {
                        "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                        "sellerFulfillmentOrderItemId": "OrderItemID2",
                        "quantity": 1,
                        "packageNumber": 0,
                        "serialNumber": "a1b2c"
                      },
                      {
                        "sellerSku": "CR-47K6-H6QN",
                        "sellerFulfillmentOrderItemId": "OrderItemID1",
                        "quantity": 3,
                        "packageNumber": 0,
                        "serialNumber": ""
                      }
                    ]
                  }
                ],
                "returnItems": [],
                "returnAuthorizations": []
              }
            },
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerFulfillmentOrderId": {
                      "value": "FBATestOrder-1"
                    }
                  }
                },
                "response": {
                  "payload": {
                    "fulfillmentOrder": {
                      "sellerFulfillmentOrderId": "FBATestOrder-1",
                      "marketplaceId": "ATVPDKIKX0DER",
                      "displayableOrderId": "TestOrder-FBAOutbound",
                      "displayableOrderDate": "2020-01-09T19:46:45Z",
                      "displayableOrderComment": "TestOrder",
                      "shippingSpeedCategory": "Standard",
                      "destinationAddress": {
                        "name": "Amazon",
                        "addressLine1": "1234 Amazon Way",
                        "addressLine2": "Suite 123",
                        "city": "Troy",
                        "stateOrRegion": "MI",
                        "countryCode": "US",
                        "postalCode": "48084"
                      },
                      "fulfillmentAction": "Ship",
                      "fulfillmentPolicy": "FillOrKill",
                      "receivedDate": "2020-02-07T01:23:30Z",
                      "fulfillmentOrderStatus": "PROCESSING",
                      "statusUpdatedDate": "2020-02-07T02:33:31Z",
                      "notificationEmails": [
                        "test2@amazon.com",
                        "test1@amazon.com"
                      ]
                    },
                    "fulfillmentOrderItems": [
                      {
                        "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                        "sellerFulfillmentOrderItemId": "OrderItemID2",
                        "quantity": 1,
                        "fulfillmentNetworkSku": "B07CGHKWZP",
                        "orderItemDisposition": "Sellable",
                        "cancelledQuantity": 0,
                        "unfulfillableQuantity": 0,
                        "estimatedShipDate": "2020-02-08T01:23:31Z",
                        "estimatedArrivalDate": "2020-02-15T01:23:31Z",
                        "perUnitDeclaredValue": {
                          "currencyCode": "USD",
                          "value": "18.99"
                        }
                      },
                      {
                        "sellerSku": "CR-47K6-H6QN",
                        "sellerFulfillmentOrderItemId": "OrderItemID1",
                        "quantity": 3,
                        "fulfillmentNetworkSku": "X0014BIZ8T",
                        "orderItemDisposition": "Sellable",
                        "cancelledQuantity": 0,
                        "unfulfillableQuantity": 0,
                        "estimatedShipDate": "2020-02-08T01:23:31Z",
                        "estimatedArrivalDate": "2020-02-15T01:23:31Z",
                        "perUnitDeclaredValue": {
                          "currencyCode": "USD",
                          "value": "2.00"
                        }
                      }
                    ],
                    "fulfillmentShipments": [
                      {
                        "amazonShipmentId": "DchKfcZ9N",
                        "fulfillmentCenterId": "RNO1",
                        "fulfillmentShipmentStatus": "PENDING",
                        "shippingDate": "2020-02-07T02:33:23Z",
                        "estimatedArrivalDate": "2020-02-07T02:33:23Z",
                        "fulfillmentShipmentItem": [
                          {
                            "sellerSku": "PSMM-TEST-SKU-Jan-21_19_59_44-0738",
                            "sellerFulfillmentOrderItemId": "OrderItemID2",
                            "quantity": 1,
                            "packageNumber": 0,
                            "serialNumber": "a1b2c"
                          },
                          {
                            "sellerSku": "CR-47K6-H6QN",
                            "sellerFulfillmentOrderItemId": "OrderItemID1",
                            "quantity": 3,
                            "packageNumber": 0,
                            "serialNumber": ""
                          }
                        ]
                      }
                    ],
                    "returnItems": [],
                    "returnAuthorizations": []
                  }
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerFulfillmentOrderId": {
                      "value": "FBATestOrder-10"
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "Requested order 'FBATestOrder-10' not found",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/GetFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "fbaOutbound"
        ],
        "description": "Updates and/or requests shipment for a fulfillment order with an order hold on it.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nFor more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.",
        "operationId": "updateFulfillmentOrder",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderRequest"
            }
          },
          {
            "name": "sellerFulfillmentOrderId",
            "description": "The identifier assigned to the item by the seller when the fulfillment order was created.",
            "in": "path",
            "required": true,
            "type": "string",
            "maxLength": 40
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerFulfillmentOrderId": {
                      "value": "FBATestOrder-1"
                    },
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "destinationAddress": {
                          "name": "NameChangeTest",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "city": "Troy",
                          "postalCode": "48084"
                        },
                        "items": [
                          {
                            "sellerFulfillmentOrderItemId": "OrderItemID1",
                            "quantity": 2
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {}
              }
            ],
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amazon-spds-sandbox-behaviors": [
              {
                "request": {
                  "parameters": {
                    "sellerFulfillmentOrderId": {
                      "value": "FBATestOrder-3"
                    },
                    "body": {
                      "value": {
                        "marketplaceId": "ATVPDKIKX0DER",
                        "destinationAddress": {
                          "name": "NameChangeTest",
                          "addressLine1": "1234 Amazon Way",
                          "addressLine2": "Suite 123",
                          "addressLine3": "Lane1",
                          "stateOrRegion": "MI",
                          "countryCode": "US",
                          "city": "Troy",
                          "postalCode": "48084"
                        },
                        "items": [
                          {
                            "sellerFulfillmentOrderItemId": "OrderItemID1",
                            "quantity": 2
                          }
                        ]
                      }
                    }
                  }
                },
                "response": {
                  "errors": [
                    {
                      "code": "InvalidInput",
                      "message": "Value OrderNotUpdatable for parameter  is invalid. Reason: 1 error:\nThis order is not updatable. Items in the order are already in working or completed shipments. \n.",
                      "details": ""
                    }
                  ]
                }
              }
            ],
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillmentOrderResponse"
            },
            "headers": {
              "x-amzn-RequestId": {
[...]
