{
  "swagger": "2.0",
  "info": {
    "description": "The Selling Partner API for Fulfillment Outbound lets you create applications that help a seller fulfill Multi-Channel Fulfillment orders using their inventory in Amazon's fulfillment network. You can get information on both potential and existing fulfillment orders.",
    "version": "2026-07-04",
    "title": "The Selling Partner API for Fulfillment Outbound",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/fulfillment/outbound/2026-07-04/previews": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "post": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentPreviews"
        ],
        "description": "Retrieve a list of fulfillment order previews based on shipping criteria that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getOrderPreview",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrderPreviewRequest"
            },
            "description": "The request body schema for the `getOrderPreview` operation.",
            "x-examples": {
              "application/json": {
                "channel": "SHOPIFY",
                "fulfillmentConfiguration": {
                  "serviceLevel": {
                    "serviceTiers": [
                      "STANDARD"
                    ]
                  },
                  "services": {
                    "packaging": {
                      "packagingOption": "UNBRANDED"
                    },
                    "additional": {}
                  }
                },
                "origin": {
                  "countryCode": "US"
                },
                "destination": {
                  "deliveryAddress": {
                    "name": "Shopper Name",
                    "addressLine1": "1000 Winthrop Ave N",
                    "city": "Seattle",
                    "countryCode": "US",
                    "postalCode": "98103",
                    "stateOrRegion": "WA",
                    "phone": "123-456-7890",
                    "email": "shopper@email.com"
                  }
                },
                "lineItems": [
                  {
                    "product": {
                      "productIdentifier": {
                        "amazonSku": "BOOK-123-HC"
                      },
                      "perUnitDeclaredValue": {
                        "currencyCode": "USD",
                        "amount": "14.99"
                      }
                    },
                    "amount": {
                      "unit": "EACHES",
                      "value": "2.0"
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderPreviewResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            },
            "examples": {
              "application/json": {
                "plannedShipments": [
                  {
                    "estimatedShippingWeight": {
                      "unit": "KG",
                      "value": "2.0"
                    },
                    "items": [
                      {
                        "productIdentifier": {
                          "amazonSku": "someSku"
                        },
                        "amount": {
                          "unit": "EACHES",
                          "value": "1.0"
                        }
                      }
                    ],
                    "offers": [
                      {
                        "fulfillmentConfiguration": {
                          "serviceLevel": {
                            "serviceTier": "STANDARD",
                            "deliveryInterval": {
                              "startTime": "2025-04-21T12:34:56Z",
                              "endTime": "2025-04-22T12:34:56Z"
                            },
                            "shipInterval": {
                              "startTime": "2025-04-21T10:00:00Z",
                              "endTime": "2025-04-21T14:00:00Z"
                            }
                          },
                          "services": {
                            "packaging": {
                              "packagingOption": "UNBRANDED"
                            },
                            "delivery": {
                              "paymentOnDelivery": "ENABLED"
                            },
                            "additional": {}
                          }
                        },
                        "estimatedPrice": {
                          "rollupPrices": [
                            {
                              "type": "MCFTransportationFee",
                              "value": {
                                "currencyCode": "USD",
                                "amount": "4.25"
                              }
                            }
                          ],
                          "totalPrice": {
                            "currencyCode": "USD",
                            "amount": "4.25"
                          }
                        }
                      }
                    ]
                  }
                ],
                "constraints": [
                  {
                    "message": "There is not enough quantity of item xyz.",
                    "type": "ValidationError",
                    "code": "ItemQuantityNotAvailable",
                    "details": [
                      {
                        "type": "someType",
                        "value": "someValue"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/offers": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "post": {
        "tags": [
          "fulfillmentOutbound",
          "offers"
        ],
        "description": "Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 5 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getOffers",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOffersRequest"
            },
            "description": "The request body schema for the `getOffers` operation.",
            "x-examples": {
              "application/json": {
                "fulfillmentConfiguration": {
                  "serviceLevel": {
                    "serviceTiers": [
                      "STANDARD",
                      "EXPEDITED"
                    ]
                  }
                },
                "origin": {
                  "countryCode": "US"
                },
                "destination": {
                  "deliveryAddress": {
                    "countryCode": "US",
                    "postalCode": "98103"
                  },
                  "ipAddress": "192.168.0.1"
                },
                "items": [
                  {
                    "productIdentifier": {
                      "amazonSku": "FRN-DSK-MCM-WAL-001"
                    }
                  },
                  {
                    "productIdentifier": {
                      "amazonSku": "FRN-DSK-MCM-CHR-001"
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOffersResponse"
            },
            "examples": {
              "application/json": {
                "offerResults": [
                  {
                    "item": {
                      "productIdentifier": {
                        "amazonSku": "FRN-DSK-MCM-WAL-001"
                      }
                    },
                    "offers": [
                      {
                        "fulfillmentConfiguration": {
                          "serviceLevel": {
                            "serviceTier": "STANDARD",
                            "deliveryInterval": {
                              "startTime": "2026-05-02T12:00:00Z",
                              "endTime": "2026-05-03T23:59:00Z"
                            }
                          }
                        },
                        "expiryTime": "2026-04-30T12:00:00Z"
                      },
                      {
                        "fulfillmentConfiguration": {
                          "serviceLevel": {
                            "serviceTier": "EXPEDITED",
                            "deliveryInterval": {
                              "startTime": "2026-04-30T18:00:00Z",
                              "endTime": "2026-05-01T18:00:00Z"
                            }
                          }
                        },
                        "expiryTime": "2026-04-30T12:00:00Z"
                      }
                    ]
                  },
                  {
                    "item": {
                      "productIdentifier": {
                        "amazonSku": "FRN-DSK-MCM-CHR-001"
                      }
                    },
                    "offers": [
                      {
                        "fulfillmentConfiguration": {
                          "serviceLevel": {
                            "serviceTier": "STANDARD",
                            "deliveryInterval": {
                              "startTime": "2026-05-03T12:00:00Z",
                              "endTime": "2026-05-05T23:59:00Z"
                            }
                          }
                        },
                        "expiryTime": "2026-04-30T12:00:00Z"
                      }
                    ],
                    "constraints": [
                      {
                        "message": "EXPEDITED delivery unavailable for FRN-DSK-MCM-CHR-001",
                        "type": "ValidationError",
                        "code": "DeliverySLAUnavailable",
                        "details": [
                          {
                            "type": "serviceTier",
                            "value": "EXPEDITED"
                          },
                          {
                            "type": "amazonSku",
                            "value": "FRN-DSK-MCM-CHR-001"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/orders/{orderId}/cancel": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Request that Amazon stop attempting to fulfill a fulfillment order.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "cancelOrder",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order that you want to cancel.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-example": "order-123"
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CancelOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            },
            "examples": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/orders/{orderId}/status": {
      "x-amzn-api-sandbox-only": true,
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Request that Amazon update the status of an order in the sandbox testing environment. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide) and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.",
        "operationId": "updateOrderStatus",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order that you want to update.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-example": "order-123"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderStatusRequest"
            },
            "description": "The new status of the fulfillment order.",
            "x-examples": {
              "application/json": {
                "status": "PROCESSING"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/orders/{orderId}/packages/{packageId}": {
      "x-amzn-api-sandbox-only": true,
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Update package information for a specific package in a fulfillment order. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide) and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.",
        "operationId": "updatePackage",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order that contains the package that you want to update.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-example": "order-123"
          },
          {
            "name": "packageId",
            "in": "path",
            "description": "The ID of the package that you want to update.",
            "required": true,
            "type": "string",
            "x-example": "PKG-abc123def456"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdatePackageRequest"
            },
            "description": "The new package information.",
            "x-examples": {
              "application/json": {
                "status": "DELIVERED"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success.",
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/orders/{orderId}": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "put": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Update and/or request shipment for a fulfillment order with an order hold on it.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "updateOrder",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order that you want to update and/or request shipment of.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-example": "orderNumberThree"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateOrderRequest"
            },
            "description": "The request body schema for the `updateOrder` operation.",
            "x-examples": {
              "application/json": {
                "fulfillmentConfiguration": {
                  "action": "HOLD"
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/UpdateOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            },
            "examples": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Retrieve a fulfillment order.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getOrder",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "name": "orderId",
            "in": "path",
            "description": "The ID of the order you want to retrieve.",
            "required": true,
            "type": "string",
            "maxLength": 40,
            "x-example": "orderNumberThree"
          },
          {
            "name": "shipments",
            "in": "query",
            "description": "Whether to include shipment data in the response. Included by default.",
            "type": "string",
            "enum": [
              "INCLUDE",
              "EXCLUDE"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "INCLUDE",
                "description": "Response schema includes shipments data. This is the default behavior."
              },
              {
                "value": "EXCLUDE",
                "description": "Response schema does not include shipments data."
              }
            ],
            "x-example": "EXCLUDE"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/GetOrderResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            },
            "examples": {
              "application/json": {
                "order": {
                  "orderId": "ABC123XYZ",
                  "channel": "SHOPIFY",
                  "receiveTime": "2025-04-21T10:30:00Z",
                  "status": "PROCESSING",
                  "statusUpdateTime": "2025-04-21T11:45:00Z",
                  "fulfillmentConfiguration": {
                    "serviceLevel": {
                      "serviceTiers": [
                        "STANDARD"
                      ]
                    },
                    "action": "HOLD",
                    "policy": "FILL_ALL_AVAILABLE",
                    "services": {
                      "packaging": {
                        "packagingOption": "UNBRANDED",
                        "packingSlip": {
                          "templateName": "templateName",
                          "templateAttributes": {
                            "orderId": "MyOrder-123",
                            "orderTime": "2026-07-01T10:00:00Z",
                            "orderText": "Thank you for your purchase!"
                          }
                        }
                      },
                      "additional": {}
                    }
                  },
                  "origin": {
                    "countryCode": "US"
                  },
                  "destination": {
                    "deliveryAddress": {
                      "name": "Shopper Name",
                      "addressLine1": "1000 Winthrop Ave N",
                      "city": "Seattle",
                      "countryCode": "US",
                      "postalCode": "98103",
                      "stateOrRegion": "WA",
                      "phone": "123-456-7890",
                      "email": "shopper@email.com"
                    }
                  },
                  "lineItems": [
                    {
                      "lineItemId": "someLineItemId",
                      "product": {
                        "productIdentifier": {
                          "amazonSku": "BOOK-123-HC"
                        },
                        "perUnitDeclaredValue": {
                          "currencyCode": "USD",
                          "amount": "14.99"
                        }
                      },
                      "amount": {
                        "unit": "EACHES",
                        "value": "1.0"
                      },
                      "cancelledAmount": {
                        "unit": "EACHES",
                        "value": "0.0"
                      },
                      "unfulfillableAmount": {
                        "unit": "EACHES",
                        "value": "0.0"
                      },
                      "fulfillmentConfiguration": {
                        "services": {
                          "packaging": {
                            "packingSlip": {
                              "templateName": "templateName",
                              "templateAttributes": {
                                "orderId": "MyOrder-123",
                                "orderTime": "2026-07-01T10:00:00Z",
                                "orderText": "Thank you for your purchase!"
                              }
                            }
                          },
                          "delivery": {
                            "paymentOnDelivery": {
                              "perUnitServicePrice": {
                                "currencyCode": "USD",
                                "amount": "14.99"
                              }
                            }
                          }
                        }
                      }
                    }
                  ],
                  "shipments": [
                    {
                      "amazonShipmentId": "SHIP901234",
                      "amazonFacility": {
                        "facilityId": "FC456"
                      },
                      "status": "SHIPPED",
                      "shipTime": "2025-04-21T15:00:00Z",
                      "deliveryTime": "2025-04-23T12:00:00Z",
                      "items": [
                        {
                          "shipmentItemId": "SI001",
                          "productIdentifier": {
                            "amazonSku": "SKU123"
                          },
                          "lineItemId": "LI789012",
                          "amount": {
                            "value": "1.0",
                            "unit": "EACHES"
                          }
                        }
                      ],
                      "packages": [
                        {
                          "packageId": "PKG-abc123def456",
                          "status": "DELIVERED",
                          "shipmentItemIds": [
                            "SI001"
                          ],
                          "tracking": {
                            "carrier": {
                              "carrierCode": "FEDEX",
                              "trackingNumber": "123456789"
                            },
                            "amazon": {
                              "trackingNumber": "123456789"
                            }
                          }
                        }
                      ]
                    }
                  ],
                  "paymentInformation": {
                    "payments": [
                      {
                        "paymentId": "PAY-12345",
                        "paymentMethod": "CREDIT_CARD",
                        "paymentTime": "2019-10-13T13:53:49Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/orders": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      },
      "get": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Retrieve a list of fulfillment orders that match the criteria you specify.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "description": "The response includes orders updated after this time. Must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.",
            "type": "string",
            "format": "date-time",
            "x-example": "2025-04-01T12:00:00Z"
          },
          {
            "in": "query",
            "name": "pageToken",
            "required": false,
            "description": "A token that you use to retrieve the next page of results. The response includes `pageToken` when the number of results exceeds the page size. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `pageToken` is `null`.",
            "type": "string",
            "x-example": "someToken"
          },
          {
            "name": "shipments",
            "in": "query",
            "description": "Whether to include shipment data in the response. Included by default.",
            "type": "string",
            "enum": [
              "INCLUDE",
              "EXCLUDE"
            ],
            "x-docgen-enum-table-extension": [
              {
                "value": "INCLUDE",
                "description": "Response schema includes shipments data. This is the default behavior."
              },
              {
                "value": "EXCLUDE",
                "description": "Response schema does not include shipments data."
              }
            ],
            "x-example": "EXCLUDE"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ListOrdersResponse"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            },
            "examples": {
              "application/json": {
                "orders": [
                  {
                    "orderId": "ABC123XYZ",
                    "channel": "SHOPIFY",
                    "receiveTime": "2025-04-21T10:30:00Z",
                    "status": "PROCESSING",
                    "statusUpdateTime": "2025-04-21T11:45:00Z",
                    "fulfillmentConfiguration": {
                      "serviceLevel": {
                        "serviceTiers": [
                          "STANDARD"
                        ]
                      },
                      "action": "HOLD",
                      "services": {
                        "packaging": {
                          "packingSlip": {
                            "templateName": "templateName",
                            "templateAttributes": {
                              "orderId": "MyOrder-123",
                              "orderTime": "2026-07-01T10:00:00Z",
                              "orderText": "Thank you for your purchase!"
                            }
                          }
                        }
                      }
                    },
                    "origin": {
                      "countryCode": "US"
                    },
                    "destination": {
                      "deliveryAddress": {
                        "name": "Shopper Name",
                        "addressLine1": "1000 Winthrop Ave N",
                        "city": "Seattle",
                        "countryCode": "US",
                        "postalCode": "98103",
                        "stateOrRegion": "WA",
                        "phone": "123-456-7890",
                        "email": "shopper@email.com"
                      }
                    },
                    "lineItems": [
                      {
                        "lineItemId": "someLineItemId",
                        "product": {
                          "productIdentifier": {
                            "amazonSku": "BOOK-123-HC"
                          },
                          "perUnitDeclaredValue": {
                            "currencyCode": "USD",
                            "amount": "14.99"
                          }
                        },
                        "amount": {
                          "unit": "EACHES",
                          "value": "1.0"
                        },
                        "fulfillmentConfiguration": {
                          "services": {
                            "packaging": {
                              "packingSlip": {
                                "templateName": "templateName",
                                "templateAttributes": {
                                  "giftMessage": "Happy Birthday!",
                                  "lineItemText": "Item 1 of 2"
                                }
                              }
                            },
                            "delivery": {
                              "paymentOnDelivery": {
                                "perUnitServicePrice": {
                                  "currencyCode": "USD",
                                  "amount": "14.99"
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  },
                  {
                    "orderId": "DEF456UVW",
                    "channel": "SHOPIFY",
                    "receiveTime": "2025-04-20T15:30:00Z",
                    "status": "COMPLETE",
                    "statusUpdateTime": "2025-04-20T18:45:00Z",
                    "fulfillmentConfiguration": {
                      "serviceLevel": {
                        "serviceTiers": [
                          "EXPEDITED"
                        ]
                      },
                      "action": "SHIP",
                      "services": {
                        "packaging": {
                          "packingSlip": {
                            "templateName": "templateName",
                            "templateAttributes": {
                              "orderId": "MyOrder-123",
                              "orderTime": "2026-07-01T10:00:00Z",
                              "orderText": "Thank you for your purchase!"
                            }
                          }
                        }
                      }
                    },
                    "origin": {
                      "countryCode": "US"
                    },
                    "destination": {
                      "deliveryAddress": {
                        "name": "Another Shopper",
                        "addressLine1": "500 Pine Street",
                        "city": "San Francisco",
                        "countryCode": "US",
                        "postalCode": "94103",
                        "stateOrRegion": "CA",
                        "phone": "987-654-3210"
                      }
                    },
                    "lineItems": [
                      {
                        "lineItemId": "anotherLineItemId",
                        "product": {
                          "productIdentifier": {
                            "amazonSku": "BOOK-123-HC"
                          },
                          "perUnitDeclaredValue": {
                            "currencyCode": "USD",
                            "amount": "14.99"
                          }
                        },
                        "amount": {
                          "unit": "EACHES",
                          "value": "2.0"
                        },
                        "cancelledAmount": {
                          "unit": "EACHES",
                          "value": "0.0"
                        },
                        "unfulfillableAmount": {
                          "unit": "EACHES",
                          "value": "0.0"
                        },
                        "fulfillmentConfiguration": {
                          "services": {
                            "packaging": {
                              "packingSlip": {
                                "templateName": "templateName",
                                "templateAttributes": {
                                  "giftMessage": "Happy Birthday!",
                                  "lineItemText": "Item 1 of 2"
                                }
                              }
                            },
                            "delivery": {
                              "paymentOnDelivery": {
                                "perUnitServicePrice": {
                                  "currencyCode": "USD",
                                  "amount": "14.99"
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                ],
                "pagination": {
                  "nextToken": "token123"
                }
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "fulfillmentOutbound",
          "fulfillmentOrders"
        ],
        "description": "Request that Amazon ship items from the seller's inventory in Amazon's fulfillment network to a destination address.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "createOrder",
        "parameters": [
          {
            "name": "x-amzn-fulfillment-service-id",
            "in": "header",
            "description": "The identifier of the fulfillment service used for this operation.",
            "required": false,
            "type": "string",
            "maxLength": 40,
            "x-example": "FS01-o8vlfw8b1tiu1"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrderRequest"
            },
            "description": "The request body schema for the `createOrder` operation.",
            "x-examples": {
              "application/json": {
                "orderId": "orderId",
                "channel": "SHOPIFY",
                "fulfillmentConfiguration": {
                  "serviceLevel": {
                    "serviceTiers": [
                      "STANDARD"
                    ]
                  },
                  "action": "HOLD",
                  "policy": "FILL_ALL_AVAILABLE",
                  "services": {
                    "packaging": {
                      "packagingOption": "UNBRANDED"
                    },
                    "additional": {}
                  }
                },
                "origin": {
                  "countryCode": "US"
                },
                "destination": {
                  "deliveryAddress": {
                    "name": "Shopper Name",
                    "addressLine1": "1000 Winthrop Ave N",
                    "city": "Seattle",
                    "countryCode": "US",
                    "postalCode": "98103",
                    "stateOrRegion": "WA",
                    "phone": "123-456-7890",
                    "email": "shopper@email.com"
                  }
                },
                "lineItems": [
                  {
                    "lineItemId": "someLineItemId",
                    "product": {
                      "productIdentifier": {
                        "amazonSku": "BOOK-123-HC"
                      },
                      "perUnitDeclaredValue": {
                        "currencyCode": "USD",
                        "amount": "14.99"
                      }
                    },
                    "amount": {
                      "unit": "EACHES",
                      "value": "1.0"
                    },
                    "fulfillmentConfiguration": {
                      "services": {
                        "packaging": {
                          "packingSlip": {
                            "templateName": "templateName",
                            "templateAttributes": {
                              "orderId": "MyOrder-123",
                              "orderTime": "2026-07-01T10:00:00Z",
                              "orderText": "Thank you for your purchase!"
                            }
                          }
                        },
                        "delivery": {
                          "paymentOnDelivery": {
                            "perUnitServicePrice": {
                              "currencyCode": "USD",
                              "amount": "14.99"
                            }
                          }
                        }
                      }
                    }
                  }
                ],
                "paymentInformation": {
                  "payments": [
                    {
                      "paymentId": "PAY-12345",
                      "paymentMethod": "CREDIT_CARD",
                      "paymentTime": "2019-10-13T13:53:49Z"
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/CreateOrderResponse"
            },
            "examples": {
              "application/json": {
                "order": {
                  "orderId": "ABC123XYZ",
                  "channel": "SHOPIFY",
                  "receiveTime": "2025-04-21T10:30:00Z",
                  "status": "PROCESSING",
                  "statusUpdateTime": "2025-04-21T11:45:00Z",
                  "fulfillmentConfiguration": {
                    "serviceLevel": {
                      "serviceTiers": [
                        "STANDARD"
                      ]
                    },
                    "action": "HOLD",
                    "policy": "FILL_ALL_AVAILABLE",
                    "services": {
                      "packaging": {
                        "packagingOption": "UNBRANDED",
                        "packingSlip": {
                          "templateName": "templateName",
                          "templateAttributes": {
                            "orderId": "MyOrder-123",
                            "orderTime": "2026-07-01T10:00:00Z",
                            "orderText": "Thank you for your purchase!"
                          }
                        }
                      },
                      "additional": {}
                    }
                  },
                  "origin": {
                    "countryCode": "US"
                  },
                  "destination": {
                    "deliveryAddress": {
                      "name": "Shopper Name",
                      "addressLine1": "1000 Winthrop Ave N",
                      "city": "Seattle",
                      "countryCode": "US",
                      "postalCode": "98103",
                      "stateOrRegion": "WA",
                      "phone": "123-456-7890",
                      "email": "shopper@email.com"
                    }
                  },
                  "lineItems": [
                    {
                      "lineItemId": "someLineItemId",
                      "product": {
                        "productIdentifier": {
                          "amazonSku": "BOOK-123-HC"
                        },
                        "perUnitDeclaredValue": {
                          "currencyCode": "USD",
                          "amount": "14.99"
                        }
                      },
                      "amount": {
                        "unit": "EACHES",
                        "value": "1.0"
                      },
                      "cancelledAmount": {
                        "unit": "EACHES",
                        "value": "0.0"
                      },
                      "unfulfillableAmount": {
                        "unit": "EACHES",
                        "value": "0.0"
                      },
                      "fulfillmentConfiguration": {
                        "services": {
                          "packaging": {
                            "packingSlip": {
                              "templateName": "templateName",
                              "templateAttributes": {
                                "orderId": "MyOrder-123",
                                "orderTime": "2026-07-01T10:00:00Z",
                                "orderText": "Thank you for your purchase!"
                              }
                            }
                          },
                          "delivery": {
                            "paymentOnDelivery": {
                              "perUnitServicePrice": {
                                "currencyCode": "USD",
                                "amount": "14.99"
                              }
                            }
                          }
                        }
                      }
                    }
                  ],
                  "paymentInformation": {
                    "payments": [
                      {
                        "paymentId": "PAY-12345",
                        "paymentMethod": "CREDIT_CARD",
                        "paymentTime": "2019-10-13T13:53:49Z"
                      }
                    ]
                  }
                }
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            }
          },
          "202": {
            "description": "Accepted.",
            "schema": {
              "$ref": "#/definitions/CreateOrderAcceptedResponse"
            },
            "examples": {
              "application/json": {
                "orderId": "ABC123XYZ",
                "status": "PROCESSING"
              }
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              },
              "x-amzn-fulfillment-service-id": {
                "type": "string",
                "description": "The identifier of the fulfillment service associated with this request."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "401": {
            "description": "The request's Authorization header is not formatted correctly or does not contain a valid token.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/fulfillment/outbound/2026-07-04/services": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      }
    },
    "/fulfillment/outbound/2026-07-04/services/{id}": {
      "x-amzn-api-sandbox": {
        "dynamic": {}
      }
    }
  },
  "definitions": {
    "Error": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "An error code that identifies the type of error that occurred."
        },
        "message": {
          "type": "string",
          "description": "A message that describes the error condition."
        },
        "details": {
          "type": "string",
          "description": "Additional details that can help the caller understand or fix the issue."
        }
      },
      "description": "Error response returned when the request is unsuccessful."
    },
    "ErrorList": {
      "type": "object",
      "description": "A list of error responses returned when a request is unsuccessful.",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "type": "array",
          "description": "array of errors",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      },
      "example": {
        "errors": [
          {
            "code": "InvalidParameterValue",
            "message": "The value 'abc' is invalid for EmailAddress.",
            "details": "The value 'abc' is invalid for EmailAddress."
          }
        ]
      }
    },
    "CancelOrderResponse": {
      "type": "object",
      "description": "The response to the `cancelOrder` operation.",
      "example": {}
    },
    "UpdateOrderResponse": {
      "type": "object",
      "description": "The response to the `updateOrder` operation.",
      "example": {}
    },
    "Decimal": {
      "type": "string",
      "description": "A decimal number with no loss of precision. Useful when precision loss is unacceptable, as with currencies. Follows [RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159) for number representation.",
      "example": "1.0"
    },
    "Timestamp": {
      "description": "Date timestamp in [ISO 8601](https://developer-docs.amazon/sp-api/docs/iso-8601) date time format.",
      "type": "string",
      "format": "date-time",
      "example": "2025-04-21T12:34:56Z"
    },
    "RollupPrice": {
      "type": "object",
      "required": [
        "type",
        "value"
      ],
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of price."
        },
        "value": {
          "$ref": "#/definitions/Money",
          "description": "The total value of a price type."
        }
      },
      "description": "A component of the total price.",
      "example": {
        "type": "MCFTransportationFee",
        "value": {
          "currencyCode": "USD",
          "amount": "4.25"
        }
      }
    },
    "EstimatedPrice": {
      "type": "object",
      "required": [
        "rollupPrices",
        "totalPrice"
      ],
      "properties": {
        "rollupPrices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RollupPrice"
          },
          "description": "A breakdown of the price associated with the delivery preview."
        },
        "totalPrice": {
          "$ref": "#/definitions/Money",
          "description": "The total price associated with the delivery preview."
        }
      },
      "description": "The estimated price information for the fulfillment order.",
      "example": {
        "rollupPrices": [
          {
            "type": "MCFTransportationFee",
            "value": {
              "currencyCode": "USD",
              "amount": "4.25"
            }
          }
        ],
        "totalPrice": {
          "currencyCode": "USD",
          "amount": "4.25"
        }
      }
    },
    "OfferDestination": {
      "type": "object",
      "properties": {
        "deliveryAddress": {
          "$ref": "#/definitions/VariablePrecisionAddress"
        },
        "ipAddress": {
          "$ref": "#/definitions/IpAddress",
          "description": "The IP address of the customer."
        }
      },
      "description": "The destination of the fulfillment.",
      "example": {
        "ipAddress": "192.168.0.1",
        "deliveryAddress": {
          "addressLine1": "1000 Winthrop Ave N",
          "addressLine2": "Floor 19",
          "addressLine3": "ATTN: Shopper",
          "city": "Seattle",
          "districtOrCounty": "None",
          "countryCode": "US",
          "postalCode": "98103",
          "stateOrRegion": "WA"
        }
      }
    },
    "PreviewDestination": {
      "type": "object",
      "required": [
        "deliveryAddress"
      ],
      "properties": {
        "deliveryAddress": {
          "$ref": "#/definitions/Address"
        }
      },
      "description": "The destination of the fulfillment.",
      "example": {
        "deliveryAddress": {
          "name": "Shopper Name",
          "addressLine1": "1000 Winthrop Ave N",
          "addressLine2": "Floor 19",
          "addressLine3": "ATTN: Shopper",
          "city": "Seattle",
          "districtOrCounty": "None",
          "countryCode": "US",
          "phone": "123-456-7890",
          "postalCode": "98103",
          "stateOrRegion": "WA",
          "email": "shopper@email.com"
        }
      }
    },
    "GetOrderPreviewRequest": {
      "type": "object",
      "required": [
        "lineItems",
        "destination"
      ],
      "properties": {
        "channel": {
          "type": "string",
          "description": "The sales channel for the fulfillment request.",
          "maxLength": 40,
          "example": "SHOPIFY"
        },
        "fulfillmentConfiguration": {
          "$ref": "#/definitions/PreviewFulfillmentConfiguration",
          "description": "Fulfillment configuration for the preview."
        },
        "origin": {
          "$ref": "#/definitions/OrderOrigin",
          "description": "The origin of the fulfillment order."
        },
        "destination": {
          "$ref": "#/definitions/PreviewDestination",
          "description": "The destination of the fulfillment."
        },
        "lineItems": {
          "type": "array",
          "description": "A list of items to include in the fulfillment preview, including quantity.",
          "items": {
            "$ref": "#/definitions/PreviewLineItem"
          }
        },
        "excludeEstimatedFees": {
          "type": "boolean",
          "description": "When `true`, excludes estimated fees from the preview response for latency optimization. Default: `false`."
        },
        "includePaymentOnDelivery": {
          "type": "boolean",
          "description": "When `true`, includes payment on delivery information in the preview response. Default: `false`."
        }
      },
      "description": "The request body schema for `getOrderPreview`.",
      "example": {
        "channel": "SHOPIFY",
        "fulfillmentConfiguration": {
          "serviceLevel": {
            "serviceTiers": [
              "STANDARD"
            ]
          },
          "services": {
            "packaging": {
              "packagingOption": "UNBRANDED"
            },
            "additional": {}
          }
        },
        "origin": {
          "countryCode": "US"
        },
        "destination": {
          "deliveryAddress": {
            "name": "Shopper Name",
            "addressLine1": "1000 Winthrop Ave N",
            "city": "Seattle",
            "countryCode": "US",
            "postalCode": "98103",
            "stateOrRegion": "WA",
            "phone": "123-456-7890",
            "email": "shopper@email.com"
          }
        },
        "lineItems": [
          {
            "product": {
              "productIdentifier": {
                "amazonSku": "someSku"
              },
              "perUnitDeclaredValue": {
                "currencyCode": "USD",
                "amount": "3.00"
              }
            },
            "amount": {
              "unit": "EACHES",
              "value": "1.0"
            }
          }
        ],
        "excludeEstimatedFees": true
      }
    },
    "CountryCode": {
      "type": "string",
      "description": "The two digit country code. In ISO 3166-1 alpha-2 format.",
      "example": "US",
      "minLength": 2,
[...]
