{
  "swagger": "2.0",
  "info": {
    "title": "The Selling Partner API for Amazon Seller Wallet Open Banking API",
    "description": "The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.",
    "termsOfService": "http://spectrum.Amazon.com/terms/",
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "2024-03-01"
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "description": "Find out more about PSD",
    "url": "https://en.wikipedia.org/wiki/Payment_Services_Directive"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Everything about Amazon Seller Wallet customer accounts"
    },
    {
      "name": "Transfer Preview",
      "description": "Access to all transfers with fees and the final amount with FX details in Amazon Seller Wallet"
    },
    {
      "name": "Transactions",
      "description": "Access to all transactions in Amazon Seller Wallet account"
    },
    {
      "name": "Transfer Schedule",
      "description": "Access to all transfer schedules in Amazon Seller Wallet account"
    }
  ],
  "paths": {
    "/finances/transfers/wallet/2024-03-01/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get all Amazon Seller Wallet accounts for the seller",
        "description": "Get all Seller Wallet accounts for a given seller.",
        "operationId": "listAccounts",
        "parameters": [
          {
            "name": "marketplaceId",
            "in": "query",
            "description": "The marketplace for which items are returned. The marketplace ID is the globally unique identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids).",
            "required": true,
            "type": "string",
            "x-example": "EU"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase200"
                      }
                    }
                  },
                  "response": {
                    "accounts" : [
                      {
                        "accountId": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ",
                        "accountHolderName": "John Doe",
                        "bankAccountNumberFormat": "BBAN",
                        "bankName": "Amazon Seller Wallet",
                        "bankAccountOwnershipType": "SELF",
                        "routingNumber": "000000000",
                        "bankNumberFormat": "BASIC",
                        "accountCountryCode": "US",
                        "accountCurrency": "USD",
                        "bankAccountNumberTail": "000",
                        "bankAccountHolderStatus": "ACTIVE"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/BankAccountListing"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing digitalSignature.",
                        "details": "Digital Signature is missing for the request"
                      },
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing wacCertificate.",
                        "details": "WAC Certificate is missing for the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedRequest",
                        "message": "Invalid WAC certificate.",
                        "details": "NCA Status for the certificate is invalid"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "BankAccount not found.",
                        "details": "BankAccount doesn't exists for USMarketplace"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "408": {
            "description": "Request Timed Out.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase408"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestTimedOut",
                        "message": "Request Timed Out",
                        "details": "Server did not respond within given SLA"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestThrottled",
                        "message": "Request Throttled",
                        "details": "Server Throttled Request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalServerError",
                        "message": "Internal Server Error",
                        "details": "Internal Server Error Occurred"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "marketplaceId": {
                        "value": "marketplaceIdCase503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Server Unavailable",
                        "details": "Server is not accepting request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/finances/transfers/wallet/2024-03-01/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find particular Amazon Seller Wallet account by Amazon account identifier",
        "description": "Retrieve an Amazon Seller Wallet bank account by Amazon account identifier.",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The ID of the Amazon Seller Wallet account.",
            "required": true,
            "type": "string",
            "x-example": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase200"
                      }
                    }
                  },
                  "response": {
                    "accountId": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ",
                    "accountHolderName": "Jane Doe",
                    "bankAccountNumberFormat": "BBAN",
                    "bankName": "Amazon Seller Wallet",
                    "bankAccountOwnershipType": "SELF",
                    "routingNumber": "000000000",
                    "bankNumberFormat": "BASIC",
                    "accountCountryCode": "US",
                    "accountCurrency": "USD",
                    "bankAccountNumberTail": "000",
                    "bankAccountHolderStatus": "ACTIVE"
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/BankAccount"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing digitalSignature.",
                        "details": "Digital Signature is missing for the request"
                      },
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing wacCertificate.",
                        "details": "WAC certificate is missing for the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedRequest",
                        "message": "Invalid WAC certificate.",
                        "details": "NCA Status for the certificate is invalid"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "BankAccount not found.",
                        "details": "BankAccount doesn't exists for InvalidAccountId"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "408": {
            "description": "Request Timed Out.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase408"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestTimedOut",
                        "message": "Request Timed Out",
                        "details": "Server did not respond within given SLA"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestThrottled",
                        "message": "Request Throttled",
                        "details": "Server Throttled Request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalServerError",
                        "message": "Internal Server Error",
                        "details": "Internal Server Error Occurred"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Server Unavailable",
                        "details": "Server is not accepting request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/finances/transfers/wallet/2024-03-01/accounts/{accountId}/balance": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Find balance in particular Amazon Seller Wallet account by Amazon account identifier",
        "description": "Retrieve the balance in a given Amazon Seller Wallet bank account.",
        "operationId": "listAccountBalances",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "The ID of the Amazon Seller Wallet account.",
            "required": true,
            "type": "string",
            "x-example": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase200"
                      }
                    }
                  },
                  "response": {
                    "balances": [
                      {
                        "accountId": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ",
                        "balanceType": "AVAILABLE",
                        "balanceAmount": 123.45,
                        "balanceCurrency": "USD",
                        "lastUpdateDate": "2024-03-01T10:30:00Z"
                      },
                      {
                        "accountId": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ",
                        "balanceType": "LOCKED_IN",
                        "balanceAmount": 500.00,
                        "balanceCurrency": "USD",
                        "lastUpdateDate": "2024-03-01T10:30:00Z"
                      },
                      {
                        "accountId": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ",
                        "balanceType": "TOTAL",
                        "balanceAmount": 623.45,
                        "balanceCurrency": "USD",
                        "lastUpdateDate": "2024-03-01T10:30:00Z"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/BalanceListing"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing wacCertificate.",
                        "details": "WAC certificate is missing for the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedRequest",
                        "message": "Invalid WAC certificate.",
                        "details": "NCA Status for the certificate is invalid"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "BankAccount not found.",
                        "details": "BankAccount doesn't exists for InvalidAccountId"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "408": {
            "description": "Request Timed Out.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase408"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestTimedOut",
                        "message": "Request Timed Out",
                        "details": "Server did not respond within given SLA"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestThrottled",
                        "message": "Request Throttled",
                        "details": "Server Throttled Request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalServerError",
                        "message": "Internal Server Error",
                        "details": "Internal Server Error Occurred"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "accountIdCase503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Server Unavailable",
                        "details": "Server is not accepting request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/finances/transfers/wallet/2024-03-01/transferPreview": {
      "get": {
        "tags": [
          "Transfer Preview"
        ],
        "summary": "Fetch potential fees that could be applied on a transaction on the basis of the source and destination country currency code",
        "description": "Retrieve a list of potential fees on a transaction.",
        "operationId": "getTransferPreview",
        "parameters": [
          {
            "name": "sourceCountryCode",
            "in": "query",
            "description": "Country code of the source transaction account in ISO 3166 format.",
            "required": true,
            "type": "string",
            "x-example": "US"
          },
          {
            "name": "sourceCurrencyCode",
            "in": "query",
            "description": "Currency code of the source transaction country in ISO 4217 format.",
            "required": true,
            "type": "string",
            "x-example": "USD"
          },
          {
            "name": "destinationCountryCode",
            "in": "query",
            "description": "Country code of the destination transaction account in ISO 3166 format.",
            "required": true,
            "type": "string",
            "x-example": "FR"
          },
          {
            "name": "destinationCurrencyCode",
            "in": "query",
            "description": "Currency code of the destination transaction country in ISO 4217 format.",
            "required": true,
            "type": "string",
            "x-example": "EUR"
          },
          {
            "name": "baseAmount",
            "in": "query",
            "description": "The base transaction amount without any markup fees.",
            "required": true,
            "type": "number",
            "x-example": 1000.0
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "EU"
                      },
                      "sourceCurrencyCode": {
                        "value": "EUR"
                      },
                      "destinationCountryCode": {
                        "value": "CN"
                      },
                      "destinationCurrencyCode": {
                        "value": "CNY"
                      },
                      "baseAmount": {
                        "value": 500.00
                      }
                    }
                  },
                  "response": {
                    "baseAmount": {
                      "currencyCode": "EUR",
                      "currencyAmount": 500.00
                    },
                    "fxRateDetails": {
                      "fxRateId": "UNIQUE_FX_RATE_ID_1",
                      "baseRate": 7.6915,
                      "effectiveFxRate": 7.6084,
                      "rateDirection": "BUY"
                    },
                    "transferAmount": {
                      "currencyCode": "CNY",
                      "currencyAmount": 3804.20
                    },
                    "fees": [
                      {
                        "feeId": "Unique_FeeId_001",
                        "feeType": "TRANSACTION_FEE",
                        "feeRateValue": 0.9,
                        "feeAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 4.50
                        }
                      },
                      {
                        "feeId": "Unique_FeeId_002",
                        "feeType": "TAX",
                        "feeRateValue": 20.0,
                        "feeAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 0.90
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/TransferRatePreview"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "AP"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing Input Parameter.",
                        "details": "Invalid sourceCountryCode"
                      },
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing Input Parameter.",
                        "details": "Missing destinationCurrencyCode"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "US"
                      },
                      "destinationCountryCode": {
                        "value": "US"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedRequest",
                        "message": "Invalid WAC certificate.",
                        "details": "NCA Status for the certificate is invalid"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "US"
                      },
                      "sourceCurrencyCode": {
                        "value": "USD"
                      },
                      "destinationCountryCode": {
                        "value": "US"
                      },
                      "destinationCurrencyCode": {
                        "value": "USD"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "BankAccount not found.",
                        "details": "BankAccount doesn't exists for InvalidAccountId"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "408": {
            "description": "Request Timed Out.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "US"
                      },
                      "destinationCountryCode": {
                        "value": "HK"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestTimedOut",
                        "message": "Request Timed Out",
                        "details": "Server did not respond in time"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "HK"
                      },
                      "destinationCountryCode": {
                        "value": "HK"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestThrottled",
                        "message": "Request Throttled",
                        "details": "Server throttled the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "EU"
                      },
                      "destinationCountryCode": {
                        "value": "EU"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalServerError",
                        "message": "Internal Server Error",
                        "details": "Internal Server Error Occurred"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "sourceCountryCode": {
                        "value": "CN"
                      },
                      "destinationCountryCode": {
                        "value": "CN"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Server Unavailable",
                        "details": "Server is not accepting request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/finances/transfers/wallet/2024-03-01/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction request date",
        "description": "Retrieve a list of transactions for a given Amazon Seller Wallet bank account.",
        "operationId": "listAccountTransactions",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "type": "string",
            "description": "The ID of the Amazon Seller Wallet account.",
            "required": true,
            "x-example": "amzn1.account.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ"
          },
          {
            "name": "nextPageToken",
            "in": "query",
            "description": "A token that you use to retrieve the next page of results. The response includes `nextPageToken` when the number of results exceeds 100. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextPageToken` is null. Note that this operation can return empty pages.",
            "required": false,
            "type": "string",
            "x-example": "Next Page Token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase200"
                      }
                    }
                  },
                  "response": {
                    "nextPageToken" : "3493805734095308457308475",
                    "transactions" : [ {
                      "transactionId" : "amzn.transaction.AKJBNEFNL23R84V",
                      "transactionType" : "DEBIT",
                      "transactionStatus" : "PAYEE_UNDER_REVIEW",
                      "transactionRequestDate" : "2023-09-26T02:32:59.787Z",
                      "expectedCompletionDate" : "2023-09-26T02:32:59.787Z",
                      "transactionActualCompletionDate" : "2023-09-26T02:32:59.787Z",
                      "lastUpdateDate" : "2023-09-26T02:32:59.787Z",
                      "requesterName" : "TppOrgId",
                      "transactionRequesterSource" : "TPP",
                      "transactionDescription" : "Test transaction request",
                      "transactionSourceAccount" : {
                        "accountId" : "sourceAccountIdCase200",
                        "bankAccountHolderName" : "John Doe",
                        "bankName" : "Amazon Seller Wallet",
                        "bankAccountNumberFormat" : "IBAN",
                        "bankAccountNumberTail" : "123",
                        "bankAccountCurrency" : "GBP"
                      },
                      "transactionDestinationAccount" : {
                        "bankAccountHolderName" : "Dane Shipping",
                        "bankName" : "Royal Bank of Scotland",
                        "bankAccountNumberFormat" : "IBAN",
                        "bankAccountNumberTail" : "819",
                        "bankAccountCurrency" : "GBP",
                        "bankAccountCountryCode" : "UK"
                      },
                      "transactionRequestAmount" : {
                        "currencyCode" : "EUR",
                        "currencyAmount" : 500.00
                      },
                      "transferRateDetails" : {
                        "baseAmount": {
                          "currencyCode": "EUR",
                          "currencyAmount": 500.00
                        },
                        "fxRateDetails": {
                          "fxRateId": "UNIQUE_FX_RATE_ID_1",
                          "baseRate": 7.6915,
                          "effectiveFxRate": 7.6084,
                          "rateDirection": "BUY"
                        },
                        "transferAmount": {
                          "currencyCode": "CNY",
                          "currencyAmount": 3804.20
                        },
                        "fees": [
                          {
                            "feeId": "Unique_FeeId_001",
                            "feeType": "TRANSACTION_FEE",
                            "feeRateValue": 0.9,
                            "feeAmount": {
                              "currencyCode": "EUR",
                              "currencyAmount": 4.50
                            }
                          },
                          {
                            "feeId": "Unique_FeeId_002",
                            "feeType": "TAX",
                            "feeRateValue": 20.0,
                            "feeAmount": {
                              "currencyCode": "EUR",
                              "currencyAmount": 0.90
                            }
                          }
                        ]
                      },
                      "transactionFinalAmount" : {
                        "currencyCode" : "CNY",
                        "currencyAmount" : 3804.20
                      }
                    } ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/TransactionListing"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase400"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing wacCertificate.",
                        "details": "WAC certificate is missing for the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase403"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedRequest",
                        "message": "Invalid WAC certificate.",
                        "details": "NCA Status for the certificate is invalid"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase404"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "BankAccount not found.",
                        "details": "BankAccount doesn't exists for InvalidAccountId"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "408": {
            "description": "Request Timed Out.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase408"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestTimedOut",
                        "message": "Request Timed Out",
                        "details": "Server did not respond in time"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase429"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestThrottled",
                        "message": "Request Throttled",
                        "details": "Server throttled the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase500"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalServerError",
                        "message": "Internal Server Error",
                        "details": "Internal Server Error Occurred"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "accountId": {
                        "value": "sourceAccountIdCase503"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Server Unavailable",
                        "details": "Server is not accepting request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create a transaction request from Amazon Seller Wallet account to another customer-provided account",
        "description": "Create a transaction request from an Amazon Seller Wallet account to another customer-provided account.",
        "operationId": "createTransaction",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The payload of the request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransactionInitiationRequest"
            }
          },
          {
            "name": "destAccountDigitalSignature",
            "in": "header",
            "description": "Digital signature for the destination bank account details.",
            "required": true,
            "type": "string",
            "x-example": "U8AsRXdh5fvjozFIv6vRUal1EHdFHhrCArIgmWbPtW0HuTlN_LPteg8G8tbvF4QmoRekOO84nQxg8j4gs0wEyAktg2Sm80a_FaTswv-U8XUXGHZ1UBagGD9zEPrGBbia_N5gm4fCOW-V3mSieblwBiUyq8frUYL606WtuStHtE3zJgaj9-B1ObhudxxQALuBKjPeksc7-qyrT8lwchdkiaprNwsqpv3aKid7Ux3uwEzxiEedO3QWvv6nCZnNNxK-zz2Zj6tPDE_mgQk5tJv4xRgMxtcTMmr7_ce4A9wqRxQqwBerIHpOIzpZizmXAG56uG8-hJojmPwnsPif7ihMuw"
          },
          {
            "name": "amountDigitalSignature",
            "in": "header",
            "description": "Digital signature for the source currency transaction amount.",
            "required": true,
            "type": "string",
            "x-example": "1EHdFHhrCArIgmWbPtW0HuTlN_LPteg8G8tbvF4QmoRekOO84nQxg8j4gs0wEyAktg2Sm80a_FaTswv-U8XUXGHZ1UBagGD9zEPrGBbia_N5gm4fCOW-qyrT8lwchdkiaprNwsqpv3aKid7Ux3uwEzxiEedO3QWvv6nCZnNNxK-zz2Zj6tPDE_mgQk5tJv4xRgMxtcTMmr7"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase200",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "Joane Packaging Ltd",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market Street",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "transactionId" : "amzn.transaction.ALNR19JCVWLN3E",
                    "transactionType" : "DEBIT",
                    "transactionStatus" : "PAYEE_UNDER_REVIEW",
                    "transactionRequestDate" : "2023-09-26T02:32:59.787Z",
                    "expectedCompletionDate" : "2023-09-26T02:32:59.787Z",
                    "transactionActualCompletionDate" : "2023-09-30T02:32:59.787Z",
                    "lastUpdateDate" : "2023-09-26T02:32:59.787Z",
                    "requesterName" : "TppOrgId",
                    "transactionRequesterSource" : "TPP",
                    "transactionDescription" : "Test transaction request",
                    "transactionSourceAccount" : {
                      "accountId" : "sourceAccountIdCase200",
                      "bankAccountHolderName" : "John Doe",
                      "bankName" : "Amazon Seller Wallet",
                      "bankAccountNumberFormat" : "IBAN",
                      "bankAccountCurrency" : "GBP"
                    },
                    "transactionDestinationAccount" : {
                      "bankAccountHolderName" : "Johnny Packaging",
                      "bankName" : "Royal Bank of Scotland",
                      "bankAccountNumberFormat" : "IBAN",
                      "bankAccountNumberTail" : "819",
                      "bankAccountCurrency" : "GBP",
                      "bankAccountCountryCode" : "EU"
                    },
                    "transactionRequestAmount" : {
                      "currencyCode" : "EUR",
                      "currencyAmount" : 500.00
                    },
                    "transferRateDetails" : {
                      "baseAmount": {
                        "currencyCode": "EUR",
                        "currencyAmount": 500.00
                      },
                      "fxRateDetails": {
                        "fxRateId": "UNIQUE_FX_RATE_ID_1",
                        "baseRate": 7.6915,
                        "effectiveFxRate": 7.6084,
                        "rateDirection": "BUY"
                      },
                      "transferAmount": {
                        "currencyCode": "CNY",
                        "currencyAmount": 3804.20
                      },
                      "fees": [
                        {
                          "feeId": "Unique_FeeId_001",
                          "feeType": "TRANSACTION_FEE",
                          "feeRateValue": 0.9,
                          "feeAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 4.50
                          }
                        },
                        {
                          "feeId": "Unique_FeeId_002",
                          "feeType": "TAX",
                          "feeRateValue": 20.0,
                          "feeAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 0.90
                          }
                        }
                      ]
                    },
                    "transactionFinalAmount" : {
                      "currencyCode" : "CNY",
                      "currencyAmount" : 3804.20
                    }
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/Transaction"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase400",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "Johnny Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market Street",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InvalidInput",
                        "message": "Invalid or Missing signature.",
                        "details": "Missing addressDigitalSignature"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase403",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "Johnny Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market Street",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "UnauthorizedRequest",
                        "message": "Invalid WAC certificate.",
                        "details": "NCA Status for the certificate is invalid"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase404",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "John Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market Street",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "NotFound",
                        "message": "BankAccount not found.",
                        "details": "BankAccount doesn't exists for invalid SourceAccountId"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RateLimit-Limit": {
                "type": "string",
                "description": "Your rate limit (requests per second) for this operation."
              },
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "408": {
            "description": "Request Timed Out.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase408",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "John Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market St",
                            "addressLine2": "Unit 101",
                            "city": "City of Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestTimedOut",
                        "message": "Request Timed Out",
                        "details": "Server did not respond in time"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "422": {
            "description": "The request was well-formed (i.e., syntactically correct) but could not be processed because of some restrictions like insufficient funds, transaction limit breach, etc.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase422",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "John Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market St",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InsufficientBalance",
                        "message": "Insufficient Balance",
                        "details": "Insufficient Balance"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase429",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "John Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market St",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "RequestThrottled",
                        "message": "Request Throttled",
                        "details": "Server throttled the request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase500",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "John Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market St",
                            "addressLine2": "Unit 101",
                            "city": "Edinburgh",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "InternalServerError",
                        "message": "Internal Server Error",
                        "details": "Internal Server Error Occurred"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body":{
                        "value": {
                          "sourceAccountId":"sourceAccountIdCase503",
                          "destinationTransactionInstrument": {
                            "bankAccount": {
                              "accountHolderName": "John Doe",
                              "bankAccountNumberFormat": "IBAN",
                              "bankName": "Royal Bank of Scotland",
                              "bankAccountOwnershipType": "THIRD_PARTY",
                              "routingNumber": "RBOSGB2L",
                              "bankNumberFormat": "BASIC",
                              "accountCountryCode": "GB",
                              "accountCurrency": "GBP",
                              "bankAccountNumberTail": "819"
                            },
                            "bankAccountNumber": "GB29RBOS60161331926819"
                          },
                          "destinationAccountHolderAddress": {
                            "addressLine1": "4 East Market St",
                            "city": "Edinburgh",
                            "addressLine2": "Unit 101",
                            "state": "Alba",
                            "postalCode": "EH88BG",
                            "country": "United Kingdom",
                            "countryCode": "UK"
                          },
                          "sourceAmount": {
                            "currencyCode": "EUR",
                            "currencyAmount": 1000.0
                          },
                          "requestTime": "2023-09-26T01:21:53.002Z"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "ServiceUnavailable",
                        "message": "Server Unavailable",
                        "details": "Server is not accepting request"
                      }
                    ]
                  }
                }
              ]
            },
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "type": "string",
                "description": "Unique request reference identifier."
              }
            }
          }
        }
      }
    },
    "/finances/transfers/wallet/2024-03-01/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier",
        "description": "Find a transaction by the Amazon transaction identifier.",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "The ID of the Amazon Seller Wallet transaction.",
            "required": true,
            "type": "string",
            "x-example": "amzn1.transaction.AGUGL2EM3ZHYSRJWH2UCRPIM5JFQ"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "transactionId": {
                        "value": "transactionIdCase200"
                      }
                    }
                  },
                  "response": {
                    "transactionId" : "amzn.transaction.AKJBNEFNL23R84V",
                    "transactionType" : "DEBIT",
                    "transactionStatus" : "PAYEE_UNDER_REVIEW",
                    "transactionRequestDate" : "2023-09-26T02:32:59.787Z",
                    "expectedCompletionDate" : "2023-09-26T02:32:59.787Z",
                    "transactionActualCompletionDate" : "2023-09-26T02:32:59.787Z",
                    "lastUpdateDate" : "2023-09-26T02:32:59.787Z",
                    "requesterName" : "TppOrgId",
                    "transactionRequesterSource" : "TPP",
                    "transactionDescription" : "Test transaction request",
                    "transactionSourceAccount" : {
                      "accountId" : "sourceAccountIdCase200",
                      "bankAccountHolderName" : "John Doe",
                      "bankName" : "Amazon Seller Wallet",
                      "bankAccountNumberFormat" : "IBAN",
                      "bankAccountNumberTail" : "123",
                      "bankAccountCurrency" : "GBP"
                    },
                    "transactionDestinationAccount" : {
                      "bankAccountHolderName" : "Dane Shipping",
                      "bankName" : "Royal Bank of Scotland",
                      "bankAccountNumberFormat" : "IBAN",
                      "bankAccountNumberTail" : "819",
                      "bankAccountCurrency" : "GBP",
                      "bankAccountCountryCode" : "EU"
                    },
                    "transactionRequestAmount" : {
                      "currencyCode" : "EUR",
                      "currencyAmount" : 500.00
                    },
                    "transferRateDetails" : {
                      "baseAmount": {
                        "currencyCode": "EUR",
                        "currencyAmount": 500.00
                      },
                      "fxRateDetails": {
                        "fxRateId": "UNIQUE_FX_RATE_ID_1",
                        "baseRate": 7.6915,
                        "effectiveFxRate": 7.6084,
                        "rateDirection": "BUY"
                      },
                      "transferAmount": {
                        "currencyCode": "CNY",
                        "currencyAmount": 3804.20
                      },
                      "fees": [
                        {
                          "feeId": "Unique_FeeId_001",
                          "feeType": "TRANSACTION_FEE",
                          "feeRateValue": 0.9,
                          "feeAmount": {
[...]
