# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '5 * * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: write

    steps:
    - uses: actions/stale@v9
      with:
        days-before-issue-stale: 30
        days-before-issue-close: 8
        close-issue-message: 'closed for inactivity'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is scheduled to close soon. If you are still encountering problems, please feel free to open a new issue and make a reference to this one.'
        stale-issue-label: 'closing soon'
        operations-per-run: 1000
        only-labels: 'answered'

