{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Selling Partner API Developer Support",
      "url": "https://sellercentral.amazon.com/gp/mws/contactus.html"
    },
    "description": "The Selling Partner API for Fulfillment By Amazon (FBA) Inbound. The FBA Inbound API enables building inbound workflows to create, manage, and send shipments into Amazon's fulfillment network. The API has interoperability with the Send-to-Amazon user interface.",
    "license": {
      "name": "Apache License 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "title": "The Selling Partner API for FBA inbound operations.",
    "version": "2024-03-20"
  },
  "host": "sellingpartnerapi-na.amazon.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/inbound/fba/2024-03-20/inboundPlans": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The number of inbound plans to return in the response matching the given query.",
            "in": "query",
            "maximum": 30,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          },
          {
            "description": "The status of an inbound plan.",
            "enum": [
              "ACTIVE",
              "VOIDED",
              "SHIPPED"
            ],
            "in": "query",
            "name": "status",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "value": "ACTIVE",
                "description": "An inbound plan that is being worked on."
              },
              {
                "value": "VOIDED",
                "description": "An inbound plan with all shipment cancelled and can no longer be modified."
              },
              {
                "value": "SHIPPED",
                "description": "A completed inbound plan. Only minor modifications can be made at this time."
              }
            ]
          },
          {
            "description": "Sort by field.",
            "enum": [
              "LAST_UPDATED_TIME",
              "CREATION_TIME"
            ],
            "in": "query",
            "name": "sortBy",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "value": "LAST_UPDATED_TIME",
                "description": "Last updated time of the inbound plan."
              },
              {
                "value": "CREATION_TIME",
                "description": "Inbound plan creation time."
              }
            ]
          },
          {
            "description": "The sort order.",
            "enum": [
              "ASC",
              "DESC"
            ],
            "in": "query",
            "name": "sortOrder",
            "type": "string",
            "x-docgen-enum-table-extension": [
              {
                "value": "ASC",
                "description": "Ascending order."
              },
              {
                "value": "DESC",
                "description": "Descending order."
              }
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "ListInboundPlans 200 response",
            "schema": {
              "$ref": "#/definitions/ListInboundPlansResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "status": {
                        "value": "ACTIVE"
                      },
                      "sortBy": {
                        "value": "LAST_UPDATED_TIME"
                      },
                      "sortOrder": {
                        "value": "ASC"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "inboundPlans": [
                      {
                        "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                        "name": "FBA (03/08/2023, 01:15 PM)",
                        "createdAt": "2023-03-08T13:15:30Z",
                        "lastUpdatedAt": "2023-03-08T13:15:30Z",
                        "status": "ACTIVE",
                        "marketplaceIds": [
                          "A2EUQ1WTGCTBG2"
                        ],
                        "sourceAddress": {
                          "name": "name",
                          "companyName": "Acme",
                          "addressLine1": "123 example street",
                          "addressLine2": "Unit 102",
                          "city": "Toronto",
                          "countryCode": "CA",
                          "stateOrProvinceCode": "ON",
                          "postalCode": "M1M1M1",
                          "phoneNumber": "1234567890",
                          "email": "email@email.com"
                        }
                      },
                      {
                        "inboundPlanId": "wf2234abcd-1234-abcd-5678-1234abcd5678",
                        "name": "FBA (03/08/2023, 01:15 PM)",
                        "createdAt": "2023-03-08T13:15:30Z",
                        "lastUpdatedAt": "2023-03-08T13:15:30Z",
                        "status": "ACTIVE",
                        "marketplaceIds": [
                          "A2EUQ1WTGCTBG2"
                        ],
                        "sourceAddress": {
                          "name": "name",
                          "companyName": "Acme",
                          "addressLine1": "123 example street",
                          "addressLine2": "Unit 102",
                          "city": "Toronto",
                          "countryCode": "CA",
                          "stateOrProvinceCode": "ON",
                          "postalCode": "M1M1M1",
                          "phoneNumber": "1234567890",
                          "email": "email@email.com"
                        }
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "status": {
                        "value": "badStatus"
                      },
                      "sortBy": {
                        "value": "LAST_UPDATED_TIME"
                      },
                      "sortOrder": {
                        "value": "ASC"
                      },
                      "pageSize": {
                        "value": 5
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The status is invalid."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Provides a list of inbound plans with minimal information.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listInboundPlans"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateInboundPlanRequest"
            },
            "description": "The body of the request to `createInboundPlan`."
          }
        ],
        "responses": {
          "202": {
            "description": "CreateInboundPlan 202 response",
            "schema": {
              "$ref": "#/definitions/CreateInboundPlanResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "name": "FBA (03/20/2024, 12:01 PM)",
                          "sourceAddress": {
                            "name": "name",
                            "companyName": "Acme",
                            "addressLine1": "123 example street",
                            "addressLine2": "Unit 102",
                            "city": "Toronto",
                            "countryCode": "CA",
                            "stateOrProvinceCode": "ON",
                            "postalCode": "M1M1M1",
                            "phoneNumber": "1234567890",
                            "email": "email@email.com"
                          },
                          "destinationMarketplaces": [
                            "A2EUQ1WTGCTBG2"
                          ],
                          "items": [
                            {
                              "msku": "msku",
                              "prepOwner": "AMAZON",
                              "labelOwner": "AMAZON",
                              "quantity": 2,
                              "expiration": "2024-01-01",
                              "manufacturingLotCode": "lotCode"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "body": {
                        "value": {
                          "name": "FBA (03/20/2024, 12:01 PM)",
                          "sourceAddress": {
                            "name": "name",
                            "companyName": "Acme",
                            "addressLine1": "123 example street",
                            "addressLine2": "Unit 102",
                            "city": "Toronto",
                            "countryCode": "CA",
                            "stateOrProvinceCode": "ON",
                            "postalCode": "M1M1M1",
                            "phoneNumber": "1234567890",
                            "email": "email@email.com"
                          },
                          "destinationMarketplaces": [
                            "badMarketplace"
                          ],
                          "items": [
                            {
                              "msku": "msku",
                              "prepOwner": "AMAZON",
                              "labelOwner": "AMAZON",
                              "quantity": 2,
                              "expiration": "2024-01-01",
                              "manufacturingLotCode": "lotCode"
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "Invalid destinationMarketplace provided."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Creates an inbound plan. An inbound plan contains all the necessary information to send shipments into Amazon's fufillment network.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "createInboundPlan"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "GetInboundPlan 200 response",
            "schema": {
              "$ref": "#/definitions/InboundPlan"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "inboundPlanId": "wf1234abcd-1234-abcd-5678-1234abcd5678",
                    "name": "FBA (03/20/2024, 12:01 PM)",
                    "createdAt": "2024-03-20T12:01:00Z",
                    "lastUpdatedAt": "2024-03-28T13:15:30Z",
                    "status": "ACTIVE",
                    "marketplaceIds": [
                      "A2EUQ1WTGCTBG2"
                    ],
                    "packingOptions": [],
                    "placementOptions": [],
                    "shipments": [],
                    "sourceAddress": {
                      "name": "name",
                      "companyName": "Acme",
                      "addressLine1": "123 example street",
                      "addressLine2": "Unit 102",
                      "city": "Toronto",
                      "countryCode": "CA",
                      "stateOrProvinceCode": "ON",
                      "postalCode": "M1M1M1",
                      "phoneNumber": "1234567890",
                      "email": "email@email.com"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The inboundPlanId is malformed."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Fetches the top level information about an inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "getInboundPlan"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/boxes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of boxes to return in the response matching the given query.",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListInboundPlanBoxes 200 response",
            "schema": {
              "$ref": "#/definitions/ListInboundPlanBoxesResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "boxes": [
                      {
                        "packageId": "pk1234abcd-1234-abcd-5678-1234abcd5678",
                        "weight": {
                          "unit": "KG",
                          "value": 5.5
                        },
                        "dimensions": {
                          "unitOfMeasurement": "CM",
                          "length": 3.0,
                          "width": 4.0,
                          "height": 5.0
                        },
                        "quantity": 2,
                        "boxId": "boxId",
                        "templateName": "templateName",
                        "items": [
                          {
                            "quantity": 5,
                            "expiration": "2024-01-01",
                            "manufacturingLotCode": "manufacturingLotCode",
                            "prepInstructions": [
                              {
                                "prepType": "ITEM_POLYBAGGING",
                                "prepOwner": "AMAZON",
                                "fee": {
                                  "code": "USD",
                                  "amount": 10.0
                                }
                              }
                            ],
                            "msku": "msku",
                            "asin": "asin",
                            "fnsku": "fnsku",
                            "labelOwner": "AMAZON"
                          }
                        ],
                        "destinationRegion": {
                          "countryCode": "US",
                          "state": "CA",
                          "warehouseId": "ABC1"
                        },
                        "contentInformationSource": "BOX_CONTENT_PROVIDED",
                        "externalContainerIdentifier": "001962990007752988",
                        "externalContainerIdentifierType": "SSCC"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inboundPlanId does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Provides a paginated list of box packages in an inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listInboundPlanBoxes"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/cancellation": {
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "CancelInboundPlan 202 response",
            "schema": {
              "$ref": "#/definitions/CancelInboundPlanResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The inbound plan is already cancelled."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Cancels an Inbound Plan. Charges may apply if the cancellation is performed outside of a void window. The window for Amazon Partnered Carriers is 24 hours for Small Parcel Delivery (SPD) and one hour for Less-Than-Truckload (LTL) carrier shipments.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "cancelInboundPlan"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of items to return in the response matching the given query.",
            "in": "query",
            "maximum": 1000,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListInboundPlanItems 200 response",
            "schema": {
              "$ref": "#/definitions/ListInboundPlanItemsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "items": [
                      {
                        "quantity": 5,
                        "expiration": "2024-01-01",
                        "manufacturingLotCode": "manufacturingLotCode",
                        "prepInstructions": [
                          {
                            "prepType": "ITEM_POLYBAGGING",
                            "prepOwner": "AMAZON",
                            "fee": {
                              "code": "USD",
                              "amount": 10.0
                            }
                          }
                        ],
                        "msku": "msku",
                        "asin": "asin",
                        "fnsku": "fnsku",
                        "labelOwner": "AMAZON"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 1
                      },
                      "paginationToken": {
                        "value": ""
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inbound plan does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Provides a paginated list of item packages in an inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 6 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listInboundPlanItems"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/name": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateInboundPlanNameRequest"
            },
            "description": "The body of the request to `updateInboundPlanName`."
          }
        ],
        "responses": {
          "204": {
            "description": "UpdateInboundPlanName 204 response",
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "name": "updatedInboundPlanName"
                        }
                      }
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wfbad4abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "name": "name"
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested inbound plan does not exist."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Updates the name of an existing inbound plan.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "updateInboundPlanName"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingGroups/{packingGroupId}/boxes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Identifier of a packing group.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "packingGroupId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of packing group boxes to return in the response matching the given query.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListPackingGroupBoxes 200 response",
            "schema": {
              "$ref": "#/definitions/ListPackingGroupBoxesResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "pg1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "boxes": [
                      {
                        "packageId": "pk1234abcd-1234-abcd-5678-1234abcd5678",
                        "weight": {
                          "unit": "KG",
                          "value": 5.5
                        },
                        "dimensions": {
                          "unitOfMeasurement": "CM",
                          "length": 3.0,
                          "width": 4.0,
                          "height": 5.0
                        },
                        "quantity": 2,
                        "boxId": "boxId",
                        "templateName": "templateName",
                        "items": [
                          {
                            "quantity": 5,
                            "expiration": "2024-01-01",
                            "manufacturingLotCode": "manufacturingLotCode",
                            "prepInstructions": [
                              {
                                "prepType": "ITEM_POLYBAGGING",
                                "prepOwner": "AMAZON",
                                "fee": {
                                  "code": "USD",
                                  "amount": 10.0
                                }
                              }
                            ],
                            "msku": "msku",
                            "asin": "asin",
                            "fnsku": "fnsku",
                            "labelOwner": "AMAZON"
                          }
                        ],
                        "destinationRegion": {
                          "countryCode": "US",
                          "state": "CA",
                          "warehouseId": "ABC1"
                        },
                        "contentInformationSource": "BOX_CONTENT_PROVIDED",
                        "externalContainerIdentifier": "001962990007752988",
                        "externalContainerIdentifierType": "SSCC"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingGroupId does not exist for the specified inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Retrieves a page of boxes from a given packing group. These boxes were previously provided through the `setPackingInformation` operation. This API is used for workflows where boxes are packed before Amazon determines shipment splits.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listPackingGroupBoxes"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingGroups/{packingGroupId}/items": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Identifier of a packing group.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "packingGroupId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of packing group items to return in the response matching the given query.",
            "in": "query",
            "maximum": 100,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListPackingGroupItems 200 response",
            "schema": {
              "$ref": "#/definitions/ListPackingGroupItemsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "pg1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "items": [
                      {
                        "quantity": 5,
                        "prepInstructions": [
                          {
                            "prepType": "ITEM_POLYBAGGING",
                            "prepOwner": "AMAZON",
                            "fee": {
                              "code": "USD",
                              "amount": 10.0
                            }
                          }
                        ],
                        "msku": "msku",
                        "asin": "asin",
                        "fnsku": "fnsku",
                        "labelOwner": "AMAZON"
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "packingGroupId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingGroupId does not exist for the specified inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Retrieves a page of items in a given packing group. Packing options must first be generated by the corresponding operation before packing group items can be listed.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 30 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "listPackingGroupItems"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingInformation": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetPackingInformationRequest"
            },
            "description": "The body of the request to `setPackingInformation`."
          }
        ],
        "responses": {
          "202": {
            "description": "SetPackingInformation 202 response",
            "schema": {
              "$ref": "#/definitions/SetPackingInformationResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "packageGroupings": [
                            {
                              "shipmentId": "sh1234abcd-1234-abcd-5678-1234abcd5678",
                              "packingGroupId": "pg1234abcd-1234-abcd-5678-1234abcd5678",
                              "boxes": [
                                {
                                  "items": [
                                    {
                                      "msku": "msku",
                                      "quantity": 5,
                                      "expiration": "2024-01-01",
                                      "prepOwner": "AMAZON",
                                      "labelOwner": "AMAZON",
                                      "manufacturingLotCode": "manufacturingLotCode"
                                    }
                                  ],
                                  "contentInformationSource": "BOX_CONTENT_PROVIDED",
                                  "weight": {
                                    "unit": "KG",
                                    "value": 5.5
                                  },
                                  "dimensions": {
                                    "unitOfMeasurement": "CM",
                                    "length": 3.0,
                                    "width": 4.0,
                                    "height": 5.0
                                  },
                                  "quantity": 2
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "operationId": "1234abcd-1234-abcd-5678-1234abcd5678"
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Request has missing or invalid parameters and cannot be parsed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "bad234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "body": {
                        "value": {
                          "packageGroupings": [
                            {
                              "shipmentId": "sh1234abcd-1234-abcd-5678-1234abcd5678",
                              "packingGroupId": "bad234abcd-1234-abcd-5678-1234abcd5678",
                              "boxes": [
                                {
                                  "items": [
                                    {
                                      "msku": "msku",
                                      "quantity": 5,
                                      "expiration": "2024-01-01",
                                      "prepOwner": "AMAZON",
                                      "labelOwner": "AMAZON",
                                      "manufacturingLotCode": "manufacturingLotCode"
                                    }
                                  ],
                                  "contentInformationSource": "BOX_CONTENT_PROVIDED",
                                  "weight": {
                                    "unit": "KG",
                                    "value": 5.5
                                  },
                                  "dimensions": {
                                    "unitOfMeasurement": "CM",
                                    "length": 3.0,
                                    "width": 4.0,
                                    "height": 5.0
                                  },
                                  "quantity": 2
                                }
                              ]
                            }
                          ]
                        }
                      }
                    }
                  },
                  "response": {
                    "errors": [
                      {
                        "code": "BadRequest",
                        "message": "The requested packingGroupId does not exist for the specified inbound plan."
                      }
                    ]
                  }
                }
              ]
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "The resource specified does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              },
              "x-amzn-RateLimit-Limit": {
                "description": "Your rate limit (requests per second) for this operation.",
                "type": "string"
              }
            }
          },
          "500": {
            "description": "An unexpected condition occurred that prevented the server from fulfilling the request.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Indicates that access to the resource is forbidden. Possible reasons include Access Denied, Unauthorized, Expired Token, or Invalid Signature.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "413": {
            "description": "The request size exceeded the maximum accepted size.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "415": {
            "description": "The request payload is in an unsupported format.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "429": {
            "description": "The frequency of requests was greater than allowed.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Temporary overloading or maintenance of the server.",
            "schema": {
              "$ref": "#/definitions/ErrorList"
            },
            "headers": {
              "x-amzn-RequestId": {
                "description": "Unique request reference identifier.",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "fbaInbound"
        ],
        "description": "Sets packing information for an inbound plan. This should be called after an inbound plan is created to populate the box level information required for planning and transportation estimates.\n\n**Usage Plan:**\n\n| Rate (requests per second) | Burst |\n| ---- | ---- |\n| 2 | 2 |\n\nThe `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).",
        "operationId": "setPackingInformation"
      }
    },
    "/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Identifier of an inbound plan.",
            "in": "path",
            "maxLength": 38,
            "minLength": 38,
            "name": "inboundPlanId",
            "pattern": "^[a-zA-Z0-9-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The number of packing options to return in the response matching the given query.",
            "in": "query",
            "maximum": 20,
            "minimum": 1,
            "name": "pageSize",
            "type": "integer",
            "default": 10
          },
          {
            "description": "A token to fetch a certain page when there are multiple pages worth of results. The value of this token is fetched from the `pagination` returned in the API response. In the absence of the token value from the query parameter the API returns the first page of the result.",
            "in": "query",
            "maxLength": 1024,
            "minLength": 0,
            "name": "paginationToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ListPackingOptions 200 response",
            "schema": {
              "$ref": "#/definitions/ListPackingOptionsResponse"
            },
            "x-amzn-api-sandbox": {
              "static": [
                {
                  "request": {
                    "parameters": {
                      "inboundPlanId": {
                        "value": "wf1234abcd-1234-abcd-5678-1234abcd5678"
                      },
                      "pageSize": {
                        "value": 2
                      },
                      "paginationToken": {
                        "value": "paginationToken"
                      }
                    }
                  },
                  "response": {
                    "packingOptions": [
                      {
                        "packingOptionId": "po1234abcd-1234-abcd-5678-1234abcd5678",
                        "packingGroups": [
                          "pg1234abcd-1234-abcd-5678-1234abcd5678"
                        ],
                        "fees": [
                          {
                            "value": {
                              "code": "USD",
                              "amount": 1.0
                            },
                            "type": "FEE",
                            "target": "Placement Services",
                            "description": "description"
                          }
                        ],
                        "discounts": [
                          {
                            "value": {
                              "code": "USD",
                              "amount": 1.0
                            },
                            "type": "DISCOUNT",
                            "target": "Placement Services",
                            "description": "description"
                          }
                        ],
                        "expiration": "2024-01-01T00:00:00.000Z",
                        "status": "OFFERED",
                        "supportedShippingConfigurations": [
                          {
                            "shippingSolution": "AMAZON_PARTNERED_CARRIER",
                            "shippingMode": "GROUND_SMALL_PARCEL"
                          }
                        ],
                        "supportedConfigurations": [
                          {
                            "boxPackingMethods": [
                              "BOX_CONTENT_PROVIDED"
                            ],
                            "boxRequirements": {
                              "weight": {
                                "unit": "KG",
                                "minimum": 1.0,
                                "maximum": 25.0
                              }
                            },
                            "shippingRequirements": [
                              {
                                "solution": "USE_YOUR_OWN_CARRIER",
                                "modes": [
                                  "FREIGHT_LTL",
                                  "GROUND_SMALL_PARCEL"
                                ]
                              }
                            ]
                          },
                          {
                            "boxPackingMethods": [
                              "MANUAL_PROCESS",
                              "BARCODE_2D"
                            ],
                            "boxRequirements": {
                              "weight": {
                                "unit": "KG",
                                "minimum": 1.0,
                                "maximum": 15.0
                              }
                            },
                            "shippingRequirements": [
                              {
                                "solution": "USE_YOUR_OWN_CARRIER",
                                "modes": [
                                  "FREIGHT_LTL",
                                  "GROUND_SMALL_PARCEL"
                                ]
                              },
                              {
                                "solution": "AMAZON_PARTNERED_CARRIER",
                                "modes": [
                                  "GROUND_SMALL_PARCEL"
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "pagination": {
                      "nextToken": "nextPaginationToken"
                    }
                  }
                }
              ]
            },
            "headers": {
[...]
